---
title: Long-form end piece
---

<p>The long-form end piece marks the end of content in a long-form story. This pattern must be included.</p>

<h3>Rules for the long-form end piece</h3>
<ul>
	<li>Must be included at the end of the main content, above the <a href="../long-form-credits/index.html">credits</a>.</li>
	<li>Can be added to the last existing section with <code>&lt;div class="long-form__content"&gt;&lt;p class="end"&gt;8 February 2017&lt;/p&gt;&lt;/div&gt;</code>.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#long-form-end-piece-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/long-form-end-piece-options.options}}
</ul>

{{#long-form-end-piece-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> long-form-end-piece}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> long-form-end-piece}}</code></pre>
{{/long-form-end-piece-options.options}}