---
title: Digital Pattern Library
layout: _base.hbs
---


<div class="jumbotron" style="background-image: url({{asset "docs/images/dpl-banner.png"}}); background-size: cover; background-position: center 40%; color: white;">
  <div class="container">
    <h1>Digital pattern library</h1>
    <p>A consistent look and feel for digital products at the University of St Andrews.</p>
    <p><a href="using.html" class="btn btn-primary">Start using</a></p>
  </div>
</div>



<div class="container">
<div class="row">

  <div class="col-md-4 col-sm-6">

    <h2>Patterns</h2>

    <ul>
    	{{#each dpl-nav.items.0.items}}
    		<li><a href ="{{url}}">{{name}}</a></li>
    	{{/each }}
    </ul>



  </div>

  <div class="col-md-4 col-sm-6">
    <h2>Bootstrap theme</h2>

    <p>The pattern library is built on a custom <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> theme. To view the styling for standard Bootstrap components, view the following example pages:</p>

     <ul>
       <li><a href="examples/bootstrap.html">Bootstrap components</a></li>
       <li><a href="examples/bootstrap2.html">Advanced Bootstrap components</a></li>
     </ul>



  </div>

  <div class="col-md-4 col-sm-6">

    <h2>Documentation</h2>

    <ul>
      {{#each dpl-nav.items.1.items}}
        <li><a href ="{{url}}">{{name}}</a></li>
      {{/each }}
    </ul>

    <h2>Found a bug?</h2>

    <p>Use the bug report form to let us know.</p>
      
    <p><a href="http://www.st-andrews.ac.uk/~wwwtest/dpl/bugs/" class="btn btn-primary">Report a bug</a></p>
    

  </div>



</div>
</div>