---
title: Patterns page
layout: _base.hbs
core-assets: true
---
<div class="page-intro__wrapper">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading">Patterns</h1>
            <p class="lead">Patterns are simple, reusable solutions to specific design problems built to support the University of St Andrews website and web applications.</p>
        </div>
    </div>
</div>


{{> search-bar patterns-page.options}}
<div class="content container">
    <h2 class="sr-only">Categories</h2>
</div>
    <nav id="nav-top" class="sticky-nav affix-top" aria-label="Page content navigation">
        <div class="container">
            <div class="sticky-nav__toggle">
                <button class="sticky-nav__toggle-button" aria-expanded="false">Contents</button>
                <span id="sticky-nav__active-section"></span>
            </div>
            <ul class="sticky-nav__menu">
            {{#each patterns-page.categories}}
                <li><a href="#{{heading}}" class="sticky-nav__menu--link">{{heading}}</a></li>
            {{/each}}
            </ul>
        </div>
    </nav>

{{#each patterns-page.categories}}
<section id="{{heading}}" class="section__anchor--sticky" aria-labelledby="{{heading}}-heading">
    <div class="container margin-top--half">
        <h3>{{heading}}</h3>
        <p>{{{subheading}}}</p>
    </div>
    <div class="navbox-grid collapse-top collapse-bottom">
        <div class="container">
        	<div class="row">
                {{#each patterns}}
                    <div class="col-sm-4">
                        <!-- Begin pattern: navbox //-->
                        <div class="navbox">
                            <div class="navbox__image">
                                <img src="{{img}}" alt="Description">
                            </div>
                            <div class="navbox__title">
                                <a href="{{url}}"><span>{{name}}</span></a>
                            </div>
                        </div>
                    <!-- End pattern: navbox //-->
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
{{/each}}