---
title: Patterns page
layout: _base.hbs
core-assets: true
---

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Patterns</h2>
            <p>Patterns are simple, reusable solutions to specific design problems built to support the University of St Andrews website and web applications.</p>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Categories</h3>
                    <ul class="list-inline dpl-only">
                    {{#each patterns-page.categories}}
                        <li><a href="#{{heading}}" class="btn btn-{{class}}">{{heading}}</a></li>
                    {{/each}}
                    </ul>
                    <hr>
                    <!-- Begin pattern: form banner //-->
<div class="form-banner sta-blue-light">
    <div class="container dpl-form">
        <div class="row">
            
                <div class="text-center call-heading">Patterns search</div>
                <p class="text-center">Search for all the patterns we provide</p>
                <div class="col-md-12">
                    
                    <div class="form-group">
                        
                        <input id="form-banner-search" class="form-control" type="text" title="Search for all the patterns we offer" maxlength="256" name="form-banner-search" placeholder="Start typing to see patterns..." value="">
                    </div>
                    <div class="results">
                        <div class="row">
                            <div class="col-md-6 left-column">
                            </div>
                            <div class="col-md-6 right-column">
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                    </div>   
    </div>
</div>
<!-- End pattern: form banner //-->
                </div>
            </div>
        </div>
    </div>
</div>

{{#each patterns-page.categories}}
    <div class="container">
    	<div class="row">
            <div id="{{heading}}" class="col-md-12 col-sm-12">
                <h3>{{heading}}</h3>
                <p>{{{subheading}}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each patterns}}
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    <div class="navbox ">
                        <div class="navbox-image">
                            <img src="{{img}}" alt="Description">
                        </div>
                        <div class="navbox-title">
                            <a href="{{url}}">{{name}}</a>
                        </div>
                    </div>
                <!-- End pattern: navbox //-->
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}