---
title: Patterns page
layout: _base.hbs
core-assets: true
---

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>Pattern pages</h1>            
            <p>A collection of all patterns used to support the University of St Andrews website.</p>
            <p>Patterns are a simple, reusable solution to a design problem.</p>
        </div>
    </div>
</div>

{{#each patterns_page.categories}}
    <div class="container">
    	<div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>{{heading}}</h2>
                <p>{{subheading}}</p>
            </div>
        </div>    
    </div>
    <div class="container">
        <div class="row">      
                {{#each patterns}}
                    <div class="col-sm-4">
                        <!-- Begin pattern: navbox //-->                
                        <div class="navbox ">
                                <div class="navbox-image">
                                    <img src="{{img}}" alt="Description">
                                </div>
                            <div class="navbox-title">
                                <p><a href="{{url}}">{{name}}</a></p>
                            </div>
                        </div>                
                    <!-- End pattern: navbox //-->                
                    </div>
                {{/each}}
        	</div>
        </div>
    </div>
{{/each}}