---
title: Patterns page
layout: _base.hbs
core-assets: true
---
<div class="page-intro__wrapper">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading">Patterns</h1>
            <p class="lead">Patterns are simple, reusable solutions to specific design problems built to support the University of St Andrews website and web applications.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
                <div class="col-xs-12">
                    <h3>Categories</h3>
                    <ul class="list-inline dpl-only">
                    {{#each patterns-page.categories}}
                        <li><a href="#{{heading}}" class="btn btn-{{class}}">{{heading}}</a></li>
                    {{/each}}
                    </ul>
                </div>
    </div>
</div>

{{> search-bar patterns-page.options}}

{{#each patterns-page.categories}}
<div class="navbox-grid collapse-top">
    <div class="container">
    	<div class="row">
            <div id="{{heading}}" class="col-md-12 col-sm-12">
                <h3>{{heading}}</h3>
                <p>{{{subheading}}}</p>
            </div>
            {{#each patterns}}
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    <div class="navbox ">
                        <div class="navbox-image">
                            <img src="{{img}}" alt="Description">
                        </div>
                        <div class="navbox-title">
                            <a href="{{url}}">{{name}}</a>
                        </div>
                    </div>
                <!-- End pattern: navbox //-->
                </div>
            {{/each}}
        </div>
    </div>
</div>
{{/each}}