---
title: Using the pattern library
layout: _base.hbs
---
<div class="page-intro__wrapper">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading">Using the pattern library</h1>
            <p class="lead">In order to use the digital pattern library (DPL) on your website, you must link to the core CSS and JavaScript assets on each page of the site. This page explains your options.</p>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-8">

<h2>Integration steps</h2>
<ul>
    <li><a href="#quick-start">Quick start</a></li>
    <li><a href="#core">Link to core files</a></li>
    <li><a href="#css">CSS</a></li>
    <li><a href="#js">JavaScript</a></li>
    <li><a href="#cms">Content management systems</a></li>
    <li><a href="#third-party">Third-party applications</a></li>
</ul>

<hr>

<h3 id="quick-start">Quick start</h3>
<p>To quickly get set up and use the DPL, simply include the following lines of code within your web page or application.</p>

<h4>CSS</h4>
<p>Link to the CSS files (for screen and print) within <code>&lt;head&gt;</code>.</p>

<pre><code>&lt;link href="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/styles/screen.css" rel="stylesheet" type="text/css" media="screen" /&gt;
&lt;link href="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/styles/print.css" rel="stylesheet" type="text/css" media="print" /&gt;
</code></pre>

<h4>JavaScript</h4>
<p>Link to the JavaScript file at the end of your <code>&lt;body&gt;</code> element.</p>

<pre><code>&lt;script src="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/scripts/core.js"&gt;&lt;/script&gt;
&lt;/body&gt;</code></pre>

<hr>
<h3 id="core">Link to core files</h3>

<h4>CDN path</h4>
<p>You should link to the CDN versions of the core files, if possible. This takes advantage of users having already cached a copy of the core assets and also makes your project easier to update in the future.</p>

<p>Links to the CDN assets have the form: <code>&lt;endpoint&gt;/&lt;package&gt;/&lt;version&gt;/&lt;path-to-asset&gt;/</code>.</p>

<dl class="paired-values-list">
    <dt class="paired-values-list__name">Endpoint</dt>
    <dd class="paired-values-list__value"><code>{{ pkg.cdn.endpoint }}</code></dd>
    <dt class="paired-values-list__name">Package</dt>
    <dd class="paired-values-list__value"><code>{{ pkg.cdn.package }}</code></dd>
    <dt class="paired-values-list__name">Version</dt>
    <dd class="paired-values-list__value"><code>{{ pkg.version }}</code></dd>
</dl>
<p>The most up-to-date version of the DPL can be found at:</p>

<pre><code class="pattern-source html">{{ pkg.cdn.endpoint }}/{{ pkg.cdn.package }}/{{ pkg.version }}/</code></pre>

<h4>Build core files from source</h4>
<p>If something prevents you from linking to the CDN files and you need 

build the core files from source, you can access the source code via Git and then follow the <a href="https://github.com/standrewsdigital/digital-pattern-library/blob/master/CONTRIBUTING.md">contributing</a> guide to set up Grunt to build the files. You may then copy the files in the `build` folder into your project.</p>

<hr>
<h3 id="css">CSS</h3>

<p>This contains all the CSS needed to support the DPL: Bootstrap, Bootstrap theme, print styles and all patterns.</p>

<pre><code>&lt;link href="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/styles/screen.css" rel="stylesheet" type="text/css" media="screen" /&gt;   
&lt;link href="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/styles/print.css" rel="stylesheet" type="text/css" media="print" /&gt;</code></pre>


<hr>
<h3 id="js">JavaScript</h3>
<p>There are three JavaScript options.</p>

             <!-- Begin pattern: accordion group //-->
             <button class="accordion-group__toggle" aria-expanded="false">Open all</button>
<ul class="accordion-group accordion-group__toggle-container">
    <li class="accordion-item">
                <div class="accordion-item__toggle">
                    <h3 class="accordion-item__toggle-title">
                        <button class="accordion-item__toggle-button" aria-expanded="false" aria-controls="">Everything (default)</button>
                    </h3>
                </div>
                <div class="accordion-item__content" id="" aria-hidden="true">
        <p>This option includes all the JavaScript needed in one file. It includes:</p>
        <ul>
            <li><strong>jQuery core</strong></li>
            <li><strong>jQuery plugins</strong></li>
            <li><strong>Bootstrap JavaScript</strong></li>
            <li><strong>Patterns JavaScript</strong></li>
        </ul>

        <pre><code>&lt;script src="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/scripts/core.js" type="text/javascript"&gt;&lt;/script&gt;</code></pre>
    </div>
</li>
   <li class="accordion-item">
                <div class="accordion-item__toggle">
                    <h3 class="accordion-item__toggle-title">
                        <button class="accordion-item__toggle-button" aria-expanded="false" aria-controls="">No jQuery</button>
                    </h3>
                </div>
                <div class="accordion-item__content" id="" aria-hidden="true">
        <p>This option is for those who need to use the DPL within an application that already pulls in the jQuery core library. This version includes:</p>

        <ul>
            <li><strong>jQuery plugins</strong></li>
            <li><strong>Bootstrap JavaScript</strong></li>
            <li><strong>Patterns JavaScript</strong></li>
        </ul>        

        <pre><code>&lt;script src="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/scripts/core-nojquery.js" type="text/javascript"&gt;&lt;/script&gt;</code></pre>
    </div>
</li>
<li class="accordion-item">
                <div class="accordion-item__toggle">
                    <h3 class="accordion-item__toggle-title">
                        <button class="accordion-item__toggle-button" aria-expanded="false" aria-controls="">Patterns only</button>
                    </h3>
                </div>
                <div class="accordion-item__content" id="" aria-hidden="true">
        <p>This option includes only the JavaScript required for the patterns. It is for those who need fine control over which elements are included.</p>

        <ul>
            <li><del>Bootstrap JavaScript</del></li>
            <li><strong>Patterns JavaScript</strong></li>
        </ul>   

        <pre><code>&lt;script src="{{pkg.cdn.endpoint}}/{{pkg.cdn.package}}/{{pkg.version}}/scripts/core-base.js" type="text/javascript"&gt;&lt;/script&gt;</code></pre>

        <p style="margin-top: 1em;">If you use this version then you will need to include any required dependencies manually:</p>

        <ul>
            <li><a href="http://jquery.com/">jQuery</a> (v3.1.1)</li>
            <li>jQuery <a href="https://github.com/leevigraham/jquery-bigTarget.js/">Big Target</a> (v1.1)</li>
            <li>jQuery <a href="https://github.com/davatron5000/FitVids.js">FitVids</a> (v1.2)</li>
            <li>jQuery <a href="https://github.com/standrewsdigital/jquery-theatre">Theatre</a> (v1.0.1) - deprecated</li>
            <li><a href="https://github.com/twbs/bootstrap-sass">Bootstrap-Sass</a> (v3.3.7)</li>
            <li><a href="https://github.com/WickyNilliams/enquire.js">Enquire.js</a> (v2.1.2)</li>
            <li><a href="http://hammerjs.github.io/">Hammer.js</a> (v.2.0.4)</li>
            <li><a href="https://github.com/lokesh/lightbox2/">Lightbox.js</a> (v2.9.0)</li>
            <li><a href="https://github.com/scottjehl/Respond">Respond.js</a> (v1.4.0)</li>
            <li><a href="https://github.com/aFarkas/lazysizes">Lazysizes.js</a> (v.4.0.2)</li>
            <li><a href="https://github.com/scottaohara/accessible_modal_window">Accessible modal window</a> 3.4.0</li>
        </ul>

        <p>See the <code>Gruntfile.js</code> to determine which additional JavaScript pieces are rolled into <code>core.js</code>.</p>

        <p>The following package is supported but not required:</p>
        <ul>
            <li><a href="https://www.datatables.net/">jQuery DataTables</a> (v1.10.13) is supported and the digital communications team provides additional JavaScript and CSS to match the pattern library. See <a href="patterns/datatables/index.html">DataTables</a> for more information.</li>
        </ul>
    </li>
</ul>
<!-- End pattern: accordion //-->

<hr>
<h3 id="cms">Content management systems</h3>

<p>The pattern library is agnostic of platform. Integrating the pattern library with a content management system such as WordPress or T4 must follow these rules:</p>

<ul>
    <li>The core CSS and JavaScript files must be referenced from the CDN. A local copy must not be stored within the content management system.</li>
    <li>Naming conventions for the patterns must be mirrored in the content management system themes and templates. If the name of a pattern is changed, this must also be updated in the content management system.</li>
    <li>The code of a pattern (HTML, CSS, JavaScript) must not be added to or modified, other than to allow the content to be edited, for example, by the addition of tags to indicate editable areas.</li>
</ul>

<hr>
<h3 id="third-party">Third-party applications</h3>
<p>The digital communications team must be consulted when using the pattern library with third-party applications, which often offer limited customisation. It may only be possible to use certain elements of the pattern library such as the header and footer. At the very minimum the digital communications team would expect the following patterns to be applied to a third-party application:</p>
<ul>
    <li><a href="patterns/header/index.html">Header</a></li>
    <li><a href="colours.html">Colours</a></li>
    <li><a href="patterns/typefaces/index.html">Typefaces</a></li>
    <li><a href="patterns/typography/index.html">Typography</a></li>
    <li><a href="patterns/footer/index.html">Footer</a></li>
</ul>

<!-- END -->
        </div><!-- end cols -->
    </div><!-- end row -->
</div><!-- end container -->