<!-- Begin pattern: tabs //-->
<div class="container">
    <div class="row">
        <div class="{{class}}">
            <div class="tabs-container {{read-shared-class}}">
                <ul class="nav nav-tabs" role="tablist">
                {{#each tabs}}
                    <li class="{{class}}" role="presentation"><a{{{selected}}} href="#{{id}}" data-toggle="tab" aria-controls="{{id}}" role="tab">{{name}}</a></li>
                {{/each}}
                </ul>

                <div class="tab-content">
                {{#each tabs}}
                    <div class="tab-pane fade {{class}}" id="{{id}}" role="tabpanel">
                        {{{tab-content}}}
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End pattern: tabs //-->