---
title: Tabs
---

<p>The tabs pattern organises similar pieces of content that do not need to be shown to the user simultaneously. Users can move between tabs to see each piece of content</p>

<h3>Rules for tabs</h3>
<ul>
    <li>Use tabs when you want to show content that is related but isn't meant to be compared by the user.</li>
    <li>There should be between two and five tabs, as long as there isn't more than one row.</li>
    <li>Tabs must only be used for text-based content.</li>
    <li>This pattern should only be used in the main body of text, not in the aside.</li>
</ul>

<h3>Options available</h3>
<ul>
{{# tabs-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/ tabs-options.options}}
</ul>

{{#tabs-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> tabs}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> tabs}}</code></pre>
<!--endnoindex-->
{{/tabs-options.options}}