---
title: Tabs
---

<p class="lead">The tabs pattern organises similar pieces of content that do not need to be shown to the user simultaneously. Users can move between tabs to see each piece of content</p>

<h3>Rules for tabs</h3>
<ul>
    <li>Use tabs when you want to show content that is related but isn't meant to be compared by the user.</li>
    <li>There should be between two and five tabs, provided tabs do not wrap onto multiple rows when displayed horizontally.</li>
    <li>Tabs are displayed vertically on small displays. This behaviour can be overridden by adding the class <code>.nav-tabs--full-width</code>.</li>
</ul>

<h3>Options available</h3>
<ul>
{{# tabs-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/ tabs-options.options}}
</ul>

{{#tabs-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> tabs}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> tabs}}</code></pre>
<!--endnoindex-->
{{/tabs-options.options}}