---
title: Font Awesome
---

<blockquote>
	<p>Font Awesome provides scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p>
	<footer>Font Awesome website</footer>
</blockquote>

<p>Use Font Awesome icons to accent elements on webpages and web applications. See below for examples and the list of approved icons. For more information on the thought process behind the application of icons, please refer to our <a href="http://digitalcommunications.wp.st-andrews.ac.uk/2015/12/19/flaws-in-ux-design-standards-icons/">blog post</a>.</p>

<h3>Rules for Font Awesome</h3>
<ul>
    <li>Must only use the approved icons below.</li>
    <li>May use icons to accent existing elements.</li>
    <li>Basic functionality may use independent icons.</li>
    <li>Complex interactions must use text.</li>
    <li>Complex interactions may use icons to accompany text.</li>
</ul>

<p>You may use any of the approved icons with <code>&lt;i class="fa fa-icon-name" title="icon title"&gt;</code>. See the <a href="http://fontawesome.io/examples/">Font Awesome</a> website for more ways to configure the icons.</p>

<h3>Requesting more icons</h3>
<p>If you would like to use an icon that is not on the approved list (below) please contact the <a href="http://digitalcommunications.wp.st-andrews.ac.uk/about/">digital communications team</a>.</p>


<h3>Options available</h3>
<ul>
{{#font-awesome-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/font-awesome-options.options}}
</ul>


{{#font-awesome-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> font-awesome}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> font-awesome}}</code></pre>
{{/font-awesome-options.options}}