---
title: Staff profile
---

<p>The staff profile pattern is used to display a list of governance staff. This pattern includes a short biography excerpt, contact details, and a link to each staff member’s full biography page.</p>


<h3>Rules for staff profiles</h3>
<ul>
    <li>Must only be used in the main body of the page.</li>
    <li>Must only be used on the <a href="//www.st-andrews.ac.uk/about/governance/">governance pages</a>.</li>
	<li>The biography excerpt should be no more than 140 characters.</li>
	<li>The profile image must be 200 &times; 200 pixels.</li>
	<li>An image must be present if using a link to a full biography.</li>
	<li>The heading link and the full biography link must be the same.</li>
	<li>Contact information should be present if available.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#staff-profile-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/staff-profile-options.options}}
</ul>

{{#staff-profile-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> staff-profile}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> staff-profile}}</code></pre>
{{/staff-profile-options.options}}