---
title: Staff profile
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The staff profile pattern is used to display information about an individual with an emphasis on the role and biography. This pattern includes a short biography excerpt, contact details, and an optional link to each staff member’s full biography page. If the emphasis is instead to provide contact details then the <a href="../contact-card/index.html">Contact Card pattern</a> should be considered.</p>


<h2>Rules for staff profiles</h2>
<ul>
    <li>Must only be used in the main body of the page.</li>
	<li>The biography excerpt must not exceed 550 characters.</li>
	<li>If a biography excerpt exceeds 550 characters, and there is a user case to include all information, then a standalone biography page should be considered as an alternative.</li>
	<li>The profile image must be 200 &times; 200 pixels.</li>
	<li>Photographs must be headshots of the individual named in the card and of professional quality.</li>
	<li>The heading link and the full biography link must link to the same page.</li>
	<li>Contact information should be present if available.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#staff-profile-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/staff-profile-options.options}}
</ul>
</div>
</div>
{{#staff-profile-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> staff-profile}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> staff-profile}}
```
{{/markdown}}
<!--endnoindex-->
{{/staff-profile-options.options}}