<!-- Begin pattern: staff-profile //-->
{{#each profile}}
<div class="staff-profile">
        <div class="staff-profile__details">
            {{#if call-to-action}}
                <h3 class="staff-profile__heading"><a href="#">{{person-title}}</a></h3>
            {{else}}
                <h3 class="staff-profile__heading">{{person-title}}</h3>
            {{/if}}
            <h4 class="staff-profile__subheading">{{person-name}}</h4>
            <p class="staff-profile__intro">{{bio}}
            {{#if call-to-action}}
                <br><a href="#">{{call-to-action.text}}</a>
            {{/if}}
            </p>
        </div>
        {{#if image}}
        <div class="staff-profile__image">
            <img src="{{asset image.url}}" alt="{{image.alt}}">
        </div>
        {{/if}}
        {{#if contact-info}}
        <div class="staff-profile__contact">
            <dl class="paired-values-list">
                <dt class="paired-values-list__name selected">Email:</dt>
                <dd class="paired-values-list__value"><a href="mailto:#">example@st-andrews.ac.uk</a></dd>
                <dt class="paired-values-list__name selected">Phone:</dt>
                <dd class="paired-values-list__value">+44 (0)1334 46 xxxx</dd>
            </dl>
        </div>
        {{/if}}
</div>
{{/each}}
<!-- End pattern: staff-profile //-->