<!-- Begin pattern: staff-profile //-->

<div class="staff-profile">
    {{#if call-to-action}}
        <h3><a href="#">{{person-title}}</a></h3>
    {{else}}
        <h3>{{person-title}}</h3>
    {{/if}}
    <div class="row">
        <div class="col-sm-7 staff-details">
            <h4>{{person-name}}</h4>
            <p>{{bio }}</p>
            {{#if contact-info}}
            <h4>Contact</h4>
            <dl>
                {{#contact-info}}
                <dt>Email: </dt><dd><a href="mailto:#">example@example.com</a></dd>
                <dt>Phone: </dt><dd>+44 (0)1334 46 xxxx</dd>
                <dt>Fax: </dt><dd>+44 (0)1334 46 xxxx</dd>
                {{/contact-info}}
            </dl>
            {{/if}}
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-5 text-center">
            {{#if image}}
                <img src="{{asset image.url}}" alt="{{image.alt}}">
            {{/if}}
            {{#if call-to-action}}
                <p><a href="#" class="btn btn-primary btn-lg">{{call-to-action.text}}</a></p>
            {{/if}}
        </div>
    </div>
    <hr/>
</div>

<!-- End pattern: staff-profile //-->