---
title: Staff profile
---

<p>The staff profile pattern is used to display a list of staff with a short biography excerpt, contact details, and provide a link to their full biography page.</p>

<ul>
    <li>Must only be used in the main content of the page.</li>
    <li>Must only be used on the governance pages.</li>
	<li>The biography excerpt should be no more than 140 characters.</li>
	<li>The profile image must be 200 by 200 pixels.</li>
	<li>If using a call-to-action, an image must be present as well.</li>
	<li>The call-to-action must link to the same page as the heading link.</li>
	<li>Contact information should be present if available.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#staff-profile-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/staff-profile-options.options}}
</ul>

{{#staff-profile-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> staff-profile}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> staff-profile}}</code></pre>
{{/staff-profile-options.options}}