---
title: KIS widget
---

<p>The Key Information Set, or KIS, comprises the items of information that  students have said they find most useful when making choices about which course to study. See the <a href="https://unistats.direct.gov.uk/find-out-more/key-information-set">Unistats</a> website for more information.</p>

<h3>Rules for the KIS widget</h3>
<p>The KIS widget is a legal requirement for all undergraduate course pages and must only be used on these pages.</p>

<h3>Options available</h3>
<ul>
{{#kis-widget-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/kis-widget-options.options}}
</ul>

{{#kis-widget-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> kis-widget}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> kis-widget}}</code></pre>
{{/kis-widget-options.options}}
