---
title: Panel
---

<p class="lead">The panel pattern comprises a heading or image, both with a description. Panels may be used in asides for additional information or combined together to form a <a href="../panel-grid/index.html">panel grid</a>.</p>

<h2>Rules for panels</h2>
<ul>
	<li>Individual panels must only be used in asides.</li>
	<li>Multiple panels must not be used in asides.</li>
	<li>Individual panels must not be used in the main body of pages.</li>
	<li><a href="../panel-grid/index.html">Panel grid</a> pattern must be used to feature multiple panels on a page.</li>
	<li>Any combination of coloured panels can be used on a <a href="../panel-grid/index.html">panel grid</a>.</li>
	<li>Panels with images must only appear in asides.</li>
	<li>Panel headings may also be linked, this will add a chevron to indicate the available action.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#panel-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/panel-options.options}}
</ul>

{{#panel-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}    
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
<div class="row">
		{{> panel}}
</div>	
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> panel}}</code></pre>
<!--endnoindex-->
{{/panel-options.options}}