{{#if grid}}
<div class="panel-grid">
{{/if ~}}
{{#each panels}}
<!-- Begin pattern: panel //-->
<div class="{{column-size}}">
{{#if image}}
	<div class="panel">
		<div class="panel-image">
        	<img src="{{image.url}}" alt="{{image.alt}}">
        </div>
{{else}}
	<div class="panel {{color}}">
		<div class="panel-heading">
			<h3 class="panel-title">{{#if link}}<a href="#">{{/if}}{{title}}{{#if link}}</a>{{/if}}</h3>
		</div>
{{/if}}
		<div class="panel-body">
			{{{description}}}
		</div>
	</div>
</div>
<!-- End pattern: panel //-->
{{/each ~}}
{{#if grid}}</div>{{/if ~}}