{{#if grid}}<div class="panel-grid">{{/if}}
{{#if grid-row}}<div class="row">{{/if}}
<!-- Begin pattern: panel //-->
{{#each panels}}
<div class="{{column-size}}">
{{#if image}}
	<div class="panel">
		<div class="panel-image">
        	<img src="{{image.url}}" alt="{{image.alt}}">
        </div>
{{else}}
	<div class="panel {{color}}">
		<div class="panel-heading">
			<h3 class="panel-title">{{#if link}}<a href="#">{{/if}}{{title}}{{#if link}}</a>{{/if}}</h3>
		</div>
{{/if}}
		<div class="panel-body">
			{{{description}}}
		</div>
	</div>
</div>
{{/each}}
<!-- End pattern: panel //-->
{{#if grid-row}}</div>{{/if}}
{{#if grid}}</div>{{/if}}