---
title: Category header
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The category header pattern contains the name of the current category or section of a website or application and should link to the corresponding top-level page.</p>

<h3>Rules for the category header</h3>
<ul>
    <li>Must be used directly below the header and before the navigation bar.</li>
    <li>The link must always navigate to the top-level page of the current category or section.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#category-header-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/category-header-options.options}}
</ul>
</div>
</div>
{{#category-header-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{>  category-header}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> category-header}}</code></pre>
<!--endnoindex-->
{{/category-header-options.options}}
