<!-- Begin pattern: category-header //-->
<nav id="category-header" aria-label="Category header">
{{#if transparent}}<div class="transparent-overlay">
    	<div class="container">
        	<h2><a href="{{url}}">{{title}}</a></h2>
    	</div>
    </div>
    {{else}}
    <div class="container">
        {{{text-start}}}<a href="{{url}}">{{title}}</a>{{{text-end}}}
    </div>{{/if}}
</nav>
<!-- End pattern: category-header //-->