<!-- Begin pattern: category-header //-->
<nav {{#if class}}class="{{class}}"{{/if}} id="category-header" aria-label="Category header">
	{{#if transparent}}<div class="transparent-overlay">
    	<div class="container">
        	<h2><a href="{{url}}">{{title}}</a></h2>
    	</div>
    </div>
    {{else}}
    <div class="container">
        <h2><a href="{{url}}">{{title}}</a></h2>
    </div>{{/if}}
</nav>
<!-- End pattern: category-header //-->