---
title: Tables - DataTables
---

<p><a href="https://datatables.net/">DataTables</a> is a jQuery plugin that adds interactive controls to an HTML table.</p>

<p>DataTables may be used for displaying large amounts of data across multiple columns, but it is suitable for any sized data set. DataTables will enable your tables to be viewable on mobile devices. It does this by hiding columns, starting from the right side, and showing those when you click on the arrow.</p>

<ul>
    <li>You must use only text-based content within tables.</li>
    <li>See the <a href="../tables/index.html">Tables</a> pattern for available colour options.</li>
</ul>

<h3>How to use</h3>
<p>Include the following files in the <code>head</code> of the page.</p>
<ul>
	<li>JavaScript: <code>{{ pkg.cdn.endpoint }}/{{ pkg.cdn.package }}/{{pkg.version}}/scripts/datatables.js</code></li>
	<li>CSS: <code>{{ pkg.cdn.endpoint }}/{{ pkg.cdn.package }}/{{pkg.version}}/styles/datatables.css</code></li>
</ul>

<p>Add the class <code>dataTable</code> to your table.</p>

{{# datatables-options.options}}
<hr>
<h3 id={{option-anchor}}>{{option-heading}}</h3>
{{{option-description}}}
{{> datatables}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> datatables}}</code></pre>
{{/ datatables-options.options}}