<!-- Begin pattern: datatables //-->
<table id="example" class="{{table-class}} table table-hover table-primary dpl-form" role="grid" aria-describedby="example_info">
    <thead>
        <tr role="row">
        {{#each table-head}}
            <th class="{{head-class}}" tabindex="0" aria-controls="example" {{#if aria-sort}} aria-sort="ascending" {{/if}} aria-label="{{label}}">{{heading}}</th>
        {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each table-row}}
        <tr role='row' class='{{row-class}}'>
            <td class='sorting_1'>{{name}}</td>
            <td>{{job-title}}</td>
            <td>{{city}}</td>
            {{#if age}}
            <td>{{age}}</td>
            {{/if}}
            {{#if start-date}}
            <td>{{start-date}}</td>
            {{/if}}
            <td class="dt-body-right">&pound;{{salary}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- End pattern: datatables //-->