---
title: Tables - DataTables
---

<p class="lead"><a href="https://datatables.net/">DataTables</a> is a jQuery plugin that adds interactive controls to an HTML table.</p>

<p>DataTables may be used for displaying large amounts of data across multiple columns, but it is suitable for any sized data set. DataTables will enable your tables to be viewable on mobile devices. It does this by hiding columns, starting from the right side, and showing them when you click on the arrow.</p>

<h2>Rules for DataTables</h2>
<ul>
    <li>Only text-based content must be used within tables.</li>
    <li>See the <a href="../tables/index.html">tables pattern</a> for available colour options.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#datatables-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/datatables-options.options}}
</ul>

{{#datatables-options.options}}
<hr>
<h3 id={{option-anchor}}>{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> datatables}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> datatables}}</code></pre>
<!--endnoindex-->
{{/datatables-options.options}}