<!-- Begin pattern: hero-banner //-->                                  
<section class="hero-section">
    <figure>
    <picture>
      <source srcset="{{asset bg-image}}1920x600.jpg" media="(min-width: 640px)">
      <img src="{{asset bg-image}}750x500.jpg" alt="">
    </picture>
    {{#if caption}}
    <figcaption>{{caption}}</figcaption>
    {{/if}}
    </figure>
    <div class="container">
        <div class="hero-section__content">
            <h2 class="hero-section__heading">{{default heading "[heading]"}}</h2>
        {{#if intro-buttons}}
            <div class="hero-section__content-group">
            <p class="hero-section__intro">{{default paragraph "[paragraph]"}}</p>
            {{#if action-text}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a>
            {{/if}}
            {{#if action-text-2}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text-2 "[action-text-2]"}}</a>
            {{/if}}
            </div>
        {{/if}}
        </div>
    </div>
</section>
<!-- End pattern: hero-banner //-->