
<!-- Begin pattern: hero-banner //-->

<div class="hero-banner" {{#if bg-image}}style="background-image: url({{asset bg-image}});"{{/if}}>
  <div class="container">
    <div class="call-heading">{{default heading "[heading]"}}</div>
    <p>{{default paragraph "[paragraph]"}}</p>
    <p><a class="btn btn-primary btn-lg" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a></p>
  </div>
</div>

<!-- End pattern: hero-banner //-->
