<!-- Begin pattern: hero-banner //-->
  <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a href="#tab-1" data-toggle="tab" aria-controls="home" role="tab">Image 1</a></li>
                    <li class="" role="presentation"><a href="#tab-2" data-toggle="tab" aria-controls="home" role="tab">Image 2</a></li>
                    <li class="" role="presentation"><a href="#tab-3" data-toggle="tab" aria-controls="home" role="tab">Image 3</a></li>
                    <li class="" role="presentation"><a href="#tab-4" data-toggle="tab" aria-controls="home" role="tab">Image 4</a></li>
                    <li class="" role="presentation"><a href="#tab-5" data-toggle="tab" aria-controls="home" role="tab">Image 5</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel" style="padding:0;border:0;">
                    
<section class="hero-section {{test}}">
    <figure>
    <picture>
      <source srcset="{{asset bg-image}}hero1/1920x600.jpg" media="(min-width: 640px)">
      <img src="{{asset bg-image}}hero1/750x500.jpg" alt="">
    </picture>
    <figcaption>Caption is optional</figcaption>
    </figure>
    <div class="container">
        <div class="hero-section__content">
            <h2 class="hero-section__heading">{{default heading "[heading]"}}</h2>
            <p class="hero-section__intro">{{default paragraph "[paragraph]"}}</p>
            {{#if action-text}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a>
            {{/if}}
            {{#if action-text-2}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text-2 "[action-text-2]"}}</a>
            {{/if}}
        </div>
    </div>
</section>

</div>
<div class="tab-pane fade" id="tab-2" role="tabpanel" style="padding:0;border:0;">
                    
<section class="hero-section {{test}}">
    <figure>
    <picture>
      <source srcset="{{asset bg-image}}hero2/1920x600.jpg" media="(min-width: 640px)">
      <img src="{{asset bg-image}}hero2/750x500.jpg" alt="">
    </picture>
    <figcaption>Caption is optional</figcaption>
    </figure>
    <div class="container">
        <div class="hero-section__content">
            <h2 class="hero-section__heading">{{default heading "[heading]"}}</h2>
            <p class="hero-section__intro">{{default paragraph "[paragraph]"}}</p>
            {{#if action-text}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a>
            {{/if}}
            {{#if action-text-2}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text-2 "[action-text-2]"}}</a>
            {{/if}}
        </div>
    </div>
</section>

</div>
<div class="tab-pane fade" id="tab-3" role="tabpanel" style="padding:0;border:0;">
                    
<section class="hero-section {{test}}">
    <figure>
    <picture>
      <source srcset="{{asset bg-image}}hero3/1920x600.jpg" media="(min-width: 640px)">
      <img src="{{asset bg-image}}hero3/750x500.jpg" alt="">
    </picture>
    <figcaption>Caption is optional</figcaption>
    </figure>
    <div class="container">
        <div class="hero-section__content">
            <h2 class="hero-section__heading">{{default heading "[heading]"}}</h2>
            <p class="hero-section__intro">{{default paragraph "[paragraph]"}}</p>
            {{#if action-text}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a>
            {{/if}}
            {{#if action-text-2}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text-2 "[action-text-2]"}}</a>
            {{/if}}
        </div>
    </div>
</section>

</div>
<div class="tab-pane fade" id="tab-4" role="tabpanel" style="padding:0;border:0;">
                    
<section class="hero-section {{test}}">
    <figure>
    <picture>
      <source srcset="{{asset bg-image}}hero4/1920x600.jpg" media="(min-width: 640px)">
      <img src="{{asset bg-image}}hero4/750x500.jpg" alt="">
    </picture>
    <figcaption>Caption is optional</figcaption>
    </figure>
    <div class="container">
        <div class="hero-section__content">
            <h2 class="hero-section__heading">{{default heading "[heading]"}}</h2>
            <p class="hero-section__intro">{{default paragraph "[paragraph]"}}</p>
            {{#if action-text}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a>
            {{/if}}
            {{#if action-text-2}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text-2 "[action-text-2]"}}</a>
            {{/if}}
        </div>
    </div>
</section>

</div>
<div class="tab-pane fade" id="tab-5" role="tabpanel" style="padding:0;border:0;">
                    
<section class="hero-section {{test}}">
    <figure>
    <picture>
      <source srcset="{{asset bg-image}}hero5/1920x600.jpg" media="(min-width: 640px)">
      <img src="{{asset bg-image}}hero5/750x500.jpg" alt="">
    </picture>
    <figcaption>Caption is optional</figcaption>
    </figure>
    <div class="container">
        <div class="hero-section__content">
            <h2 class="hero-section__heading">{{default heading "[heading]"}}</h2>
            <p class="hero-section__intro">{{default paragraph "[paragraph]"}}</p>
            {{#if action-text}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a>
            {{/if}}
            {{#if action-text-2}}
            <a class="{{button-style}}" href="{{default action-url "[action-url]"}}">{{default action-text-2 "[action-text-2]"}}</a>
            {{/if}}
        </div>
    </div>
</section>

</div>


</div>
<!-- End pattern: hero-banner //-->