---
title: Hero banner
---


<p class="lead">The hero banner pattern displays a large heading, introductory text and a call-to-action over a large background image.</p>

<h2>Rules for hero banner</h2>
<ul>
    <li>Hero banners must only be used at the top of a page directly under the <a href='../navigation-bar/index.html'>navigation bar</a>.</li>
    <li>Breadcrumbs must not be used on pages featuring a hero banner.</li>
    <li>Hero banners must only be used on the home page of a web site.</li>
    <li>Only the specified colours for the heading text may be used, applying the appropriate class.<br>
    <dl class="paired-values-list">
        <dt class="paired-values-list__name"><b>Blue</b></dt>
        <dd class="paired-values-list__value">no class required (default value)</dd>
        <dt class="paired-values-list__name"><b>Burgundy</b></dt>
        <dd class="paired-values-list__value"><code>hero-section__heading--burgundy</code></dd>
        <dt class="paired-values-list__name"><b>Green</b></dt>
        <dd class="paired-values-list__value"><code>hero-section__heading--green</code></dd>
        <dt class="paired-values-list__name"><b>Orange</b></dt>
        <dd class="paired-values-list__value"><code>hero-section__heading--orange</code></dd>
        <dt class="paired-values-list__name"><b>Purple</b></dt>
        <dd class="paired-values-list__value"><code>hero-section__heading--purple</code></dd>
    </dl>
    </li>
    <li>A second optional call-to-action can be included if required.</li>
    <li>Introduction paragraph text is required if any call-to-action buttons are used.</li>
</ul>
<h3>Image guidelines</h3>
<ul>
    <li>The hero banner uses two different sized images to provide greater design control accross different screen sizes. These sizes are -
        <ul>
            <li>1920 pixels wide and 600 pixels high</li>
            <li>750 pixels wide and 500 pixels high.</li>
        </ul>
    </li>
    <li>Both sized images must be included - there is no default image.</li>
    <li>Multiple images must not be combined (for example, to form a collage).</li>
    <li>Photographs including people are encouraged in the hero banner.</li>
    <li>Close ups of subjects, such as people's faces, are discouraged. The hero banner image should have room to breathe.</li>
</ul>

<h3>Text guidelines</h3>
<ul>
    <li>The hero banner heading must not exceed 39 characters.</li>
    <li>The hero banner paragraph text must not exceed 230 characters.</li>
    <li>There must only be one paragraph on a hero banner.</li>
    <li>The text must never expand beyond the height of the hero banner as this will result in partial obscuring of the text.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#hero-banner-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/hero-banner-options.options}}
</ul>

{{#hero-banner-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
    {{> hero-banner}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> hero-banner}}</code></pre>
<!--endnoindex-->
{{/hero-banner-options.options}}