---
title: Fonts
---

<p>There are two main typefaces used across the University website.</p>

<h3>Primary University typeface</h3>

The University of St Andrews' primary typeface for web is PT Sans.

This typeface should mainly be used for large and small headings. The common equivalent typeface available on all computers is <b>Arial</b>.

<h3>Secondary University typeface</h3>

The University of St Andrews' secondary typeface for web is PT Serif.

The common equivalent typeface available on all computers is <b>Georgia</b>.

<h3>Options available</h3>
<ul>
{{#fonts-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/fonts-options.options}}
</ul>

{{#fonts-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> fonts}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> fonts}}</code></pre>
{{/fonts-options.options}}