---
title: Typefaces
---

<p>There are two main typefaces used across the University website.</p>

<h3>Primary University typeface</h3>

<p>The University of St Andrews' primary typeface for web is <b>PT Sans</b>. This typeface must be used for body text and headings.</p>

<p>The common equivalent typeface available on all computers is <b>Arial</b>.</p>

<h3>Secondary University typeface</h3>

<p>The University of St Andrews' secondary typeface for web is <b>PT Serif</b>. This typeface must be used for <a href="../category-header/index.html">category header</a> sections and content on <a href="../long-form-sections/index.html">long-form</a> pages.</p>

<p>The common equivalent typeface available on all computers is <b>Georgia</b>.</p>

<h3>Options available</h3>
<ul>
{{#fonts-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/fonts-options.options}}
</ul>

{{#fonts-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> fonts}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> fonts}}</code></pre>
{{/fonts-options.options}}