---
title: Form errors
---

<div class="row">
	<div class="col-md-8">
<p class="lead">This pattern is the style for showing form validation errors.</p>

<h2>Rules for form errors</h2>
<ul>
	<li>The error summary must help the user understand why the error occurred and what to do about it.</li>
	<li>The error summary must include a heading to alert the user of the specific error.</li>
	<li>The error summary must link to each of the problematic form answers.</li>
	<li>Additional error text must appear above the input field for each invalid form answer.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#form-errors-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/form-errors-options.options}}
</ul>
</div>
</div>
{{#form-errors-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{>  form-errors}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> form-errors}}
```
{{/markdown}}
<!--endnoindex-->
{{/form-errors-options.options}}