<div class="alert alert-danger" role="alert" aria-labelledby="summary-heading-example-2" tabindex="-1">
    <h3 id="{{id}}" class="alert__heading">Incomplete personal details</h3>
    <p>Optional description of errors and how to correct them.</p>
    <ul>
    {{#each error-message}}
        <li><a href="{{link}}">{{text}}</a></li>
    {{/each}}
    </ul>
</div>
<form class="dpl-form">
    <fieldset>
        <legend>{{{legend}}}</legend>
        <div class="row">
            <div class="col-xs-12">
                {{#each input-field}}
                <div class="{{class}}">
                    <label for="{{id}}" id="{{id}}">{{label-text}}</label>
                    {{#if help-block}}
                    <span class="help-block">{{help-block}}</span>
                    {{/if}}
                    <span class="text-danger" id="{{error-id}}"><strong>{{error-text}}</strong></span>
                    <input class="form-control has-error" id="{{id}}" type="text" name="{{input-name}}" value="" aria-describedby="{{error-id}}">
                </div>
                {{/each}}
                {{#if radio}}
                <div class="{{class}}">
                    <fieldset class="radio-button" aria-describedby="example-personal-details">
                        <legend><span class="font-weight--bold">Check your personal details</span></legend>
                        <p class="help-block" id="example-personal-details">Are your personal details 
                        correct and up-to-date?</p>
                        <span class="text-danger"><strong>Please select an option</strong></span>
                        <div class="radio-button">
                            <ul>
                                {{#each radio-buttons}}
                                <li>
                                <input type="radio" id="{{id}}" name="stacked-selector">
                                <label for="{{id}}">{{label-text}}</label>
                                <div class="check"></div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </fieldset>
                </div>
                {{/if}}
                <input class="btn btn-primary" type="submit" value="Continue">
            </div>
        </div>
    </fieldset>
</form>