---
title: Numerical list
---

<p>The numerical list pattern is used to show a list of ranked links in the aside of a blog site.</p>

<h3>Rules for numerical lists</h3>
<ul>
    <li>Must only be used within an aside.</li>
    <li>Must only be used on blog sites.</li>
    <li>Must only have one list per page.</li>
    <li>There should be no more than 10 links.</li>
    <li>Link titles must not be more than three lines.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#numerical-list-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/numerical-list-options.options}}
</ul>

{{#numerical-list-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{>  numerical-list}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> numerical-list}}</code></pre>
{{/numerical-list-options.options}}