---
title: Numerical list
---

<p>The introduction may be several paragraphs long if required. It should introduce the pattern, explain what it is and when and where it may be used.</p>

<h3>Rules for numerical lists</h3>
<ul>
    <li>You may use any formatting as required, such as paragraphs and unordered lists.</li>
    <li>Documentation should follow the writing for the web guidelines and adhere to the <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/house-style/">house style guide</a>.</li>
    <li>Code should adhere to the <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/code-standards/">code style and standards guides</a>.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#numerical-list-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/numerical-list-options.options}}
</ul>

{{#numerical-list-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{>  numerical-list}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> numerical-list}}</code></pre>
{{/numerical-list-options.options}}