---
title: Numerical list
---

<p>The numerical list pattern is used to show a list of ranked links in the aside of a WordPress blog site.</p>

<h3>Rules for numerical lists</h3>
<ul>
    <li>Must only be used within an aside.</li>
    <li>Must only be used on blog sites.</li>
    <li>Must only have one list per page.</li>
    <li>There must be no more than ten links.</li>
    <li>There must be no fewer than five links.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#numerical-list-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/numerical-list-options.options}}
</ul>

{{#numerical-list-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{>  numerical-list}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> numerical-list}}</code></pre>
<!--endnoindex-->
{{/numerical-list-options.options}}