---
title: Section header
---

<p>The section header pattern contains the name of a section with either a full-width dark or light colour background image. It must only be used on the subject pages to clearly separate the different sections.</p>

<h3>Rules for the section header</h3>
<ul>
   <li>Must only be used on subject pages.</li>
   <li>Must only be used with a full-width background image.</li>
   <li>Must only contain one line of text.</li>
   <li>Background image must be 1700 &times; 300 pixels</li>
</ul>

<h3>Options available</h3>
<ul>
{{#section-header-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/section-header-options.options}}
</ul>

{{#section-header-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{>  section-header}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> section-header}}</code></pre>
<!--endnoindex-->
{{/section-header-options.options}}