---
title: Featured media
---


<p class="lead">This pattern is for displaying featured content that includes media such as an image or video.</p>

<h2>Rules for featured media</h2>
<ul>
   <li>When using a two column layout, one column must contain text and the other column must contain an image or a video.</li>
   <li>Images must be sized 750 &times; 500 pixels when positioned to the right or left.</li>
   <li>The featured media may benefit from a caption explaining it in further detail.</li>
   <li>The transparent (white) background can be replaced by either an image with a colour overlay or a solid blue coloured background.</li>
   <li>If using an optional coloured background, all text and links must be white and links must be underlined.</li>
   <li>The heading may be linked.</li>
   <li>A button can be used to feature a prominent call-to-action.</li>
</ul>
<h2>Helper classes</h2>
<h3>CSS classes for positioning the media alongside the text on larger displays</h3>
    <ul>
        <li><code>featured-media--left</code></li>
        <li><code>featured-media--right</code></li>
    </ul>
<h3>CSS classes for approved transparent overlay colours</h3>
    <ul>
        <li><code>featured-media--blue-transparent-overlay</code></li>
        <li><code>featured-media--orange-transparent-overlay</code></li>
        <li><code>featured-media--burgundy-transparent-overlay</code></li>
        <li><code>featured-media--purple-transparent-overlay</code></li>
    </ul>

<h3>CSS classes for approved background colours</h3>
    <ul>
        <li><code>featured-media--sta-blue</code></li>
    </ul>

<h2>Options available</h2>
<ul>
{{#featured-media-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/featured-media-options.options}}
</ul>

{{#featured-media-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
  <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> featured-media}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-media}}</code></pre>
<!--endnoindex-->
{{/featured-media-options.options}}
