---
title: Featured media
---

<p>This pattern is for displaying content such as testimonials or reputation information with a full width background. Text is displayed within the left or right column with an image or video beside it, in a separate column.</p>

<h3>Rules for featured media</h3>
<ul>
   <li>One column must contain text and the other column must contain an image or a video.</li>
   <li>Images must be sized 445 &times; 297 pixels.</li>
   <li>The background must be either an image or coloured – the colour background must not be white, grey or yellow.</li>
   <li>If using a coloured background all text, including links, must be white and links must be underlined.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#featured-media-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/featured-media-options.options}}
</ul>

{{#featured-media-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
	{{> featured-media}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-media}}</code></pre>
{{/featured-media-options.options}}
