---
title: Featured media
---

<div class="alert alert-danger">
  <strong>Some options of this pattern are depreciated.</strong> Do not attempt to use these options for any new website development. They will be removed in a future update.
</div>

<p>This pattern is for displaying featured content, such as testimonials, videos, or other media embeds, with a full width background.</p>

<h3>Rules for featured media</h3>
<ul>
   <li>When using a two column layout, one column must contain text and the other column must contain an image or a video.</li>
   <li>Images must be sized 445 &times; 297 pixels.</li>
   <li>The background must be either an image or coloured – the colour background must not be white, grey or yellow.</li>
   <li>If using a coloured background all text, including links, must be white and links must be underlined.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#featured-media-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/featured-media-options.options}}
</ul>

{{#featured-media-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
	{{> featured-media}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-media}}</code></pre>
{{/featured-media-options.options}}
