<!-- Begin pattern: contact-card //-->
{{#if codeblock}}
{{#if main-col}}<div class="row">
    <div class="col-sm-8">{{/if}}
{{#each cards}}
<div class="contact-card">
    {{#if image}}
    <div class="contact-card__image">
        {{#if modal}}
        <!-- Remove comment tags to use lightbox
        <a href="#{{id}}" data-modal-open tabindex="-1">
        -->
        {{/if}}
        {{#if link}}
        <a href="{{link}}" tabindex="-1">
        {{/if}}
        {{#if lazy}}
        <img data-src="{{image}}" alt="{{name}}" title="{{name}}" class="lazyload">
        {{else}}
        <img src="{{image}}" alt="{{name}}" title="{{name}}">
        {{/if}}
        {{#if modal}}
        <!-- Remove comment tags to use lightbox
        </a>
        -->
        {{/if}}
        {{#if link}}
        </a>
        {{/if}}
    </div>
    {{else}}
    <div class="contact-card__initials">
        {{#if modal}}
        <!-- Remove comment tags to use lightbox
        <a href="#{{id}}" data-modal-open tabindex="-1">
        -->
        {{/if}}
        {{#if link}}
        <a href="{{link}}" tabindex="-1">
        {{/if}}
        <abbr title="{{name}}">{{initials}}</abbr>
        {{#if modal}}
        <!-- Remove comment tags to use lightbox
        </a>
        -->
        {{/if}}
        {{#if link}}
        </a>
        {{/if}}
    </div>
    {{/if}}
    <div class="contact-card__titles">
        <h3 class="contact-card__title">
        {{#if modal}}
        <!-- Remove comment tags to use lightbox
        <a href="#{{id}}" data-modal-open>
        -->
        {{/if}}
        {{#if link}}
        <a href="{{link}}">
        {{/if}}
        {{name}}
        {{#if modal}}
        <!-- Remove comment tags to use lightbox
        </a>
        -->
        {{/if}}
        {{#if link}}
        </a>
        {{/if}}
        </h3>
        {{#if unit}}
        <h4 class="contact-card__subtitle">{{unit}}{{team}}</h4>
        {{/if}}
        {{#if title}}
        <h4 class="contact-card__subtitle">{{title}}</h4>
        {{/if}}
        {{#if summary}}
        <p class="contact-card__summary">{{summary}}</p>
        {{/if}}
    </div>
    <div class="contact-card__contact">
        {{#if phone}}
        <div class="contact-card__contact--phone">
            <a class="contact-card__tag-link" href="tel:#">{{phone}}</a>
        </div>
        {{/if}}
        {{#if email}}
        <div class="contact-card__contact--email">
            <a class="contact-card__tag-link" href="mailto:#">{{email}}</a>
        </div>
        {{/if}}
    </div>
    {{#if areas-expertise}}
    <ul class="contact-card__tags">
        {{#each areas-expertise}}
        {{#if tag-link}}
        <li class="contact-card__tag"><a class="contact-card__tag-link contact-card__tag-link-small" href="#">{{area}}</a></li>
        {{else}}
        <li class="contact-card__tag"><span class="contact-card__tag-label contact-card__tag-label-small">{{area}}</span></li>
        {{/if}}
        {{/each}}
    </ul>
    {{/if}}
</div>
{{#if modal}}
<!-- Remove comment tags to use lightbox
<div id="{{id}}" data-modal>
-->
    <div class="contact-details">
        {{#if image}}
        <div class="contact-details__image">
        {{#if lazy}}
        <img data-src="{{image}}" alt="{{name}}" title="{{name}}" class="lazyload">
        {{else}}
        <img src="{{image}}" alt="{{name}}" title="{{name}}">
        {{/if}}
        </div>
        {{else}}
        <div class="contact-details__initials">
            <abbr title="{{name}}">{{initials}}</abbr>
        </div>
        {{/if}}
        <h3 class="contact-details__title">{{name}}</h3>
        {{#if unit}}
        <h4 class="contact-details__subtitle">{{unit}}{{team}}</h4>
        {{/if}}
        {{#if title}}
        <h4 class="contact-details__subtitle">{{title}}</h4>
        {{/if}}
        <dl class="contact-details__profile">
            {{#if phone}}
            <dt class="contact-details__profile-item">Phone</dt>
            <dd class="contact-details__profile-value">{{phone}}</dd>
            {{/if}}
            {{#if email}}
            <dt class="contact-details__profile-item">Email</dt>
            <dd class="contact-details__profile-value">{{email}}</dd>
            {{/if}}
            {{#if bio}}
            <dt class="contact-details__profile-item">More information</dt>
            <dd class="contact-details__profile-value">{{bio}}</dd>
            {{/if}}
            {{#if publications}}
            <dt class="contact-details__profile-item">Publications</dt>
            <dd class="contact-details__profile-value content-block"><ul>
            {{#each publications}}
                <li><a href="{{link}}">{{title}}</a></li>
            {{/each}}</ul>
            </dd>
            {{/if}}
            {{#if areas-expertise}}
            <dt class="contact-details__profile-item">Associated tags heading</dt>
            <dd class="contact-details__profile-value content-block"><ul>
                {{#each areas-expertise}}
                <li><a href="#">{{area}}</a></li>
                {{/each}}
            </ul>
            </dd>
            {{/if}}
        </dl>
    </div>
<!-- Remove comment tags to use lightbox
</div>
-->
{{/if}}
{{/each}}
{{#if main-col}}</div>
    </div>{{/if}}
{{else}}
{{#if main-col}}<div class="row">
    <div class="col-sm-8">{{/if}}
{{#each cards}}
<div class="contact-card">
    {{#if image}}
    <div class="contact-card__image">
        {{#if modal}}
        <a href="#{{id}}" data-modal-open tabindex="-1">
        {{/if}}
        {{#if link}}
        <a href="{{link}}" tabindex="-1">
        {{/if}}
        {{#if lazy}}
        <img data-src="{{image}}" alt="{{name}}" title="{{name}}" class="lazyload">
        {{else}}
        <img src="{{image}}" alt="{{name}}" title="{{name}}">
        {{/if}}
        {{#if modal}}
        </a>
        {{/if}}
        {{#if link}}
        </a>
        {{/if}}
    </div>
    {{else}}
    <div class="contact-card__initials">
        {{#if modal}}
        <a href="#{{id}}" data-modal-open tabindex="-1">
        {{/if}}
        {{#if link}}
        <a href="{{link}}" tabindex="-1">
        {{/if}}
        <abbr title="{{name}}">{{initials}}</abbr>
        {{#if modal}}
        </a>
        {{/if}}
        {{#if link}}
        </a>
        {{/if}}
    </div>
    {{/if}}
    <div class="contact-card__titles">
        <h3 class="contact-card__title">
        {{#if modal}}
        <a href="#{{id}}" data-modal-open>
        {{/if}}
        {{#if link}}
        <a href="{{link}}">
        {{/if}}
        {{name}}
        {{#if modal}}
        </a>
        {{/if}}
        {{#if link}}
        </a>
        {{/if}}
        </h3>
        {{#if unit}}
        <h4 class="contact-card__subtitle">{{unit}}{{team}}</h4>
        {{/if}}
        {{#if title}}
        <h4 class="contact-card__subtitle">{{title}}</h4>
        {{/if}}
        {{#if summary}}
        <p class="contact-card__summary">{{summary}}</p>
        {{/if}}
    </div>
    <div class="contact-card__contact">
        {{#if phone}}
        <div class="contact-card__contact--phone">
            <a class="contact-card__tag-link" href="tel:#">{{phone}}</a>
        </div>
        {{/if}}
        {{#if email}}
        <div class="contact-card__contact--email">
            <a class="contact-card__tag-link" href="mailto:#">{{email}}</a>
        </div>
        {{/if}}
    </div>
    {{#if areas-expertise}}
    <ul class="contact-card__tags">
        {{#each areas-expertise}}
        {{#if tag-link}}
        <li class="contact-card__tag"><a class="contact-card__tag-link contact-card__tag-link-small" href="#">{{area}}</a></li>
        {{else}}
        <li class="contact-card__tag"><span class="contact-card__tag-label contact-card__tag-label-small">{{area}}</span></li>
        {{/if}}
        {{/each}}
    </ul>
    {{/if}}
</div>
{{#if modal}}
<div id="{{id}}" data-modal>
    <div class="contact-details">
        {{#if image}}
        <div class="contact-details__image">
        {{#if lazy}}
        <img data-src="{{image}}" alt="{{name}}" title="{{name}}" class="lazyload">
        {{else}}
        <img src="{{image}}" alt="{{name}}" title="{{name}}">
        {{/if}}
        </div>
        {{else}}
        <div class="contact-details__initials">
            <abbr title="{{name}}">{{initials}}</abbr>
        </div>
        {{/if}}
        <h3 class="contact-details__title">{{name}}</h3>
        {{#if unit}}
        <h4 class="contact-details__subtitle">{{unit}}{{team}}</h4>
        {{/if}}
        {{#if title}}
        <h4 class="contact-details__subtitle">{{title}}</h4>
        {{/if}}
        <dl class="contact-details__profile">
            {{#if phone}}
            <dt class="contact-details__profile-item">Phone</dt>
            <dd class="contact-details__profile-value content-block"><a href="tel:{{phone}}">{{phone}}</a></dd>
            {{/if}}
            {{#if email}}
            <dt class="contact-details__profile-item">Email</dt>
            <dd class="contact-details__profile-value content-block"><a href="mailto:{{email}}">{{email}}</a></dd>
            {{/if}}
            {{#if room}}
            <dt class="contact-details__profile-item">Office</dt>
            <dd class="contact-details__profile-value content-block">{{{room}}}</dd>
            {{/if}}
            {{#if hours}}
            <dt class="contact-details__profile-item">Office hours</dt>
            <dd class="contact-details__profile-value content-block">{{{hours}}}</dd>
            {{/if}}
            {{#if bio}}
            <dt class="contact-details__profile-item">Biography</dt>
            <dd class="contact-details__profile-value content-block">{{{bio}}}</dd>
            {{/if}}
            {{#if publications}}
            <dt class="contact-details__profile-item">Publications</dt>
            <dd class="contact-details__profile-value content-block"><ul>
            {{#each publications}}
                <li><a href="{{link}}">{{title}}</a></li>
            {{/each}}</ul>
            </dd>
            {{/if}}
            {{#if areas-expertise}}
            <dt class="contact-details__profile-item">Associated tags heading</dt>
            <dd class="contact-details__profile-value content-block"><ul>
                {{#each areas-expertise}}
                <li><a href="#">{{area}}</a></li>
                {{/each}}
            </ul>
            </dd>
            {{/if}}
            {{#if personal-link}}
            <dt class="contact-details__profile-item">Personal web address</dt>
            <dd class="contact-details__profile-value content-block"><a href="{{personal-link}}">{{personal-link}}</a></dd>
            {{/if}}
            {{#if pure}}
            <dt class="contact-details__profile-item">PURE profile</dt>
            <dd class="contact-details__profile-value content-block"><a href="{{pure}}">{{pure}}</a></dd>
            {{/if}}
        </dl>
    </div>
</div>
{{/if}}
{{/each}}
{{#if main-col}}</div>
    </div>{{/if}}
{{/if}}
<!-- End pattern: contact-card //-->