<!-- Begin pattern: contact-card //-->
{{#each cards}}
       <div id="{{id}}" class="contact-card {{contract-type}}">
            <h3>
            {{#if image}}
                <a href="#">{{name}}</a>
            {{else}}
                {{name}}
            {{/if}}
            </h3>
        {{#if image}}
            <img src="../../assets/core/images/contact-card-default.gif" alt="{{name}}" title="{{name}}" class="profilePhoto">
        {{/if}}
            <h4>{{title}}</h4>
        {{#if areas-expertise}}
            <h4>Areas of expertise</h4>
        {{else}}
            <div class="{{card-class}}">
                <h4>Contact</h4>
        {{/if}}
                <ul class="contact-card-links">
                {{#if phone}}
                    <li><a href="tel:#" data-rel="external">+44 (0)1334 46 1234</a></li>
                {{/if}}
                {{#if email}}
                    <li><a href="mailto:#">example@st-andrews.ac.uk</a></li>
                {{/if}}
                {{#each areas-expertise}}
                    <li><a href="#">{{area}}</a></li>
                {{/each}}
                </ul>
        {{#unless areas-expertise}}
            </div>
        {{/unless}}
     </div>
{{/each}}
<!-- End pattern: contact-card //-->