---
title: Contact card
---

<p>The contact card pattern is used to display information about an individual.</p>

<h3>Rules for contact cards</h3>
<ul>
	<li>Contact cards may appear solo or grouped as a stacked list.</li>
	<li>Photographs must be headshots of the individual named in the card and of professional quality.</li>
	<li>If a suitable image is not available then the initials of the individual should be used.</li>
	<li>The full name of the individual must be displayed.</li>
</ul>
<h3>Options available</h3>
<ul>
{{#contact-card-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/contact-card-options.options}}
</ul>

{{#contact-card-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
	{{> contact-card codeblock=false}}
	</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> contact-card codeblock=true}}</code></pre> 
<!--endnoindex-->
{{/contact-card-options.options}}