
<!-- Begin pattern: contact-card //-->

<article class="contact-card">
<div class="contact-card-image-title">
  <h3><a href="{{default url "[url]"}}">{{default name "[name]"}}</a></h3>
  <h4 style='contact-card-job-title'>{{default description "[description]"}}</h4>
  </div>

    <div class='contact-card-image'>
    {{#if image.url}}
  <img src='{{asset image.url}}' alt="{{default image.alt "[alt]"}}">
  {{else}}
  <img src='path/to/image.ext' alt="{{default image.alt "[alt]"}}">
  {{/if}}
</div>

  <div class='contact-card-links'>
  <a href="{{default url "[url]"}}">{{default link "[link]"}}</a></br>
  <a href="{{default url "[url]"}}">{{default link "[link]"}}</a></br>
  <a href="{{default url "[url]"}}">{{default link "[link]"}}</a></br>
  <a href="{{default url "[url]"}}">{{default link "[link]"}}</a>
  </div>
  
  <div class='contact-card-contact'>
    <h4 style='contact-card-job-title'>Contact</h4>
    {{default type-1 "[type-1]"}}</br>
    {{default type-2 "[type-2]"}}
  </div>
  
  <div class="clear"></div>

</article>

<!-- End pattern: contact-card //-->