
<!-- Begin pattern: contact-card //-->

<article class="contact-card">

  <h3><a href="{{default name-url "[name-url]"}}">{{default name "[name]"}}</a></h3>
  <h4>{{default job-title "[job-title]"}}</h4>

  {{#if image.url}}
  <img src='{{asset image.url}}' alt="{{default image.alt "[alt]"}}">
  {{else}}
  <img src='path/to/image.ext' alt="{{default image.alt "[alt]"}}">
  {{/if}}

  <ul class='contact-card-links'>
    <li><a href="{{default link-url-1 "[link-url-1]"}}">{{default link-1 "[link-1]"}}</a></li>
    <li><a href="{{default link-url-2 "[link-url-2]"}}">{{default link-2 "[link-2]"}}</a></li>
    <li><a href="{{default link-url-3 "[link-url-3]"}}">{{default link-3 "[link-3]"}}</a></li>
    <li><a href="{{default link-url-4 "[link-url-4]"}}">{{default link-4 "[link-4]"}}</a></li>
  </ul>
  
  <div class='contact-card-contact'>
    <h4>Contact</h4>
    <ul class='contact-card-links'>
    <li>{{default type-1 "[type-1]"}} <a href="{{default type-content-url "[type-content-url]"}}">{{default type-content-1 "[type-content-1]"}}</a></li>
    <li>{{default type-2 "[type-2]"}} {{default type-content-2 "[type-content-2]"}}</li>
  </ul>
  </div>
  
  <div class="clear"></div>

</article>

<!-- End pattern: contact-card //-->