---
title: Contact card
---

<p>The contact card pattern is used to display contact information for staff and students.</p>

<ul>
	<li>Must only be used on people pages in the main content area.</li>
    <li>Staff name should link to their research profile.</li>
	<li>Staff cards must have a profile image, if an image is not available use the default from below.</li>
    <li>Profile image must be 111 by 127 pixels.</li>
	<li>Student contact cards do not use an image.</li>
</ul>

<p>The default staff profile image: <a href="{{ pkg.cdn.endpoint }}/{{ pkg.cdn.package }}/{{ pkg.version }}/images/contact-card-default.gif">contact-card-default.gif</a></p>

<h3>Options available</h3>
<ul>
{{#contact-card-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/contact-card-options.options}}
</ul>

{{#contact-card-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> contact-card}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> contact-card}}</code></pre>
{{/contact-card-options.options}}