---
title: Contact card
---

<div class="row">
	<div class="col-md-8">
<p>The contact card pattern is used to display contact information about an individual which may link to additional information. If the main goal is to display contact information this pattern should be used, however if the primary aim is to provide biographical information about an individual then the <a href="../staff-profile/index.html">Staff Profile pattern</a> should be considered.</p>

<h2>Rules for contact cards</h2>
<ul>
	<li>Contact cards may appear solo or grouped as a stacked list, they must not appear side by side.</li>
	<li>Contact cards must take up the full width of the design's available space, if the width of a contact card is less than 600px.</li>
	<li>Photographs must be headshots of the individual named in the card and of professional quality.</li>
	<li>Images should be cropped square at 180px wide and 180px high.</li>
	<li>If a suitable image is not available then the initials of the individual should be used.</li>
	<li>The full name of the individual must be displayed.</li>
	<li>Cards may link to additional information on a specific individual but this usage must be consistent within a list of contacts. For example if one card links to a lightbox then all other linked cards in that list must also use the lightbox method.</li>
</ul>
<h2>Options available</h2>
<ul>
{{#contact-card-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/contact-card-options.options}}
</ul>
<div class="alert alert--info" role="alert">
	<h3 class="alert__heading">Use of lightbox to display additional information</h3>
	<p>If using the code examples that feature the lightbox, please remove the marked comments from either side of the relevant tags before using. These are only included in the code examples to prevent interaction with the lightbox script on page load, resulting in changes to the displayed html.</p>
	<p>For maximum accessibility the <code>inert</code> polyfill from Google should also be used. This can be loaded by placing the following at the bottom of the page <code>&lt;script src=&quot;https://cdn.rawgit.com/GoogleChrome/inert-polyfill/v0.1.0/inert-polyfill.min.js&quot;&gt;&lt;/script&gt;</code></p>
</div>
</div>
</div>
{{#contact-card-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
	{{> contact-card codeblock=false}}
	</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> contact-card codeblock=false}}
```
{{/markdown}}
<!--endnoindex-->
{{/contact-card-options.options}}

<script src="https://cdn.rawgit.com/GoogleChrome/inert-polyfill/v0.1.0/inert-polyfill.min.js"></script>