---
title: Contact card
---

<p>The contact card pattern is used to display contact information for staff and students.</p>

<h3>Rules for contact cards</h3>
<p>This pattern must only be used on people pages in the main body or within the Experts guide on the News site.</p>

<h3>Options available</h3>
<ul>
{{#contact-card-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/contact-card-options.options}}
</ul>

{{#contact-card-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> contact-card}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> contact-card}}</code></pre>
{{/contact-card-options.options}}