<!-- Begin pattern: contact-card //-->
{{#each cards}}
<div id="{{id}}" class="contact-card">
    {{#if image}}
    <div class="contact-card__image">
        <img src="{{image}}" alt="{{name}}" title="{{name}}">
    </div>
    {{else}}
    <div class="contact-card__initials">
        <abbr title="{{name}}">{{initials}}</abbr>
    </div>
    {{/if}}
    <div class="contact-card__titles">
        <h3 class="contact-card__title">{{name}}</h3>
        <h4 class="contact-card__subtitle">{{unit}}{{team}}</h4>
        <h4 class="contact-card__subtitle">{{title}}</h4>
    </div>
    <div class="contact-card__contact">
        {{#if phone}}
        <div class="contact-card__contact--phone">
            <a href="tel:#">+44 (0)1334 46 1234</a>
        </div>
        {{/if}}
        {{#if email}}
        <div class="contact-card__contact--email">
            <a href="mailto:#">example@st-andrews.ac.uk</a>
        </div>
        {{/if}}
    </div>
    {{#if areas-expertise}}
    <ul class="contact-card__tags">
        {{#each areas-expertise}}
        <li class="contact-card__tag"><a class="contact-card__tag-link" href="#">{{area}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</div>
{{/each}}
<!-- End pattern: contact-card //-->