---
layout: _base.hbs
---

  <section id="content">

  	<nav class="pull-right">
  		<h4><a href="../index.html">Digital Pattern Library</a></h4>
  		<ul>
    		{{#each  pages }} 
          {{#is basename "index"}}
          {{else}}
          <li> <a  href ="../{{data.pattern}}/index.html" > {{data.pattern }} </a > </li > 
          {{/is}}
    		{{/each  }} 
    		</ul>
    	</nav>


  		<h1>Pattern: {{ title }}</h1>
	   	{{ description  }}

      {{>body}}
  

   	</section>

    

    

