
<article class="tile">

  <img src='{{asset image.url}}' alt="{{image.alt}}">
  
  <h3><a href="{{url}}">{{title}}</a></h3>
  
  <p>{{description}}</p>
  
  <div class='tile-date' datetime="{{date}}">{{date-display}}</div>
  
  <div class='tile-type'>{{type}}</div>
  
  <div class="clear"></div>

</article>