---
title: Secondary call-to-action
---

<div class="row">
    <div class="col-md-8">
<p class="lead">The secondary call-to-action pattern should be used to draw attention to important actions that typically support the content of the page. The pattern features a heading, some introductory text, call-to-action buttons and an optional background image.</p>

<h2>Rules for secondary call-to-action</h2>
<ul>
	<li>You must only use one secondary call-to-action per page.</li>
    <li>Can only be used on full width page layouts.</li>
    <li>For best results place at the bottom of the page to reduce the risk of users stopping scrolling believing they have reached the end of the content. Find out more information on the Digital Communications team blog <a href="https://digitalcommunications.wp.st-andrews.ac.uk/2020/09/21/scrolling-and-the-illusion-of-completeness/">Scrolling and the illusion of completeness</a>).
    <li>You must use a transparent overlay when using a background image, by adding <code>secondary-call--overlay</code> followed by a <a href="#approved-colours">colour selector class</a> to the <code>secondary-call</code> div.</li>
    <li>You must include at least one call-to-action button - for the most important action.</li>
    <li>An optional secondary call-to-action button may be used - for a supplementary action.</li>
    <li>Heading text must not exceed 100 characters.</li>
    <li>Paragraph text must not exceed 350 characters.</li>
</ul>

<h3 id="approved-colours">CSS classes for approved background colours</h3>
    <ul>
        <li><code>secondary-call--blue-transparent-overlay</code></li>
        <li><code>secondary-call--orange-transparent-overlay</code></li>
        <li><code>secondary-call--burgundy-transparent-overlay</code></li>
        <li><code>secondary-call--purple-transparent-overlay</code></li>
    </ul>

<h2>Options available</h2>
<ul>
{{#secondary-call-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/secondary-call-options.options}}
</ul>
</div>
</div>
{{#secondary-call-options.options}}
<hr>
<div class="row">
    <div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
    {{> secondary-call}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> secondary-call}}
```
{{/markdown}}
<!--endnoindex-->
{{/secondary-call-options.options}}
