<!-- Begin pattern: secondary-call //-->
<section class="secondary-call {{classes}}" {{#if bg-image}}style="background-image: url({{asset bg-image}});"{{/if}}>
    <div class="container">
        <h2 class="call-heading">{{heading}}</h2>
        <p>{{paragraph}}</p>
        <div class="call-to-action-buttons">
        {{#each action}}
            <a class="btn btn-action{{secondary}}" href="{{url}}">{{text}}</a>
        {{/each}}
        </div>
    </div>
</section>
<!-- End pattern: secondary-call //-->