---
title: Secondary call-to-action
---

<div class="row">
    <div class="col-md-8">
<p class="lead">The secondary call-to-action pattern displays a heading, some introductory text, a call-to-action button and a background image.</p>

<h2>Rules for secondary call-to-action</h2>
<ul>
	<li>You must only use one secondary call-to-action per page.</li>
    <li>Can only be used on full width page layouts.</li>
    <li>You may use a transparent overlay over the background by adding <code>secondary-call--overlay</code> followed by the colour selector class <code>secondary-call--color-transparent-overlay</code> to the secondary-call div.</li>
    <li>You must use at least one call-to-action button, but not more than three.</li>
    <li>Heading text must not exceed 100 characters.</li>
    <li>Paragraph text must not exceed 350 characters.</li>
</ul>

<h3>CSS classes for approved background colours</h3>
    <ul>
        <li><code>secondary-call--blue-transparent-overlay</code></li>
        <li><code>secondary-call--orange-transparent-overlay</code></li>
        <li><code>secondary-call--burgundy-transparent-overlay</code></li>
        <li><code>secondary-call--purple-transparent-overlay</code></li>
    </ul>

<h2>Options available</h2>
<ul>
{{#secondary-call-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/secondary-call-options.options}}
</ul>
</div>
</div>
{{#secondary-call-options.options}}
<hr>
<div class="row">
    <div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
    {{> secondary-call}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> secondary-call}}
```
{{/markdown}}
<!--endnoindex-->
{{/secondary-call-options.options}}
