---
title: Secondary call-to-action
---

<p>The secondary call-to-action pattern displays a heading, some introductory text, a call-to-action button and a background image.</p>

<h3>Rules for secondary call-to-action</h3>
<ul>
	<li>Only show at the bottom of the page, immediately above the footer.</li>
	<li>You must only use one secondary call-to-action per page.</li>
  	<li>You may use the class: <code>center</code> (default), or <code>left</code> to specify how the content should be aligned.</li>
    <li>To chose a background image, use the class <code>secondary-call-*</code>, where <code>*</code> is a number between 0 and 9. See below for background image options.</li>
    <li>You must use at least one call-to-action button, but not more than three.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#secondary-call-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/secondary-call-options.options}}
</ul>

{{#secondary-call-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>{{> secondary-call}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> secondary-call}}</code></pre>
{{/secondary-call-options.options}}
