<!-- Begin pattern: secondary-call //-->
<div class="secondary-call {{alignment}} secondary-call-{{style}}">
    <div class="container">
        <div class="call-heading">{{heading}}</div>
        <p>{{paragraph}}</p>
        <div class="call-to-action-buttons">
        {{#if action}}
            <a class="btn btn-primary btn-lg" href="{{action.url}}" tabindex="0" role="button">{{action.text}}</a>
            {{/if}}
            {{#if action2}}
            <a class="btn btn-primary btn-lg" href="{{action2.url}}" tabindex="0" role="button">{{action2.text}}</a>
        {{/if}}
        </div>
    </div>
</div>
<!-- End pattern: secondary-call //-->