{{#if deprecated-code}}
	{{{deprecated-code}}}
{{else}}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Lorem ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet sem ac dolor hendrerit sagittis a auctor dolor. Nulla velit metus, sollicitudin eu tristique nec, ultricies nec nisi. Quisque lobortis neque in diam gravida posuere.</p>
		</div>
	</div>
</div>
 <!-- Begin pattern: sticky-nav //-->
	<nav id="nav-top" class="sticky-nav affix-top" aria-label="Page content navigation">
		<div class="container">
			<div class="sticky-nav__toggle">
				<button class="sticky-nav__toggle-button" aria-expanded="false">Contents</button>
				<span id="sticky-nav__active-section"></span>
			</div>
			<ul class="sticky-nav__menu">
			{{#each nav-link}}
				<li><a href="#{{link}}" class="sticky-nav__menu--link">{{name}}</a></li>
			{{/each}}
		    </ul>
		</div>
	</nav>
<!-- End pattern: sticky-nav //-->
<div class="container">
	<div class="row">
		<div class="col-xs-12 content">
		{{#each nav-link}}
			<h3 id="{{link}}"><a href="#">{{name}}</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet sem ac dolor hendrerit sagittis a auctor dolor. Nulla velit metus, sollicitudin eu tristique nec, ultricies nec nisi. Quisque lobortis neque in diam gravida posuere. Nunc egestas posuere sem, vitae rhoncus felis scelerisque molestie. Mauris mi massa, iaculis gravida molestie in, facilisis non lorem. Quisque at nunc at nisl gravida sollicitudin. Vestibulum volutpat pretium purus et sodales. Integer sagittis sollicitudin molestie.</p>
		{{/each}}
		</div>
	</div>
</div>
{{/if}}