---
title: Sticky nav
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The sticky nav pattern can be used to help keep users orientated on a long web page that requires a lot of scrolling. It appears within the flow of content, below the normal navigation bar and affixes to the top of the browser window as you scroll down past it. The sticky nav also highlights the current section as you scroll down the page.</p>

<h2>Rules for the sticky nav</h2>

<ul>
    <li>Must only be used on long pages where there is a need to provide a quick means of navigating between sections.</li>
    <li>Must not immediately follow the navigation bar so that it is clear it is secondary navigation only related to the current page.</li>
    <li>Must not contain any dropdown menus.</li>
    <li>Must only contain links to in-page content.</li>
    <li>Must not display on more than one row.</li>
    <li>Only one sticky nav should be used on a page.</li>
    <li>
</ul>
<h2>(rewrite)Quirks</h2>
<ul>
    <li>If at bottom of the page then automatically jumps to last item.</li>
    <li>Watchout for tabbing up.</li>
    <li>Have suffiecient space for offset.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#sticky-nav-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/sticky-nav-options.options}}
</ul>
</div>
</div>
{{#sticky-nav-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}    
</div>
</div>
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> sticky-nav}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> sticky-nav }}
```
{{/markdown}}
<!--endnoindex-->
{{/sticky-nav-options.options}}