---
title: Sticky nav
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The sticky nav is only for linking within a page to in-page content. It appears below the normal navigation bar and will affix to the top of the browser window as you scroll down past it. The sticky nav will also highlight the current section as you scroll down the page.</p>

<h2>Rules for the sticky nav</h2>

<ul>
    <li>Must add the CSS <code>position: relative;</code> to the <code>body</code> for section highlighting to work.</li>
    <li>Must only be used on long pages.</li>
    <li>Must come below the page intro.</li>
    <li>Must not contain any dropdown menus.</li>
    <li>Must only contain links to in-page content.</li>
    <li>Must not be more than one row.</li>
    <li>Should not contain more than eight links.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#sticky-nav-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/sticky-nav-options.options}}
</ul>
</div>
</div>
{{#sticky-nav-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}    
</div>
</div>
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> sticky-nav}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> sticky-nav}}</code></pre>
<!--endnoindex-->
{{/sticky-nav-options.options}}