---
title: Sticky horizontal nav
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The sticky horizontal nav pattern can be used to help users stay orientated on a long web page that requires a lot of scrolling.</p><p>It appears within the flow of content, below the normal navigation bar and affixes to the top of the browser window as you scroll down past it. The sticky horizontal nav also highlights the current section as you scroll down the page. On smaller width browser windows the navigation changes to a dropdown list.</p>

<h2>Rules for sticky horizontal nav</h2>

<ul>
    <li>Must only be used on long pages where there is a need to provide a quick means of navigating between sections.</li>
    <li>Must not immediately follow the navigation bar so that it is clear it is secondary navigation only related to the current page.</li>
    <li>Must not contain any dropdown menus.</li>
    <li>Must only contain links to in-page content.</li>
    <li>Must not display on more than one row.</li>
    <li>Only one sticky horizontal nav can be used on a page.</li>
    <li>Sticky horizontal nav links should link to unique, clearly labelled sections.</li>
    <li>The linked sections should appear vertically and match the order they appear in the sticky horizontal nav.</li>
    <li>Including <code>&lt;div id="sticky-nav__active-section"&gt;&lt;/div&gt;</code> within the <code>sticky-nav__toggle</code> will highlight the current section when the navigation switches to a dropdown list on smaller width browser windows.</li>
</ul>
<h2>Other things to consider</h2>
<ul>
    <li>If the bottom of the page is reached then selection automatically jumps to the last navigation item.</li>
    <li>Linking to a section that has top margins will anchor to the top of that section's first child element, with the margin being ignored.</li>
    <li>Linking to a section that has top padding will anchor to the top of that section, above the padded area. This can be used to include more visual 'breathing space', offers improved browser support and is the preferred method that should be used.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#sticky-nav-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/sticky-nav-options.options}}
</ul>
</div>
</div>
{{#sticky-nav-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}    
</div>
</div>
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> sticky-nav}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> sticky-nav }}
```
{{/markdown}}
<!--endnoindex-->
{{/sticky-nav-options.options}}