<!-- Begin pattern: featured people //-->
{{#each featured}}
<section class="featured-people {{colour}}">
	<div class="container">
		{{#if heading}}<h2>{{heading}}</h2>{{/if}}
		<div class="row">
			{{#each columns}}
			<div class="{{size}}">
				<div class="row">
				{{#if single}}
				<div class="col-md-3">
				{{/if}}
					{{#if link}}<a href="{{link}}">{{/if}}
						<img src='../../assets/core/images/featured-people.png'>
				{{#if single}}
					{{#if link}}</a>{{/if}}
				</div>
				{{/if}}
				{{#if single}}
				<div class="col-md-9">
					{{#if link}}<a href="{{link}}">{{/if}}
				{{/if}}
						<h4>{{name}} <small>{{title}}</small></h4>
					{{#if link}}</a>{{/if}}
						{{#if description}}
						<p>{{description}}</p>
						{{/if}}
				{{#if single}}</div>{{/if}}
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/each}}
<!-- End pattern: featured people  //-->