---
title: Featured people
---

<p>The featured people pattern allows University academics, staff, and students to be prominently included on a webpage. This is used to link to work or research profiles of noteable people affiliated with the University of St Andrews.</p>

<h3>Rules for featured people</h3>
<ul>
    <li>There must be only one featured people banner on a page.</li>
    <li>The image, name, and target area of a featured person must link to the same webpage.</li>
    <li>Linked webpages must open in the same tab.</li>
    <li>Section title must not exceed 50 characters.</li>
    <li>Featured images must be 300 × 300 pixels.</li>
    <li>Featured images must be high quality portraiture headshot of affiliated person.</li>
    <li>It is recommended that featured peoples names must not exceed 50 characters in length.</li>
    <li>It is recommended that featured peoples title must not exceed 70 characters in length.</li>
    <li>Description character count must not exceed 150 characters.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#featured-people-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/featured-people-options.options}}
</ul>

{{#featured-people-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>{{>  featured-people}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-people}}</code></pre>
{{/featured-people-options.options}}