---
title: Featured people
---

<p class="lead">The featured people pattern allows University academics, staff, and students to be prominently included on a webpage. This is used to link to work or research profiles of noteable people affiliated with the University of St Andrews.</p>

<h3>Rules for featured people</h3>
<ul>
    <li>There must be only one featured people banner on a page.</li>
    <li>The heading for the section is optional.</li>
    <li>The image and name of a featured person must link to the same webpage.</li>
    <li>Linked webpages must open in the same tab.</li>
    <li>Section title must not exceed 50 characters.</li>
    <li>Featured images must be 300 by 300 pixels.</li>
    <li>Featured images must be a high quality portraiture headshot of the named person.</li>
    <li>It is recommended that featured people's names must not exceed 50 characters in length.</li>
    <li>It is recommended that featured people's title must not exceed 70 characters in length.</li>
    <li>The paragraph description text is optional where two or more featured people are displayed.</li>
    <li>The paragraph description text must be included when featuring only one person.</li>
    <li>Description character count must not exceed 300 characters.</li>
</ul>

<h3>CSS classes for approved background colours</h3>
    <ul>
        <li><code>sta-blue-light</code></li>
        <li><code>sta-burgundy</code></li>
        <li><code>sta-green</code></li>
        <li><code>sta-purple</code></li>
    </ul>

<h3>Options available</h3>
<ul>
{{#featured-people-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/featured-people-options.options}}
</ul>

{{#featured-people-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{>  featured-people}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-people}}</code></pre>
<!--endnoindex-->
{{/featured-people-options.options}}