<!-- Begin pattern: featured people //-->
{{#each featured}}
<section class="featured-people{{padding}}{{colour}}">
	<div class="container">
		{{#if heading}}<h2>{{heading}}</h2>{{/if}}
		<div class="row">
			{{#each columns}}
			<div class="{{size}}">
				<div class="featured-people__person{{#if indent}} featured-people__person--indent{{/if}}">
					{{#if link}}<a href="{{link}}" class="featured-people__image">{{else}}<div class="featured-people__image">{{/if}}	
						<img src='{{#if image}}{{image}}{{else}}../../assets/core/images/featured-people.png{{/if}}' alt="{{name}}">
					{{#if link}}</a>{{else}}</div>{{/if}}
					<div class="featured-people__person--group">
						<h3 class="featured-people__name">{{#if link}}<a href="{{link}}">{{/if}}{{name}}{{#if link}}</a>{{/if}}</h3>
						<h4 class="featured-people__title">{{title}}</h4>
					</div>
					{{#if description}}
					<div class="featured-people__description">
						<p>{{description}}</p>
					</div>
					{{/if}} 
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/each}}
<!-- End pattern: featured people  //-->