---
title: Heading with section
---


<div class="row">
  <div class="col-md-8">
<p class="lead">This pattern is for displaying a prominent heading alongside content, on a full width page.</p>

<h2>Rules for heading with section</h2>
<ul>
   <li>Subheadings within the section must be at a lower level than that section's main heading.</li>
   <li>Multiple heading with section blocks can be grouped together.</li>
   <li>If grouped together all main headings must use the same heading level.</li>
   <li>Content for a section may be displayed in one or two columns.</li>
   <li>Content for a section can include the following elements:
   	<ul>
   		<li>text and sub-headings</li>
   		<li>accordions</li>
   		<li>videos</li>
   		<li>tables</li>
   		<li>images.</li>
   	</ul></li>
</ul>
   <p>To discuss using this pattern please contact the digital communications team - <a href="mailto:digitalcommunications@st-andrews.ac.uk">digitalcommunications@st-andrews.ac.uk</a></p>

<h2>Options available</h2>
<ul>
{{#heading-section-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/heading-section-options.options}}
</ul>
</div>
</div>
{{#heading-section-options.options}}
<hr>
<div class="row">
  <div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
  <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
  <div class="container">
	{{> heading-section}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> heading-section}}
```
{{/markdown}}
<!--endnoindex-->
{{/heading-section-options.options}}
