---
title: Post header
---

<p>Lorem ipsum</p>

<h2>Rules for post header</h2>
<ul>
	<li>Lorem ipsum</li>
</ul>

<h2>Options available</h2>
<ul>
{{#post-header-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/post-header-options.options}}
</ul>

{{#post-header-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> post-header}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> post-header}}</code></pre>
<!--endnoindex-->
{{/post-header-options.options}}