---
title: Long-form asides
---

<p class="lead">Standard HTML5 <code>&lt;aside&gt;</code> elements are enhanced with a set of classes to position them next to content. This approach removes the need for a dedicated sidebar. The <code>&lt;aside&gt;</code> element is often used to wrap <code>&lt;figure&gt;</code> elements, but can equally wrap any related content.</p>

<h3>Rules for long-form asides</h3>
<ul>
    <li>These are to be only used on long-form pages.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#long-form-asides-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/long-form-asides-options.options}}
</ul>

{{#long-form-asides-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> long-form-asides}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> long-form-asides}}</code></pre>
<!--endnoindex-->
{{/long-form-asides-options.options}}