<!-- Begin pattern: navigation-grid //-->
<nav class="navigation-grid" role="navigation" aria-labelledby="{{option-anchor}}">
	<div class="container">
		<h2 id="{{option-anchor}}" class="navigation-grid__heading{{sr-only}}">{{heading}}</h2>
		<ul class="navigation-grid__items{{vertical}}">
		{{#links}}
			<li class="navigation-grid-item">
				<h3 class="navigation-grid-item__heading"><a href="#">{{title}}</a></h3>
				{{#if description-text}}
				<p class="navigation-grid-item__description">{{description}}</p>
				{{/if}}
			</li>
		{{/links}}
		</ul>
	</div>
</nav>
<!-- End pattern: navigation-grid //-->