---
title: Navigation grid
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The navigation grid pattern displays a grid of simple text links with optional supporting descriptions. This pattern works best for links that are considered secondary to other items on the page. For links deserving greater visual importance the <a href="../navbox-grid/index.html">navbox grid</a> is more suitable.</p>

<h2>Rules for the navigation grid</h2>

<ul>
    <li>Must only be used within the main body of the page and using the <a href="../content-whole/index.html">content whole</a> page layout.</li>
    <li>Links must only link to an internal webpage or web application.</li>
    <li>Links should not be longer than 40 chars.</li>
    <li>Links must be underlined.</li>
    <li>Supporting descriptions should not be longer than 160 chars and must be plain text.</li>
    <li>If a link has an associated supporting description then all other links in the grid must also have supporting descriptions.</li>
    <li>Supporting descriptions should be used to give further context on where a link navigates to. This is especially important if the link text contains acronyms or other cryptic content.</p>
</ul>


<h2>Options available</h2>
<ul>
{{#navigation-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/navigation-grid-options.options}}
</ul>
</div>
</div>
{{#navigation-grid-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}   
</div>
</div> 
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> navigation-grid}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> navigation-grid}}
```
{{/markdown}}
<!--endnoindex-->
{{/navigation-grid-options.options}}
