---
layout: _base.hbs
---

<section id="content">

  <nav class="pull-right">
    <h4><a href="../index.html">Digital Pattern Library</a></h4>
    <ul>
      {{#each  pages }}
      {{#is basename "index"}}
      {{else}}
      <li> <a  href ="../{{data.pattern}}/index.html" > {{data.pattern }} </a > </li >
      {{/is}}
      {{/each  }}
    </ul>
  </nav>


	<h1>Pattern: {{ title }}</h1>

  {{>body}}

  {{#if examples}}
  <h2>Examples</h2>

    {{#examples}}
    <div class="example">
    <h3>{{name}}</h3>
    <p><a href="" class="example_toggle">View</a> | <a href="#" class="example_toggle">Code</a></p>
    <iframe src="examples/{{name}}.html" class="view"
    style="{{#if width}}width:{{width}};{{/if}} {{#if height}}height:{{height}};{{/if}}"></iframe>
    <div class="code"></div>
    </div>
    {{/examples}}

  {{/if}}

  {{#if related}}
  <h2>Related patterns</h2>
  <ul>
    {{#related}}
    <li><a href="../{{name}}/index.html">{{name}}</a></li>
    {{/related}}
  </ul>
  {{/if}}

</section>
