
<!-- Begin pattern: info-bite //-->

<div class="info-bite  {{{ class }}}">
    {{#if image}}
    <div class="image">
     <img src="{{asset image.url}}" alt="{{image.alt}}">
   </div>
    {{else}}
      {{#if noimage}}
      {{else}}
    <div class="image">
      <img src="[path/to/image.ext]" alt="[alt]">
    </div>
      {{/if}}
    {{/if}}
    <div class="bite-container">
      <div class="bite">
      {{#if url}}<a href="{{url}}">{{{default bite "[bite]"}}}</a>
      {{else}}{{{default bite "[bite]"}}}
      {{/if}}
      </div>
    </div>
</div>

<!-- End pattern: info-bite //-->
