<!-- Begin pattern: form banner //-->

<div class="form-banner {{background}} {{column-background}}">
    {{#if column-whole}}<div class="container dpl-form">{{/if}}
    {{#if column-thirds}}<div class="dpl-form form-banner-thirds">{{/if}}
{{#if form}}<form action="">{{/if}}
    <fieldset{{#if top-text}} aria-describedby="help-text-{{option-anchor}}"{{/if}}>
                {{#if heading}}<legend><h3 class="form-banner__heading">{{heading}}</h3></legend>{{/if}}
                {{#if top-text}}<p class="form-banner__sub-heading" id="help-text-{{option-anchor}}">{{top-text}}</p>{{/if}}
        <div class="row">
            {{#each column}}
                <div class="{{column-size}}">
                {{#if column-paragraph}}
                    <h3 class="form-banner__heading">{{column-heading}}</h3>
                    <p class="form-banner__sub-heading">{{column-paragraph}}</p>
                {{/if}}
                {{#if radio-button}}
                    <div class="form-group">
                        <fieldset class="radio-button inline">
                            {{#if radio-label}}<legend><span class="font-weight--bold">{{radio-label}}</span></legend>{{/if}}
                            <ul>
                            {{#each radio-button}}
                                <li>
                                    <input type="radio" value="default" id="{{radio-id}}" name="option-radio-inline">
                                    <label for="{{radio-id}}">{{radio-option}}</label>
                                    <div class="check"></div>
                                </li>
                            {{/each}}
                            </ul>
                        </fieldset>
                    </div>
                {{/if}}
                {{#if select-box}}
                    <div class="form-group select-box">
                        {{#if select-label}}<label class="form-label" for="{{select-id}}">{{select-label}}</label>{{/if}}
                        <select class="conditional-select form-control" id="{{select-id}}" name="select-box">
                            <option value="">{{default-value}}</option>
                        {{#each select-option}}
                            <option value="{{option-value}}">{{select-option}}</option>
                        {{/each}}
                        </select>
                    </div>
                {{/if}}
                {{#if input-box}}
                    <div class="form-group">
                        {{#if input-label}}<label class="form-label" for="{{input-id}}">{{input-label}}</label>{{/if}}
                        <input id="{{input-id}}" class="form-control" type="{{input-type}}" title="{{input-title}}" maxlength="256" name="{{input-id}}" placeholder="{{input-placeholder}}" value="">
                    </div>
                {{/if}}
                {{#if button}}
                    <button type="submit" class="btn btn-lg{{button-colour}}">Submit</button>
                {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</fieldset>
{{#if form}}</form>{{/if}}
</div>
<!-- End pattern: form banner //-->