---
title: Form banner
---

<p>Description</p>

<h3>Rules for form banner</h3>
<ul>
   <li>Rules</li>
</ul>

<h3>Options available</h3>
<ul>
{{#form-banner-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/form-banner-options.options}}
</ul>

{{#form-banner-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
	{{> form-banner}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> form-banner}}</code></pre>
{{/form-banner-options.options}}
