---
title: Typography
---

<p class="lead">Appropriate typography must be used in combination with the University's <a href="http://www.st-andrews.ac.uk/digital-standards/service-manual/house-style/">house style</a>. Typography must not be changed using inline CSS.</p>

<h2>Options available</h2>
<ul>
{{#typography-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/typography-options.options}}
</ul>

{{#typography-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
<div class="container">
{{>  typography}}
<div class="clear"></div>
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> typography}}</code></pre>
<!--endnoindex-->
{{/typography-options.options}}