<!-- Begin pattern: dummy pattern //-->

<!--
1. Enter your HTML in this file. This is the actual pattern.

2. Use Handlebars placeholders to pull in data from the JSON data files. For example, if you have in your JSON file an object called "url" then you would use {{url}}.

For more info see http://handlebarsjs.com/ and http://assemble.io/.

3. It can be useful to create the JSON files first. Use descriptive names for the .json files.
-->

<article class="tile {{default color "[color]"}}">

    <div class="tile-image-title">
        {{#if image.url}}
            <img src='{{asset image.url}}' alt="{{default image.alt "[alt]"}}">
        {{else}}
            <img src='path/to/image.ext' alt="{{default image.alt "[alt]"}}">
        {{/if}}
        <h3><a href="{{default url "[url]"}}">{{default title "[title]"}}</a></h3>
    </div>

    <p>{{default description "[description]"}}</p>

    <div class='tile-date' datetime="{{default date "[date]"}}">{{default date-display "[date-display]"}}</div>

    <div class='tile-type'>{{default type "[type]"}}</div>

    <div class="clear"></div>

</article>

<!-- End pattern: dummy pattern //-->
