---
title: Content halves
---

<p>The content halves pattern contains two, equal-width content columns. There is the option of a heading above the columns and a full-width background colour.</p>

<h3>Rules for content halves</h3>

<ul>
	<li>Must have content in both columns.</li>
	<li>The 'Announcements' option may have content in only one column.</li>
	<li>Images must not be used in either column.</li>
	<li>A video may be used in the right-hand column.</li>
	<li>The background must be either white or grey.</li>
	<li>Accordions may be used in either column.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#content-halves-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/content-halves-options.options}}
</ul>

{{#content-halves-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
{{> content-halves}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> content-halves}}</code></pre>
{{/content-halves-options.options}}
