---
title: Content halves
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The content halves pattern contains two, equal-width content columns. There is the option to have a heading above the columns and a full-width background colour.</p>

<h3>Rules for content halves</h3>

<ul>
	<li>Accordions may be used in either column.</li>
    <li>The background colour must be either white or grey. Add the class <code>sta-grey-light</code> for a grey background.</li>
    <li>Add the classes <code>padding-top</code> and <code>padding-bottom</code> to add vertical padding. This must be used when applying a background colour.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#content-halves-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/content-halves-options.options}}
</ul>
	</div>
</div>
{{#content-halves-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
	</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> content-halves}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> content-halves}}</code></pre>
<!--endnoindex-->
{{/content-halves-options.options}}
