---
title: Navbox
---

<div class="alert alert-danger">
  <strong>The large navbox size is depreciated.</strong> Do not attempt to use this navbox size for any new website development. It will be removed in a future update.
</div>

<p>The navbox pattern is used to present featured navigation items with an optional background image and paragraph.</p>

<h3>Rules for the navbox</h3>
<ul>
    <li>Must only be used within the main body of the page or within the aside.</li>
    <li>Must only link to an internal webpage or web application.</li>
    <li>Medium navboxes must not have a title that exceeds 88 characters.</li>
    <li>Small navboxes must not have a title that exceeds 57 characters.</li>
    <li>When using an image, the image must relate to the link destination.</li>
    <li>Navboxes with accompanying paragraphs must not have more than 300 characters.</li>
</ul>

<h3>Navbox sizes</h3>
<p>Navboxes are available in three different sizes: small (⅓), medium (½) and large (⅔). Available combinations of these sizes can been found on the <a href='../navbox-grid/index.html'>navbox-grid</a> pattern page.</p>
<p>If using an image, see the table below for image sizes.</p>

<!-- Begin pattern: alerts //-->
<div class="alert alert-info" role="alert">
    <p>Image sizes for navboxes have doubled. For example, <code>360 &times; 240px</code> has now been increased to <code>720 &times; 480px</code>.This is to cater for quality on retina display screens. Therefore, it is important that images are optimised for web before upload.</p>
</div>
<!-- End pattern: alerts //-->

<table class='table table-striped table-primary'>
    <thead>
        <tr>
            <th>Box size</th>
            <th>Image size</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Small</td>
            <td>720 &times; 480 pixels</td>
        </tr>
        <tr>
            <td>Medium</td>
            <td>1110 &times; 480 pixels</td>
        </tr>
        <tr>
            <td>Large (deprecated)</td>
            <td>1500 &times; 480 pixels</td>
        </tr>
    </tbody>
</table>

<h3>Options available</h3>
<ul>
{{#navbox-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/navbox-options.options}}
</ul>

{{#navbox-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> navbox}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navbox}}</code></pre>
{{/navbox-options.options}}
