 <!-- Begin pattern: navbox //-->


	<div class="navbox">
	    <div class="navbox-image"><img src="{{asset image.url}}" alt="{{image.alt}}" style="width : 360px; height : 240px; border : ; padding : ; margin : ; float : ;" /></div>
	    <div class="navbox-title">
	        <div class="navbox-chevron"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="" style="width : 60px; height : 70px; border : ; padding : ; margin : ; float : ;" /></div>
	        <p><a href="{{url}}">{{title}}</a></p>
		</div>
	</div>


<!-- End pattern: navbox //-->			