<!-- Begin pattern: navbox //-->
{{#each box-size}}
<div class="row">
    <div class="{{column}}">
        <div class="navbox {{#if visible}} {{visible}} {{/if}}">
            {{#if image}}
            <div class="navbox-image">
                <img src="{{image.url}}" alt="{{image.alt}}">
            </div>
            {{/if}}
            <div class="navbox-title">
                <a href="#">{{{title}}}</a>
            </div>
        </div>
        {{#if text}}
        <p>{{text}}</p>
        {{/if}}
    </div>
</div>
{{/each}}
{{!-- {{else}} --}}
{{!-- <div class="row">
    <div class="col-sm-4">
        <div class="navbox {{#if visible}} {{visible}} {{/if}}">
            {{#if image}}
            <div class="navbox-image">
                <img src="{{asset image.url}}" alt="{{image.alt}}">
            </div>
            {{/if}}
            <div class="navbox-title">
                <a href="#">{{title}}</a>
            </div>
        </div>
        {{#if text}}
        <p>{{text}}</p>
        {{/if}}
    </div>
</div> --}}
<!-- End pattern: navbox //-->