---
title: Long-form sections
---

<p>The long-form section pattern shows the background options that can be used within a long-form story. Different backgrounds help to separate out the different sections of the story.</p>

<h3>Rules for long-form sections</h3>
<ul>
    <li>Must only be used within the main content of a long-form page.</li>
    <li>Must alternate sections so that same background isn't adjacent to itself.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#long-form-sections-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/long-form-sections-options.options}}
</ul>

{{#long-form-sections-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> long-form-sections}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> long-form-sections}}</code></pre>
<!--endnoindex-->
{{/long-form-sections-options.options}}