---
title: Alerts
---

<p>The alert pattern is used to provide contextual feedback messages for typical user actions and convey important information for users.</p>


<ul>
    <li>Wrap text with a <code>div</code> with a class of <code>alert</code> plus one of the four option classes:
    	<ul>
    		<li><code>alert-success</code></li>
    		<li><code>alert-info</code></li>
    		<li><code>alert-warning</code></li>
    		<li><code>alert-danger</code></li>
    	</ul>
    </li>		

    <li>Use the <code>alert-link</code> class to quickly provide matching coloured links within any alert.</li>
    <li>Must not appear before the page title, or before other patterns such as breadcrumbs or hero banner.</li>
</ul>

<hr>
<h3>Options available</h3>
<ul>
{{#alerts-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/alerts-options.options}}
</ul>

{{#alerts-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{>  alerts}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> alerts}}</code></pre>
{{/alerts-options.options}}