---
title: Alerts
---

<p>The alert pattern is used to convey important information to users.</p>


<h3>Rules for alerts</h3>
<ul>
    <li>Must not appear before the page title, or before other patterns such as <a href="../breadcrumbs/index.html">breadcrumbs</a> or <a href="../hero-banner/index.html">hero banner</a>.</li>
    <li>Use the <code>alert-link</code> class to quickly provide matching coloured links within any alert.</li>
    <li>Wrap text with a <code>div</code> with a class of <code>alert</code> plus one of the four option classes:
    	<ul>
    		<li><code>alert-success</code></li>
    		<li><code>alert-info</code></li>
    		<li><code>alert-warning</code></li>
    		<li><code>alert-danger</code></li>
    	</ul>
    </li>
</ul>

<hr>
<h3>Options available</h3>
<ul>
{{#alerts-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/alerts-options.options}}
</ul>

{{#alerts-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
    <div class="container">
    {{>  alerts}}
    </div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> alerts}}</code></pre>
{{/alerts-options.options}}