<div class="gallery">

    <h2 class="gallery__title">{{gallery-title}}</h2>

    <div class="gallery__description">{{gallery-description}}</div>

    <div class="{{gallery-images-class}}">
        {{#gallery-images}}
        <figure id="{{id}}">
            <a href="{{asset large-img}}" {{#if lightbox-gallery }} data-lightbox="{{lightbox-gallery}}" data-title="{{caption}}" {{/if}}><img src="{{asset thumbnail}}" alt="{{alt}}"></a>
            {{#unless lightbox-gallery}}<figcaption>{{caption}}</figcaption>{{/unless}}
        </figure>
        {{/gallery-images}}
    </div>

</div>