<div class="gallery">
    {{{gallery-title}}}
    <div class="gallery__description"><p>{{gallery-description}}</p></div>
    <div class="{{gallery-images-class}}">
        {{#gallery-images}}
        <figure id="{{id}}">
            <a href="{{asset large-img}}" {{#if lightbox-gallery }} data-lightbox="{{lightbox-gallery}}" data-title="{{caption}}" {{/if}}><img src="{{asset thumbnail}}" alt="{{alt}}"></a>
            <figcaption>{{{caption}}}</figcaption>
        </figure>
        {{/gallery-images}}
    </div>
</div>