---
title: Navigation bar
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The navigation bar pattern displays a horizontal navigation menu for pages related to the current page.</p>

<h2>Rules for the navigation bar</h2>

<ul>
    <li>Must be present on all webpages, apart from long-form stories and web applications.</li>
    <li>Must come below the category header and above the breadcrumbs and main body of the page.</li>
    <li>Must not contain any dropdown menus.</li>
    <li>Must only contain links to other webpages or web applications.</li>
    <li>The link with highest priority should be placed at the left hand side, with other links following in order of importance.</li>
    <li>Link titles should be concise, with the list of links kept to a single horizontal row.</p>
</ul>

<h2>Options available</h2>
<ul>
{{#navigation-bar-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/navigation-bar-options.options}}
</ul>
</div>
</div>
{{#navigation-bar-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}    
</div>
</div>
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> navigation-bar}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navigation-bar}}</code></pre>
<!--endnoindex-->
{{/navigation-bar-options.options}}
