
<!-- Begin pattern: content-2col //-->
{{#if background}}
    <section class="{{{background}}}">
{{/if}}
        <div class="container">

            {{#if heading}}
                <div id=\"\" class=\"row\"><div class=\"col-xs-12 col-sm-6\"><h2>{{{heading}}}</h2></div></div>
            {{/if}}

            <div class="row">
                <div {{{col-1}}}>
                    {{#if text}}
                         {{{text}}}
                    {{/if}}
                </div>
                <div {{{col-2}}}>
                    {{#if sidebar}}
                        {{{sidebar}}}
                    {{/if}}
                </div>
            </div>
        </div>
{{#if background}}    
    </section>
{{/if}}
<!-- End pattern: content-2col //-->
