<figure class="image theatre__image" {{#if id}}id="{{id}}"{{/if}}>
    {{#if large-img}}<a href="{{asset large-img}}">{{/if}}
    <img src="{{asset thumbnail}}" alt="{{alt}}">
    {{#if large-img}}</a>{{/if}}
    <figcaption>{{caption}}</figcaption>
</figure>