---
title: Panel grid
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The panel grid pattern arranges <a href="../panel/index.html">panel items</a> in a column grid.</p>

<h2>Rules for the panel grid</h2>
<ul>
	<li>Panels must be arranged equally into two or three columns.</li>
	<li>Panel elements must never appear outside of a grid.</li>
	<li>Any combination of colours can be used for panel headings.</li>
	<li>Panel headings can be linked to other webpages.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#panel-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/panel-grid-options.options}}
</ul>
</div>
</div>
{{#panel-grid-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}   
</div>
</div> 
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
<div class="row">
{{> panel-grid}}
</div>
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> panel-grid}}
```
{{/markdown}}
<!--endnoindex-->
{{/panel-grid-options.options}}