---
title: Photosphere
---

<p>A photosphere is used to showcase a 360&dec; image using <a href="https://developers.google.com/vr/concepts/vrview-web">Google VR view</a>.</p>

<p>This is done via a JavaScript API to manipulate the contents of an <code>&lt;iframe&gt;</code>.</p>

<h3>Rules for photospheres</h3>
<ul>
    <li>Must always be contained within a <a href="../responsive-embed/index.html">responsive embed pattern</a>.</li>
    <li>Must only be used on the <a href="../content-whole/index.html">content whole</a>, <a href="../content-thirds/index.html">content thirds</a>, <a href="../content-halves/index.html">content halves</a> and <a href="../featured-media/index.html">featured media</a> patterns.</li>
</ul>

<h3>Image specifications</h3>
<ul>
	<li>Images can be stored as png, jpeg, or gif. We recommend you use jpeg for improved compression.</li>
	<li>For maximum compatibility and performance, image dimensions should be powers of two (e.g. 2048 or 4096).</li>
	<li>Mono images should be 2:1 aspect ratio (e.g. 4096 x 2048).</li>
	<li>Stereo images should be 1:1 aspect ratio (e.g. 4096 x 4096).</li>
</ul>

<h3>Options available</h3>
<ul>
{{#photosphere-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/photosphere-options.options}}
</ul>

{{#photosphere-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{>  photosphere}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> photosphere}}</code></pre>
{{/photosphere-options.options}}