---
title: Long-form quotes
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The long-form quotes pattern is used for including quotes within a long-form story. The inclusion of quotes is optional.</p>

<h2>Rules for long-form quotes</h2>
<ul>
  <li>Must only be used within the main content of a long-form page.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#long-form-quotes-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/long-form-quotes-options.options}}
</ul>
</div>
</div>
{{#long-form-quotes-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> long-form-quotes}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> long-form-quotes}}</code></pre>
<!--endnoindex-->
{{/long-form-quotes-options.options}}