<!-- Begin pattern: featured news //-->
<div class="featured-news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Featured item</h2>
            </div>
            <div class="col-xs-12 featured-news__article-link">
                <div class="col-md-5 col-md-push-7 gutter-md--r">
                    <a href="#article"><img src="{{asset url}}" alt="news story" class="featured-news__image"></a>
                </div>
                <div class="col-md-7 col-md-pull-5 gutter-md--l">
                    <h3><a href="#article">{{title}}</a></h3>
                    <p>{{text}}</p>
                    <small>{{featured-date}}<a href="#category" class="featured-news__category featured-news__category--inline">{{featured-category}}</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End pattern: featured news //-->
