<!-- Begin pattern: search results //-->
<ol class="search-results{{search-divided}}">
    {{#if group-heading}}
    <li class="search-results__group-heading">
        <h3 class="sr-only">{{group-heading}}</h3>
    </li>
    {{/if}}
    {{#each search-results}}
    <li class="search-result">
    {{#if contact}}
        {{> contact-card card}}
    {{else}}
        <a href="{{{url}}}" title="{{heading}}"{{{link-class}}}>
            <h4 class="search-result__heading">{{heading}}</h4>
            {{#if heading-label}}
            <span class="search-result__label">{{heading-label}}</span>
            {{/if}}
            {{#if url}}
            <cite class="search-result__url">{{{url}}}</cite>
            {{/if}}
        </a>
        {{#if description}}
        <p class="search-result__summary">{{{description}}}</p>
        {{/if}}
        {{#if metadata}}
        <dl class="metadata-list">
            {{#each metadata}}
            <dt{{#if full}} class="metadata-list--full"{{/if}}><i class="{{icon}}" aria-hidden="true" title="{{term}}"></i><span class="sr-only">{{term}}</span></dt>
            <dd{{#if full}} class="metadata-list--full"{{/if}}>{{#if link}}<a href="#">{{/if}}{{{definition}}}{{#if link}}</a>{{/if}}</dd>
            {{/each}}
        </dl>
        {{/if}}
    {{/if}}
    </li>
    {{/each}}
</ol>
<!-- End pattern: search results //-->