<!-- Begin pattern: article-list //-->
{{#each article-items}}
<{{wrapper}} class="article-list">
    <div class="article-list__image">
        <a href="#article"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{image.url}}" alt="{{title}}" class="lazyload"></a>
    </div>
    <div class="article-list__snippet">
        <h3 class="article-list__heading"><a href="#article">{{title}}</a></h3>
        <p class="article-list__description{{show-all}}">{{description}}</p>
        {{#if metadata}}
        <dl class="search-result__meta">
            {{#each metadata}}
            <dt class="{{#if full}}search-result__meta--full{{/if}}{{hidden}}{{no-icon}}">{{#if no-icon}}<span>{{term}}</span>{{else}}<i class="{{icon}}" aria-hidden="true" title="{{term}}"></i><span class="sr-only">{{term}}</span>{{/if}}</dt><dd{{#if full}} class="search-result__meta--full"{{/if}}>{{#if link}}<a href="#">{{/if}}{{{definition}}}{{#if link}}</a>{{/if}}</dd>
            {{/each}}
        </dl>
        {{/if}}
    </div>
</{{wrapper}}>
{{/each}}
{{#if pager}}
{{> pagination}}
{{/if}}
<!-- End pattern: article-list //-->