<!-- Begin pattern: more-news //-->
<div class="more-news">
    <div class="container">
        <div class="row">
            {{#each news-items}}
            <div class="col-xs-12 more-news__article-link">
                <div class="col-xs-6 col-md-9 gutter-xs--l">
                    <h3><a href="#article">{{title}}</a></h3>
                    <p>{{description}} &hellip;</p>
                    <small>{{date}}<a class="more-news__category more-news__category--inline" href="#category">{{category}}</a></small>
                </div>
                <div class="col-xs-6 col-md-3 gutter-xs--r">
                    <a href="#article"><img src="{{image.url}}" alt="news story"></a>
                </div>
            </div>
            {{#if not-last}}
            <hr>
            {{/if}}
            {{/each}}
            {{#if pager}}
                {{> pagination}}
            {{/if}}
        </div>
    </div>
</div>
<!-- End pattern: more-news //-->