---
title: Filter box
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The filter box pattern is used to display a series of filter 'tags' that have been applied to the content. A typical use would be on a filtered search results page.</p>

<h2>Rules for filter box</h2>
<ul>
	<li>Each filter can be individually removed by clicking it's tag.</li>
	<li>A 'clear all' filter option reduces the number of required clicks.</li>
	<li>A heading should be used to introduce the filter tags to screen readers.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#filter-box-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/filter-box-options.options}}
</ul>
</div>
</div>
{{#filter-box-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
<div class="container">
	{{> filter-box}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> filter-box}}
```
{{/markdown}}
<!--endnoindex-->
{{/filter-box-options.options}}