<!-- Begin pattern: event-card //-->
<div class="event-grid__cards">
	{{#each tiles}}
	<div class="featured-event">
		<a href="#">
			<div class="featured-event__image">
		   		<img width="300" src="{{asset image.url}}"alt="{{image.alt}}">
		   	</div>
	        	<div class="featured-event__details">
				<h3 class="featured-event__heading">{{title}}</h3>
	            	<div class="featured-event__date">{{date-display}}</div>
	            	<div class="featured-event__location">{{event-location}}</div>		
		   	</div><!--// .featured-event__details //-->
		</a>
	</div>
	{{/each}}
</div>
<!-- End pattern: event-card //-->