<!-- Begin pattern: hero-banner //-->
<section class="hero-banner{{class}}" {{#if bg-image}}style="background-image: url({{asset bg-image}});"{{/if}}>
    <div class="container">
        <div class="fg row">
            <div class="{{size}}">
                <h2 class="call-heading">{{default heading "[heading]"}}</h2>
                <p>{{default paragraph "[paragraph]"}}</p>
                <p>
                <a class="btn btn-primary btn-lg" href="{{default action-url "[action-url]"}}">{{default action-text "[action-text]"}}</a>
                {{#if action-text-2}}
                <a class="btn btn-primary btn-lg" href="{{default action-url "[action-url]"}}">{{default action-text-2 "[action-text-2]"}}</a>
                {{/if}}
                </p>
            </div>
            {{#if embed-code}}
            <div class="col-xs-12 col-md-5">
                <div class="embed-responsive embed-responsive-16by9"><iframe title="Example YouTube video" src="{{embed-code}}" allowfullscreen=""></iframe></div>
            </div>
            {{/if}}
        </div>
    </div>
</section>
<!-- End pattern: hero-banner //-->