---
title: Buttons
---

<p class="lead">Buttons are calls to action that are used to direct users to related pages.</p>

<h3>Rules for buttons</h3>
<ul>
	<li>These buttons must be used only within main body of a page; they must not be used in asides.</li>
	<li>Buttons must not be used mid-sentence. They must always appear on their own line separated from written content.</li>
	<li>Buttons linking to downloadable content must use the icon button option.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#buttons-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/buttons-options.options}}
</ul>
{{#buttons-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
{{>  buttons}}
<br><br>
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> buttons}}</code></pre>
<!--endnoindex-->
{{/buttons-options.options}}
