---
title: Page intro
---

<p>The page intro pattern should be used at the top of full width page layouts as an alternative to the <a href='../hero-banner/index.html'>hero banner</a> pattern.</p>

<h3>Rules for the page intro</h3>
<ul>
	<li>The page intro must only be used once on a page.</li>
	<li>The page intro must appear at the top of the page content, directly under the breadcrumbs (if used) or otherwise directly under the <a href='../navigation-bar/index.html'>navigation bar</a>.</li>
	<li>The page intro can only be used on a full width page layout.<li>
	<li>When used on a landing level page the larger heading size should be used.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#page-intro-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/page-intro-options.options}}
</ul>

{{#page-intro-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> page-intro}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> page-intro}}</code></pre>
<!--endnoindex-->
{{/page-intro-options.options}}