---
title: Facet list
---

<p class="lead">The facet list pattern is used to present different types of filters, typically for a set of search results.</p>
<p>There are different types of facet which offer different ways to filter:</p>
<ul>
	<li><strong>Single category</strong> selection is when only a single list of options is shown and only one option should be selected at a time. Once an item is selected all other choices are hidden.</li>
	<li><strong>Multiple category</strong> selection allows for more than one option to be selected at a time and includes checkbox controls to denote which are selected.</li>
	<li><strong>Toggle between categories</strong> selection only allows one item from the list to be selected at a time but all remaining non-selected options are still shown.</li>
	<li><strong>Drilldown categories</strong> is used for nested options where the next level of choices are shown once their parent option has been selected.</li>
</ul> 

<h2>Rules for facet list</h2>
<ul>
	<li></li>
</ul>

<h2>Options available</h2>
<ul>
{{#facet-list-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/facet-list-options.options}}
</ul>

{{#facet-list-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
	{{> facet-list}}
			</div>
		</div>
	</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> facet-list}}</code></pre>
<!--endnoindex-->
{{/facet-list-options.options}}