---
title: Facet list
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The facet list pattern is used to present different types of filters. Typical use could be a listings page, such as a search, where results can be filtered.</p>
<p>A facet list can be used as standalone filter or grouped together to form a powerful filtering tool, making use of the different filter types available. This can be combined with the <a href="../filter-box/index.html">filter box</a> pattern to further highlight which options have been selected at any given time.</p>

<h2>Options available</h2>
<ul>
{{#facet-list-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/facet-list-options.options}}
</ul>
</div>
</div>
{{#facet-list-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
	{{> facet-list}}
			</div>
		</div>
	</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> facet-list}}
```
{{/markdown}}
<!--endnoindex-->
{{/facet-list-options.options}}