---
title: Facet list
---

<p>The facet list pattern</p>

<h2>Rules for page intro</h2>
<ul>
	<li></li>
</ul>

<h2>Options available</h2>
<ul>
{{#facet-list-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/facet-list-options.options}}
</ul>

{{#facet-list-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
	{{> facet-list}}
			</div>
		</div>
	</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> facet-list}}</code></pre>
<!--endnoindex-->
{{/facet-list-options.options}}