
<!-- Begin pattern: subject-combo //-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{title}}</h2>
            <p>{{subtext}}</p>           
            <div class="col-md-4 modlangs-plus">
                {{{column_1}}}
            </div>
            <div class="col-md-4 modlangs-plus">
                {{{column_2}}}
            </div>
            <div class="col-md-4">
               {{{column_3}}}
            </div>          
        </div>
    </div>
</div>

<!-- End pattern: subject-combo //-->