---
title: Navbox grid
---

<p>The navbox grid pattern presents a set of featured <a href="../navbox/index.html">navigation items</a> in a grid.</p>

<h3>Rules for navbox grid</h3>
<ul>
    <li>Must only be used within the main body of the page.</li>
    <li>Must only link to an internal webpage or web application.</li>
    <li>Must not have a title of more than two lines of text.</li>
    <li>When using an image, the image must relate to the link destination.</li>
    <li>All navboxes in a grid must either contain an image or not.</li>
    <li>When using an image you must have between two and six navboxes in a grid.</li>
</ul>

<h3>Options available</h3>
<p>Choose the option below that matches the number of links you need.</p>
<ul>
{{#navbox-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/navbox-grid-options.options}}
</ul>

{{#navbox-grid-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> navbox-grid}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navbox-grid}}</code></pre>
{{/navbox-grid-options.options}}
