---
title: Navbox grid
---

<p>The navbox grid pattern presents a set of <a href="../navbox/index.html">navboxes</a> in various grid layouts.</p>

<h3>Rules for the navbox grid</h3>
<ul>
    <li>Must only be used within the main body of the page.</li>
    <li>Must only be used on <a href="../content-whole/index.html">content whole</a> page layouts.</li>
    <li>Must only link to an internal webpage or web application.</li>
    <li>Must not have a title that is longer than two lines of text.</li>
    <li>When using an image, the image must relate to the link destination.</li>
    <li>If a grid with images is used, all of the navboxes in the grid must include images.</li>
    <li>If a grid without images is used, all of the navboxes in the grid must not include images.</li>
    <li>When using an image you must have between two and six navboxes in a grid.</li>
    <li>Navbox grids that exceed six navboxes must not have images.</li>
    <li>Navboxes with accompanying paragraph text must provide further context of the page the navigational item links to.</li>
    <li>Navboxes with accompanying paragraph text must be direct and thorough so as not to be of unnecessary length.</li>
    <li>Navboxes with accompanying paragraphs must not have more than 300 characters.</li>
    <li>If a grid with paragraphs is used, all of the navboxes in the grid must include paragraphs.</li>
    <li>If a grid without paragraphs is used, all of the navboxes in the grid must not include paragraphs.</li>
</ul>

<p>If there is ever an error with the navbox grid where the layout breaks you can use <code>&lt;div class="clearfix"&gt;&lt;/div&gt;</code> after the final navbox in a row to correct it.</p>

<h3>Options available</h3>
<p>Choose the grid option below that matches the number of navigation links required. For information on image sizes, see the <a href="../navbox/index.html">navbox</a> pattern.</p>

<!-- Begin pattern: alerts //-->
<div class="alert alert-info" role="alert">
    <p>If there is not an option that caters a requirement, please contact <a href="mailto:digitalcommunications@st-andrews.ac.uk">digitalcommunications@st-andrews.ac.uk</a> for consultation.</p>
</div>
<!-- End pattern: alerts //-->

<ul>
{{#navbox-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/navbox-grid-options.options}}
</ul>

{{#navbox-grid-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> navbox-grid}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navbox-grid}}</code></pre>
{{/navbox-grid-options.options}}
