---
title: Navbox grid
---

<p>The navbox grid pattern presents a set of <a href="../navbox/index.html">navboxes</a> in various grid layouts.</p>

<h3>Rules for navbox grid</h3>
<ul>
    <li>Must only be used within the main body of the page.</li>
    <li>Must only be used on <a href="../content-whole/index.html">whole content</a> columns.</li>
    <li>Must only link to an internal webpage or web application.</li>
    <li>Must not have a title of more than two lines of text.</li>
    <li>When using an image, the image must relate to the link destination.</li>
    <li>If a grid with images is used, all of the navboxes in the grid must include images.</li>
    <li>If a grid without images is used, all of the navboxes in the grid must not include images.</li>
    <li>When using an image you must have between two and six navboxes in a grid.</li>
    <li>Navbox grids that exceed six navboxes must not have images.</li>

</ul>

<h3>Options available</h3>
<p>Choose the grid option below that matches the number of navigation links required. For information on image sizes, see the <a href="../navbox/index.html">navbox</a> pattern.</p>
<ul>
{{#navbox-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/navbox-grid-options.options}}
</ul>

{{#navbox-grid-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> navbox-grid}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navbox-grid}}</code></pre>
{{/navbox-grid-options.options}}
