 <!-- Begin pattern: navbox-grid //-->

      <div class="container" id="homepage-content" role="main">

      		<div class="row">
				<div class="col-sm-4 category-images">
					<div class="image-container">
		                <div class="image-bg"><img src="{{asset "images/placeholders/360x240-study.jpg"}}" alt="Undergraduate study" style="width : 360px; height : 240px; border : ; padding : ; margin : ; float : ;" /></div>
		                <div class="image-text-box">
			                <div class="text-box-pointer"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="" style="width : 60px; height : 70px; border : ; padding : ; margin : ; float : ;" /></div>
			                <p><a href="/study/">Study at St Andrews</a></p>
						</div>
					</div>
				
				</div>
				<div class="col-sm-4 category-images">
					<div class="image-container">
		                <div class="image-bg"><img src="{{asset "images/placeholders/360x240-research.jpg"}}" alt="Research" style="width : 360px; height : 240px; border : ; padding : ; margin : ; float : ;" /></div>
		                <div class="image-text-box">
			                <div class="text-box-pointer"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="" style="width : 60px; height : 70px; border : ; padding : ; margin : ; float : ;" /></div>
			                <p><a href="/research/">Research</a></p>
						</div>
					</div>
				
				</div>
				<div class="col-sm-4 category-images">
					<div class="image-container">
		                <div class="image-bg"><img src="{{asset "images/placeholders/360x240-alumni.jpg"}}" alt="Alumni and donors" style="width : 360px; height : 240px; border : ; padding : ; margin : ; float : ;" /></div>
		                <div class="image-text-box">
			                <div class="text-box-pointer"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="" style="width : 60px; height : 70px; border : ; padding : ; margin : ; float : ;" /></div>
			                <p><a href="/alumni/">Alumni and donors</a></p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

<!-- End pattern: navbox-grid //-->			