---
title: Navbox grid
---

<p>The navbox grid pattern presents a set of <a href="../navbox/index.html">navboxes</a> in various grid layouts. For a set of navigation links that are considered secondary in importance the <a href="../navigation-grid/index.html">navigation grid</a> pattern should be used.</p>

<h3>Rules for the navbox grid</h3>
<ul>
    <li>Must only be used within the main body of the page.</li>
    <li>Must only link to an internal webpage or web application.</li>
    <li>Navbox grids include top and bottom padding as default. This can be removed by assigning the respective classes <code>collapse-top</code> and <code>collapse-bottom</code> to the element with the <code>navbox-grid</code> class.</li>
    <li>Medium navboxes must not have a title that exceeds 88 characters.</li>
    <li>Small navboxes must not have a title that exceeds 57 characters.</li>
    <li>When using an image, the image must relate to the link destination.</li>
    <li>If a navbox with an image is used, all of the navboxes in the grid must include images.</li>
    <li>If a navbox without an image is used, all of the navboxes in the grid must not include images.</li>
    <li>Navbox grids that exceed six navboxes must not have images unless there is a proven user requirement.</li>
    <li>Navboxes with accompanying paragraph text must provide further context of the page where the navbox links to.</li>
    <li>Navboxes with accompanying paragraphs must be concise and must not have more than 300 characters.</li>
    <li>If a navbox with a paragraph is used, all of the navboxes in the grid must include paragraphs.</li>
    <li>If a navbox without a paragraph is used, all of the navboxes in the grid must not include paragraphs.</li>
</ul>

<p>If there is ever an error with the navbox grid where the rows overlap you can use <code>&lt;div class="clearfix"&gt;&lt;/div&gt;</code> after the final navbox in a row to correct it.</p>

<h3>Options available</h3>
<p>Choose the grid option below that matches the number of navigation links required. For information on image sizes, see the <a href="../navbox/index.html">navbox</a> pattern.</p>

<!-- Begin pattern: alerts //-->
<div class="alert alert-info" role="alert">
    <p>If there is not an available option that caters for a user requirement, please contact <a href="mailto:digitalcommunications@st-andrews.ac.uk">digitalcommunications@st-andrews.ac.uk</a> for consultation.</p>
</div>
<!-- End pattern: alerts //-->

<ul>
{{#navbox-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/navbox-grid-options.options}}
</ul>

{{#navbox-grid-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
    <div class="container">
    {{> navbox-grid}}
    </div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navbox-grid}}</code></pre>
<!--endnoindex-->
{{/navbox-grid-options.options}}
