<!-- Begin pattern: external-home //-->
      <div id="accessibility"><a class="skip" href="#homepage-content">Skip to content</a></div>


		{{>header}}

		{{>navigation-bar navigation-bar-home}}


      <!-- navigation object : Homepage hero banner -->		<div class="jumbotron primary-call">
			<div class="container">
				<div class="call-heading">Scotland's first university</div>
				<p>St Andrews is Scotland's first university and third oldest in the English-speaking world, founded in 1413. It has established a reputation as one of Europe's leading centres for teaching and research.</p>
				<p><a class="btn btn-primary btn-lg" href="#">Call to action</a></p>
			</div>
		</div>
      
      <div class="container" id="homepage-content" role="main">

      		<div class="row">
				<div class="col-sm-4 category-images">
					<div class="image-container">
		                <div class="image-bg"><img src="{{asset "images/placeholders/360x240-study.jpg"}}" alt="Undergraduate study" style="width : 360px; height : 240px; border : ; padding : ; margin : ; float : ;" /></div>
		                <div class="image-text-box">
			                <div class="text-box-pointer"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="" style="width : 60px; height : 70px; border : ; padding : ; margin : ; float : ;" /></div>
			                <p><a href="/study/">Study at St Andrews</a></p>
						</div>
					</div>
				
				</div>
				<div class="col-sm-4 category-images">
					<div class="image-container">
		                <div class="image-bg"><img src="{{asset "images/placeholders/360x240-research.jpg"}}" alt="Research" style="width : 360px; height : 240px; border : ; padding : ; margin : ; float : ;" /></div>
		                <div class="image-text-box">
			                <div class="text-box-pointer"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="" style="width : 60px; height : 70px; border : ; padding : ; margin : ; float : ;" /></div>
			                <p><a href="/research/">Research</a></p>
						</div>
					</div>
				
				</div>
				<div class="col-sm-4 category-images">
					<div class="image-container">
		                <div class="image-bg"><img src="{{asset "images/placeholders/360x240-alumni.jpg"}}" alt="Alumni and donors" style="width : 360px; height : 240px; border : ; padding : ; margin : ; float : ;" /></div>
		                <div class="image-text-box">
			                <div class="text-box-pointer"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="" style="width : 60px; height : 70px; border : ; padding : ; margin : ; float : ;" /></div>
			                <p><a href="/alumni/">Alumni and donors</a></p>
						</div>
					</div>
					
				</div>
			</div></div>

    <hr>
      
	<div class="container">
	<div class="standalone-heading">
	<h3>Seven centuries of academic excellence and groundbreaking&nbsp;research</h3>
	<p>Over the last 600 years, the University of St Andrews has established a reputation as one of the world&rsquo;s leading research and teaching centres. Today, we offer a flexible degree structure based on your choice of subject specialism or research, creating an environment which nurtures inquisitive minds and a culture of shared&nbsp;learning.</p>
	</div>
	</div>

    <hr>
        

 	{{>tile-grid tile-grid-1}} 
    

		<!-- navigation object : Secondary call to action -->
		<!-- navigation object : Secondary call to action - video -->


		<footer>
			<div id="website-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-4" id="footer-tools">
							<!-- navigation object : Footer - Tools (global) --><div class="htmlanchor" data-t4-contenttype="general-no-title" data-t4-layout-name="text-html"><a id="d.en.233617"></a></div>
<h3>Tools</h3>
<ul>
<li><a href="/students/">Current students</a></li>
<li><a href="/pgstudents/">Current postgraduates</a></li>
<li><a href="/staff/">Staff</a></li>
<li><a href="#">Work at St Andrews</a></li>
</ul>
						</div>
						<div class="col-sm-4" id="footer-navigation">
                          	<!-- navigation object : Footer - navigation --><h3>Navigation</h3>
<ul role="navigation"><li><a href="/about/">About</a></li><li><a href="/study/">Study at St Andrews</a></li><li><a href="/research/">Research</a></li><li><a href="/alumni/">Alumni and donors</a></li><li><a href="/schools/">Schools</a></li></ul>
						</div>
						<div class="col-sm-4" id="footer-contact">
							<!-- navigation object : Footer - Contact --><div class="htmlanchor" data-t4-contenttype="general-no-title" data-t4-layout-name="text-html"><a id="d.en.233618"></a></div>
<h3><a href="/contact/">Contact us</a></h3>
<p><strong>University of St Andrews</strong><br />College Gate<br />St Andrews, Fife<br> KY16 9AJ<br />Scotland, UK</p>
<p><strong>Phone:</strong> +44 (0)1334 46&nbsp;6161</p>
						</div>
					</div>
				</div> <!-- /container -->
			</div>

			<div id="university-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<p id="footer-charity" role="contentinfo">&copy; 2014 University of St Andrews is a charity registered in Scotland, No SC013532.</p>
							<ul id="footer-links">
								<li><a href="/terms/cookies/">Privacy and cookies</a></li>
								<li><a href="/help/">Website help</a></li>
							</ul>
			       		</div>
		        
		        		<div class="col-lg-4">
					        <!-- Social Icons -->
					        <ul id="social">
					        	<li><a href="https://www.facebook.com/uniofsta"><img src="../../dist/images/furniture/facebook-logo-svg.svg" alt="Facebook" style="width : -1px; height : -1px; border : ; padding : ; margin : ; float : ;" /></a></li>
					            <li><a href="https://twitter.com/univofstandrews/"><img src="../../dist/images/furniture/twitter-logo-svg.svg" alt="Twitter" style="width : -1px; height : -1px; border : ; padding : ; margin : ; float : ;" /></a></li>
					       	</ul>
				       </div>
				   </div>
				</div>
			</div>
		</footer>
<!-- End pattern: external-home //-->