<!-- Begin pattern: accordion //-->
{{#each accordion}}
{{{accordion-wrapper-start}}}
    <h3 aria-expanded="false" aria-controls="" role="tab" tabindex="0"{{{accordion-heading-class}}}>{{accordion-heading}}</h3>
    <div id="" aria-hidden="true" role="tabpanel"><p>{{accordion-content}}</p></div>
{{{accordion-wrapper-end}}}
{{/each}}
<!-- End pattern: accordion //-->
