<!-- Begin pattern: footer //--> 

		<footer>
			<div id="website-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-4" id="footer-tools">
							<!-- navigation object : Footer - Tools (global) --><div class="htmlanchor" data-t4-contenttype="general-no-title" data-t4-layout-name="text-html"><a id="d.en.233617"></a></div>

						{{#section1}}
						<h3>{{title}}</h3>
						<ul>
						{{#links}}
						<li><a href="{{url}}">{{title}}</a></li>
						{{/links}}
						</ul>
						{{/section1}}
						</div>

						<div class="col-sm-4" id="footer-navigation">

						{{#section2}}
						<h3>{{title}}</h3>
						<ul>
						{{#links}}
						<li><a href="{{url}}">{{title}}</a></li>
						{{/links}}
						</ul>
						{{/section2}}
						</div>


						<div class="col-sm-4" id="footer-contact">

						{{#contact}}

							<h3><a href="{{url}}">Contact us</a></h3>
							<address>
							<strong>{{unit}}</strong><br>
							{{{address}}}<br><br>
							<strong>Phone:</strong> {{phone}}</p>
							</address>

						{{/contact}}

						</div>
					</div>
				</div> <!-- /container -->
			</div>

			<div id="university-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<p id="footer-charity" role="contentinfo">&copy; 2014 University of St Andrews is a charity registered in Scotland, No SC013532.</p>
							<ul id="footer-links">
								<li><a href="/terms/cookies/">Privacy and cookies</a></li>
								<li><a href="/help/">Website help</a></li>
							</ul>
			       		</div>
		        
		        		<div class="col-lg-4">
					        <!-- Social Icons -->
					        <ul id="social">
					        	<li><a href="https://www.facebook.com/uniofsta"><img src="{{asset "images/furniture/facebook-logo-svg.svg"}}" alt="Facebook" style="width : -1px; height : -1px; border : ; padding : ; margin : ; float : ;" /></a></li>
					            <li><a href="https://twitter.com/univofstandrews/"><img src="{{asset "images/furniture/twitter-logo-svg.svg"}}" alt="Twitter" style="width : -1px; height : -1px; border : ; padding : ; margin : ; float : ;" /></a></li>
					       	</ul>
				       </div>
				   </div>
				</div>
			</div>
		</footer>

<!-- End pattern: footer //-->		