---
title: Footer
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The footer pattern presents the information that should be found at the bottom of all pages.</p>

<h2>Rules for the footer</h2>
<p>There are three components of the footer: the <b>Copyright footer</b>, <b>Navigation menu footer</b> and <b>Feedback footer</b>.</p> 
<ul>
	<li>The <b>Copyright footer</b> must appear at the bottom of all pages without any modification. It contains copyright information, legal information and social media links.</li>
	<li>The <b>Navigation menu footer</b> contains links and contact information relevant to the website.</li>
	<li>The <b>Feedback footer</b> provides a mechanism to gather simple feedback on the usefulness of a specific page. It must appear directly before any of the other used footer components.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#footer-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/footer-options.options}}
</ul>
</div>
</div>
{{#footer-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> footer}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> footer}}</code></pre>
<!--endnoindex-->
{{/footer-options.options}}