---
title: Footer
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The footer pattern presents the information that should be found at the bottom of all pages.</p>

<h2>Rules for the footer</h2>
<p>There are three components of the footer: the copyright footer, navigation menu footer and feedback footer.</p> 
<ul>
	<li>The copyright footer must appear at the bottom of all pages without any modification. It contains copyright information, legal information and social media links.</li>
	<li>The navigation menu footer contains links and contact information relevant to a specific section of the website.</li>
	<li>The feedback footer provides a way to gather simple feedback on the usefulness of a specific page. It must appear directly before any of the other footer components.</li>
	<li>The 'cookie preferences' link in the copyright footer should be used to access controls for a user to manage which cookies are set on their device.</li>
</ul>
<p>In addition to this, logos can be used in the following places:</p>
<ul>
	<li>Within the footer if a single logo associated with a sub-brand.</li>
	<li>Above the footer if used to show awards and accreditations.</li>
</ul>
<h2>Options available</h2>
<ul>
{{#footer-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/footer-options.options}}
</ul>
</div>
</div>
{{#footer-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> footer}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> footer}}</code></pre>
<!--endnoindex-->
{{/footer-options.options}}