<!-- Begin pattern: tile-grid //-->
<div class="tile-grid {{bg-color}}"{{#if bg-image}} style="background-image: url({{asset bg-image}});"{{/if}}>
	<div class="container">
		<div class="row">
			<div class="col-md-6{{#if single-call-to-action}} col-lg-8{{/if}}">
			{{#if heading}}
				<h2 class="tile-grid__heading{{heading-color}}">{{heading}}</h2>
			{{/if}}
			</div>
			{{#each call-to-action-text}}
			<div class="{{read-more-size}} read-more">
				<a href="#">{{title}}</a>
			</div>
			{{/each}}
		</div>
		<div class="row tile-grid__tiles">
		{{#each tiles}}
			<div class="col-sm-6 col-md-4 tile-grid__tile">
				<div class="tile {{color}}">
					<div class="tile-image-title">
						<img src="{{asset image.url}}" alt="{{image.alt}}">
						<h3><a href="#" role="button">{{title}}</a></h3>
					</div>
					<p>{{description}}</p>
					<div class="tile-date">{{date-display}}</div>
					<div class="tile-type"><a href="#">{{type}}</a></div>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
</div>
<!-- End pattern: tile-grid //-->