---
title: Tile grid
---

<p class="lead">The tile grid pattern contains a heading, call-to-action buttons and a grid layout of tiles; it is used to show a collection of links to highlighted content such as news articles. Each tile is a clickable link, and includes an image, title and description along with optional date and tag.</p>

<h2>Rules for tile grid</h2>
<ul>
    <li>Must have a light grey, or white background colour.</li>
    <li>Must not use more than six tiles in one grid.</li>
    <li>Must only have one tile grid per page.</li>
    <li>Must only be used within the main body of the page.</li>
    <li>Must contain a maximum of two call-to-action buttons.</li>
    <li>Tile images must be 750 by 500 pixels.</li>
    <li>Tile titles should not be more than 50 characters, or two lines in length.</li>
    <li>Tile description text should be between 80 to 140 characters, or roughly three to four lines in length.</li>
</ul>

<h3>Tile colours</h3>
<p>Tile colours may be used to represent different categories. For example, in the below options, tile colours represent the following categories:
<ul>
	<li><strong>Blue</strong>, primary: News</li>
	<li><strong>Green</strong>, secondary: Featured event</li>
	<li><strong>Red</strong>, tertiary: Photo of the week</li>
</ul>
<p>Blue is the primary colour used for the most popular category. Tile grids must not include more than three category colours.</p>

<h2>Options available</h2>
<ul>
{{#tile-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/tile-grid-options.options}}
</ul>

{{#tile-grid-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> tile-grid}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> tile-grid}}</code></pre>
<!--endnoindex-->
{{/tile-grid-options.options}}

