---
title: Tile grid
---

<div class="row">
    <div class="col-md-8">
<p class="lead">The tile grid pattern shows a collection of links to highlighted content such as news articles. It contains a heading, call-to-action buttons and a grid layout of tiles. Each tile is a clickable link, and includes an image, title and description along with optional date and tag.</p>

<h2>Rules for tile grid</h2>
<ul>
    <li>Must have a light grey, or white background colour.</li>
    <li>Must only be used on full width page layouts.</li>
    <li>Must not use more than six tiles in one grid.</li>
    <li>Must only have one tile grid per page.</li>
    <li>Must only be used within the main body of the page.</li>
    <li>May contain a maximum of two call-to-action buttons.</li>
    <li>Tile images must be 750 by 500 pixels.</li>
    <li>Tile titles should not be more than 50 characters, or two lines in length.</li>
    <li>Tile description text should be between 80 to 140 characters, or roughly three to four lines in length.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#tile-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/tile-grid-options.options}}
</ul>
</div>
</div>
{{#tile-grid-options.options}}
<hr>
<div class="row">
    <div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
    <span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> tile-grid}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> tile-grid}}
```
{{/markdown}}
<!--endnoindex-->
{{/tile-grid-options.options}}

