---
title: Tile grid
---

<p>The tile grid pattern contains a heading, a call-to-action button and a grid layout of tiles; it is used to show a collection of news and/or events. Each tile is a clickable, single-action item, and includes an image, title and description.</p>

<h3>Rules for tile grid</h3>
<ul>
    <li>Must have an image or light grey background colour.</li>
    <li>Must not use more than six tiles in one grid.</li>
    <li>Must only have one tile grid per page.</li>
    <li>Must only be used within the main body of the page.</li>
    <li>Must contain one or two call-to-action buttons.</li>
    <li>Tile images must be 360 x 240 pixels.</li>
    <li>Tile titles must not be more than two lines.</li>
    <li>Tile description text should be three to four lines in length, or roughly 80 to 140 characters.</li>
</ul>

<h3>Tile colours</h3>
<p>Tile colours represent different categories used. For example, in the below options, tile colours represent the following categories:
<ul>
	<li><strong>Blue</strong>, primary: News</li>
	<li><strong>Green</strong>, secondary: Featured event</li>
	<li><strong>Red</strong>, tertiary: Photo of the week</li>
</ul>
<p>Blue is the primary colour used for the most popular category. Tile grids must not include more than three category colours.</p>

<h3>Options available</h3>
<ul>
{{#tile-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/tile-grid-options.options}}
</ul>

{{#tile-grid-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>{{> tile-grid}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> tile-grid}}</code></pre>
{{/tile-grid-options.options}}

