
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

<title>DataTables</title>

<link href="{{asset 'core/styles/screen.css'}}" rel="stylesheet" type="text/css" media="screen" />
<link href="{{asset 'core/styles/print.css'}}" rel="stylesheet" type="text/css" media="print" />
<!--[if lt IE 9]><link href="{{asset 'core/styles/ie.css'}}" rel="stylesheet" type="text/css" media="screen" /><![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="{{asset "core/images/favicon.ico"}}">

  </head>
  <body>
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

   {{> header }}

    <!-- Begin pattern: category-header //-->
<div id="category-header" class="">
  <div class="container">
    <h2><a href="../index.html">Digital pattern library</a></h2>
  </div>
</div>
<!-- End pattern: category-header //-->

<div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
          <div class="navbar-header">
              <!-- <a href="{{rel "index.html"}}" class="navbar-brand">Digital pattern library</a> -->
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
              {{#each dpl-nav.items}}
                  {{#if items}}
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="{{rel url}}" id="nav-{{name}}">{{name}}<span class="caret"></span></a>
                          <ul class="dropdown-menu" aria-labelledby="{{name}}">
                              {{#each items}}
                              <li><a href="{{rel url}}">{{{name}}}</a></li>
                              {{/each}}
                          </ul>
                  </li>
                  {{else}}
                      <li>
                          <a href="{{rel url}}">{{name}}</a>
                      </li>
                  {{/if}}
              {{/each}}
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="http://digitalcommunications.wp.st-andrews.ac.uk/tag/digital-pattern-library/" target="_blank">Blog</a></li>
              </ul>

          </div>
      </div>
  </div>

    <script src="../assets/core/scripts/jquery.dataTables.min.js"></script>

    <link href="../assets/core/styles/datatables.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="../assets/core/scripts/datatables.js"></script>

    <script>
        $(document).ready(function(){

            $('#unit-users').DataTable({
                bAutoWidth: false,
                'columnDefs': [
                    {
                        'targets': 3,
                        'searchable': false,
                        'orderable': false,
                        'data': null,
                        'render': function(data) {
                            return "<a class='btn btn-primary' href='/expense-claim/user/admin/user-forms.htm?username=" + data.email + "'>View forms</a>";
                        }
                    }
                ]
            });

        });

    </script>

<div class="container">

    <h1>Tables - DataTables</h1>

    <p><a href="http://www.datatables.net/">DataTables</a> is a jQuery plugin to provide progressive enhancement to HTML tables. It provides the ability to search, order and page through data in a table. The plugin can be called on an existing HTML table so that clients can see a basic presentation without JavaScript and enhanced interaction if JavaScript is enabled. DataTables also has the ability to load data from ajax calls.</p>


    <h2>When to use</h2>

    <p>Our recommendation is to use DataTables when the table exceeds 20 rows or you have a number of columns that users might want to order by.</p>

    <h2>What is provided</h2>

    <p>The Digital pattern library provides a JavaScript configuration and CSS styles to make the default DataTables look, feel and behavior more consistent the the rest of interface.</p>


    <h2 id="including-dependencices">Including dependencices</h2>

    <p>To use DataTables, first, you need to include the DataTables plugin. DataTables is loaded on the St Andrews CDN. These are the current file you need.</p>

    <ul>
        <li>JavaScript: <code>https://0.8.5/scripts/jquery.dataTables.min.js</code></li>
    </ul>

    <p>Additionally, you should load the Digital Pattern library&#39;s custom DataTables JavaScript and CSS. These files customise the look, feel and functionality of DataTables to match the pattern library.</p>

    <ul>
    <li>JavaScript: <code>https://0.8.5/scripts/datatables.js</code></li>
    <li>CSS: <code>https://0.8.5/styles/datatables.css</code></li>
    </ul>


    <h2>Creating a DataTable</h2>

    <p>After you have included the JavaScript and CSS dependencies, you can simply add a class of <code>dataTable</code> to any table and the DataTables will be called on it.</p>


    <h2>Customisation</h2>

    <p>If you&#39;d like to customise the look, feel or functionality, you can create DataTable instances with your own customisations, beginning with the pattern library defaults and modifying as needed. For example you might call DataTables like this:</p>

<pre><code class="javascript">$(&#39;tables.all_my_tables&#39;).DataTable({
    // Custom options ...
});</code></pre>

    <p>For more information including a reference manual on DataTables see the <a href="http://www.datatables.net">DataTables website</a>.</p>


    <h2>Examples</h2>

        <h3>Add dataTable class</h3>

        <p>This table is made into a DataTable by the addition of the dataTable class.</p>

        <table id="unit-users2" class="table table-primary dataTable no-footer" role="grid">
            <caption>Users in the system</caption>
            <thead>
                <tr role="row"><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Email Address: activate to sort column ascending">Email Address</th><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending">First Name</th><th class="sorting_asc" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" aria-sort="ascending">Last Name</th><th rowspan="1" colspan="1"></th></tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="">greg@st.com</td>
                    <td class="">Greg</td>
                    <td class="sorting_1">C</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">andy@hotmail.com</td>
                    <td class="">Andrew</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">lee@hotmail.com</td>
                    <td class="">Lee</td>
                    <td class="sorting_1">Angus</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">ankit@test.com</td>
                    <td class="">Ankit</td>
                    <td class="sorting_1">Smith</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">test@test.com</td>
                    <td class="">Test</td>
                    <td class="sorting_1">Testing</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">hannah@hannah.com</td>
                    <td class="">Hannah</td>
                    <td class="sorting_1">Scott</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">greg@st.com</td>
                    <td class="">Greg</td>
                    <td class="sorting_1">C</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">andy@hotmail.com</td>
                    <td class="">Andrew</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">lee@hotmail.com</td>
                    <td class="">Lee</td>
                    <td class="sorting_1">Smith</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">ankit@test.com</td>
                    <td class="">Ankit</td>
                    <td class="sorting_1">Angus</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">test@test.com</td>
                    <td class="">Test</td>
                    <td class="sorting_1">Testing</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">hannah@hannah.com</td>
                    <td class="">Hannah</td>
                    <td class="sorting_1">Scott</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">greg@st.com</td>
                    <td class="">Greg</td>
                    <td class="sorting_1">C</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">andy@hotmail.com</td>
                    <td class="">Andrew</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">joeblogs@hotmail.com</td>
                    <td class="">Lee</td>
                    <td class="sorting_1">Smith</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">ankit@test.com</td>
                    <td class="">Ankit</td>
                    <td class="sorting_1">Jones</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">test@test.com</td>
                    <td class="">Test</td>
                    <td class="sorting_1">Testing</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">hannah@hannah.com</td>
                    <td class="">Hannah</td>
                    <td class="sorting_1">Smnith</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
            </tbody>
        </table>

    <h3>Custom JavaScript</h3>

    <p>This table is made into a DataTable by a custom call in the JavaScript on this page.</p>

    <table id="unit-users" class="table no-footer" aria-describedby="unit-users_info" role="grid">
            <caption>Users in the system 2</caption>
            <thead>
                <tr role="row"><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Email Address: activate to sort column ascending">Email Address</th><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending">First Name</th><th class="sorting_asc" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" aria-sort="ascending">Last Name</th><th rowspan="1" colspan="1"></th></tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="">greg@st.com</td>
                    <td class="">Greg</td>
                    <td class="sorting_1">C</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">dairygoodness@hotmail.com</td>
                    <td class="">Andrew</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">leecoomber@hotmail.com</td>
                    <td class="">Lee</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">ankit@test.com</td>
                    <td class="">Ankit</td>
                    <td class="sorting_1">Sawa</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">test@test.com</td>
                    <td class="">Test</td>
                    <td class="sorting_1">Testing</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">hannah@hannah.com</td>
                    <td class="">Hannah</td>
                    <td class="sorting_1">Thomson</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">greg@st.com</td>
                    <td class="">Greg</td>
                    <td class="sorting_1">C</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">dairygoodness@hotmail.com</td>
                    <td class="">Andrew</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">leecoomber@hotmail.com</td>
                    <td class="">Lee</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">ankit@test.com</td>
                    <td class="">Ankit</td>
                    <td class="sorting_1">Sawa</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">test@test.com</td>
                    <td class="">Test</td>
                    <td class="sorting_1">Testing</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">hannah@hannah.com</td>
                    <td class="">Hannah</td>
                    <td class="sorting_1">Thomson</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">greg@st.com</td>
                    <td class="">Greg</td>
                    <td class="sorting_1">C</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">dairygoodness@hotmail.com</td>
                    <td class="">Andrew</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">leecoomber@hotmail.com</td>
                    <td class="">Lee</td>
                    <td class="sorting_1">Coomber</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">ankit@test.com</td>
                    <td class="">Ankit</td>
                    <td class="sorting_1">Sawa</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td class="">test@test.com</td>
                    <td class="">Test</td>
                    <td class="sorting_1">Testing</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td class="">hannah@hannah.com</td>
                    <td class="">Hannah</td>
                    <td class="sorting_1">Thomson</td>
                    <td><a class="btn btn-primary" href="#">View forms</a>
                    </td>
                </tr>
            </tbody>
        </table>

</div>


</body>

</html>