---
title: Long-form content page
---


{{> header }}

<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/bg-0.jpeg"}});">
    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>Light Box</h2>

            <p class="lead">Poet Robert Crawford and photographer Norman McBeath partner to celebrate the 2015 UNESCO International Year of Light.</p>

            <p>When 2015 was announced as the UNESCO International Year of Light, the news stoked a spark in the brain of academic and poet Robert Crawford. Having long been inspired by light and science — his 1990 poetry debut, <em><a href="">A Scottish Assembly</a></em> weaves together lines on light and love and incorporates tongue-twisting scientific references — the spark was fanned into an idea of an artistic collaboration of poet, photographer and physicist.</p>

        </div>

    </div></div></div>

</section>


<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <blockquote>
            <p>We meet as clearly as two beams . . .<br>
            Bonded at the centre, having each<br>
            Come through all the R&D to run on light</p>

            <p><small><cite>Photonics, A Scottish Assembly</cite> by R Crawford.</small></p>
            </blockquote>

            <aside class="parallel-right">
                <figure class="image">
                    <img src="{{asset "images/long-form-content/head-shot1.jpeg"}}" alt="">
                    <figcaption>
                        Prof. Robert Crawford<br>
                        <em>poet and academic</em><br>
                        <a href="http://www.st-andrews.ac.uk/english/people/academicstaff/crawford/" target="_blank">full profile</a>
                    </figcpation>
                </figure>
            </aside>

            <p>Robert Crawford <abbr>FRSE</abbr> <abbr>FBA</abbr> is a Scottish poet, scholar and critic. He is currently Professor of English at the University of St Andrews.</p>

            <p>That idea grew into a collaborative project between Crawford and Edinburgh photographer Norman McBeath, whose striking portraits play off of the intricacies of light and shadow, with each inspired by contemporary physicists whose work centres on light.</p>


            <aside class="parallel-right">
                <figure class="image">
                    <img src="{{asset "images/long-form-content/head-shot2.jpeg"}}" alt="">
                    <figcaption>
                        Norman McBeath<br>
                        <em>photographer</em><br>
                        <a href="http://www.normanmcbeath.com/" target="_blank">website</a>
                    </figcpation>
                </figure>
            </aside>

            <p>Norman McBeath is a photographer and printmaker, based in Edinburgh, whose work focuses on people and places.</p>

            <p>In late 2013, the United Nations (<abbr>UN</abbr>) announced that 2015 would officially be the International Year of Light and Light-based technologies. The <abbr>UN</abbr> recognised the power of light, and aimed to raise global awareness about how light-based technologies can provide solutions to global challenges in energy, education, agriculture and health. From the day that the Year of Light was announced, plans began for events and projects across the world.</p>

            <p class="pull-quote">Light Box is an enchanting collection of haikus and photographs inspired by light in all its aspects — solar, sacred, scientific, nourishing, and poetic.</p>

            <p>Commissioned by the University of St Andrews, the project illuminates the relationship between photography and poetry. Light Box is an enchanting collection of haikus and photographs inspired by light in all its aspects — solar, sacred, scientific, nourishing, and poetic.</p>

        </div>

    </div></div></div>

</section>

<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/bg-1.jpeg"}})">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>The spark</h2>

            <p>In late 2013, the United Nations (<abbr>UN</abbr>) announced that 2015 would officially be the International Year of Light and Light-based technologies. The UN recognised the power of light, and aimed to raise global awareness about how light-based technologies can provide solutions to global challenges in energy, education, agriculture and health. From the day that the Year of Light was announced, plans began for events and projects across the world.</p>

            <blockquote>
            Light has revolutionized medicine, opened up international communication via the Internet, and continues to be central to linking cultural, economic and political aspects of the global society.
            </blockquote>

            <p>The announcement of that 2015 would be the Year of Light was greeted with excitement in St Andrews. Light is valued in the town; from the physicists in the Organic Semiconductor Optoelectronics research group through to the students lucky enough to catch the Northern Lights flickering over the cathedral on cool Scottish nights. Professor Robert Crawford saw opportunity within the announcement; opportunity to bring together the scientists whose discoveries are further lighting the world along with a photographer who documents the world through light and shadow, and a group of poets inspired by the two.</p>

        </div>

    </div></div></div>

</section>


<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <p>Professor Crawford’s had good links with researchers in the University’s School of Physics, and knew that the team there had discovered / produced a light emitting substance. He wondered whether this substance could give off enough light to be used to expose photographic paper — creating art out of light.</p>

            <p class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I" frameborder="0" allowfullscreen></iframe>
            </p>

            <p>The cost of the material deemed the project impossible, but the idea of using chemicals to enhance photography had taken hold in Professor Crawford’s mind.</p>

        </div>

    </div></div></div>

</section>


<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/bg-2.jpeg"}});">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">
        
            <h2>The partnership</h2>

            <p>Information about the partnership between Norman McBeath and Robert Crawford.</p>

            <figure class="audio">
                <audio src="{{asset "audio/birds-in-rain.mp3"}}"></audio>
                <figcaption>Prof John Smith's recording of birdsong</figcaption>
            </figure>

            <p>Information about the inspiration behind the images</p>
        </div>

    </div></div></div>

</section>

<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>The science</h2>

            <aside class="parallel-left">
                <figure class="image">
                <img src="{{asset "images/long-form-content/head-shot3.jpeg"}}" alt="img3">
                <figcaption>Emeritus Professor John Allen</figcaption>
                </figure>
            </aside>

            <p>Crawford explained how Light Box was made possible by scientists at the University of St Andrews, including Emeritus Professor John Allen, the leader of the team which developed “the world’s first practical, visible” <abbr>LED</abbr> (light-emitting diode).</p>

           

            <p>The “crystal lamps” were a breakthrough in science, but Allen first used them to decorate a Christmas tree in 1961.</p>

            
            <figure class="audio">
                <audio src="{{asset "audio/birds-in-rain.mp3"}}"></audio>
                <figcaption>Prof John Smith's recording of birdsong</figcaption>
            </figure>

            <p class="pull-quote pull-quote-right">Light Box is an enchanting collection of haikus and photographs inspired by light in all its aspects — solar, sacred, scientific, nourishing, and poetic.</p>

            <p>Amongst the other people featured in the book are Professor Ifor Samuel <abbr>FRSE</abbr>, Director of Research in the School of Physics and head of the Organic Semiconductor Optoelectronics research group, and three of his colleagues: Olena Kulyk, who once studied missile systems and now uses light to target cancer; Ashu Kumar Bansal, who has developed a non-invasive wearable sensor used to develop prosthetics and works ‘to make sure / the work of enlightenment / continues unquenched’; and Hien Nguyen, who has developed a new form of synthesised coumarin to be used in photography.</p>

        </div>


    </div></div></div>

</section>


<section class="long-form long-form-medium">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-thumbnail-gallery">
            
            <h4>People involved with Light Box</h4>

            <div class="row">

            <figure class="image">
                <img src="{{asset "images/long-form-content/ashu-kumar-bansal.jpeg"}}" alt="Ashu Kumar Bansal" title="Ashu Kumar Bansal">
                <figcaption>Ashu Kumar Bansal</figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/hien-nguyen.jpeg"}}" alt="Hien Nguyen" title="Hien Nguyen">
                <figcaption>Hien Nguyen</figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/prof-ifor-samuel.jpeg"}}" alt="Professor Ifor Samuel" title="Professor Ifor Samuel">
                <figcaption>Professor Ifor Samuel</figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/olena-kulyk.jpeg"}}" alt="Olena Kulyk" title="Olena Kulyk">
                <figcaption>Olena Kulyk</figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/ashu-kumar-bansal.jpeg"}}" alt="Ashu Kumar Bansal" title="Ashu Kumar Bansal">
                <figcaption>Ashu Kumar Bansal</figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/hien-nguyen.jpeg"}}" alt="Hien Nguyen" title="Hien Nguyen">
                <figcaption>Hien Nguyen</figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/prof-ifor-samuel.jpeg"}}" alt="Professor Ifor Samuel" title="Professor Ifor Samuel">
                <figcaption>Professor Ifor Samuel</figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/olena-kulyk.jpeg"}}" alt="Olena Kulyk" title="Olena Kulyk">
                <figcaption>Olena Kulyk</figcaption>
            </figure> 

            </div>

        </div>

    </div></div></div>

</section>


<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/light.jpeg"}})">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>The art</h2>

            <h3>Light Box</h3>

            <p>To explain why he chose to use haikus, Crawford described it as the poetic form which comes closest to the click of a camera shutter. The history of photography is also important to the genesis of Light Box — in 1840, St Andrews was the first town in the world to be “thoroughly documented” by photography, said Crawford, and this innovative spirit continues today with the work of the physics research group.</p>

            <blockquote>It’s like Diwali — a festival of light.</blockquote>
            
            <p>To explain why he chose to use haikus, Crawford described it as the poetic form which comes closest to the click of a camera shutter. The history of photography is also important to the genesis of Light Box — in 1840, St Andrews was the first town in the world to be “thoroughly documented” by photography, said Crawford, and this innovative spirit continues today with the work of the physics research group.</p>

        </div>

    </div></div></div>

</section>

<section class="long-form long-form-slider-gallery">

    <div class="container"><div class="row">

        <div class="col-md-4">
            
            <h3>People involved with Light Box</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud ex</p>

        </div>
            
        <div class="col-md-8 slider-container">
            <div class="slides">

            <figure class="image">
                <img src="{{asset "images/long-form-content/img1.png"}}">
                <figcaption>Photographic gear</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "images/long-form-content/img2.png"}}">
                <figcaption>Lens</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "images/long-form-content/img3.jpg"}}">
                <figcaption>Photographic gear</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "images/long-form-content/img4.jpg"}}">
                <figcaption>Lens</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "images/long-form-content/img5.jpg"}}">
                <figcaption>Photographic gear</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "images/long-form-content/img6.jpg"}}">
                <figcaption>Lens</figcaption>
            </figure>

            </div>

        </div>


    </div></div>

</section>

<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>Aton exhibit</h2>

            <p>Hien Nguyen developed a new form of synthesised coumarin to be used in photography. Coumarin was used in the Aton exhibit and represented a ‘world first’, in that it incorporated this newly synthesised form which has never before been used in a photographic process.</p>

            <figure class="image left-out">
                <img src="{{asset "images/long-form-content/img2.png"}}" style="width: 300px">
                <figcaption>Carl Zeiss Jena Lens</figcaption>
            </figure>

            <p>The coumarin was incorporated into the photographic process so that when the image was placed under a black light, the image emits light of its own. However, as the coumarin degrades over time, so does the amount of light that the photograph emits; a temporary addition to the artwork.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <figure class="image right-out">
                <img src="{{asset "images/long-form-content/bg-2.jpeg"}}" style="width: 500px">
                <figcaption>The Light Box office</figcaption>
            </figure>

            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <figure class="audio right-out">
                <audio src="{{asset "audio/birds-in-rain.mp3"}}"></audio>
                <figcaption>Prof John Smith's recording of birdsong</figcaption>
            </figure>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <figure class="image full">
                <img src="{{asset "images/long-form-content/bg-2.jpeg"}}" >
                <figcaption>The Light Box office</figcaption>
            </figure>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <figure class="image right">
                <img src="{{asset "images/long-form-content/bg-2.jpeg"}}" style="width: 200px">
                <figcaption>The Light Box office</figcaption>
            </figure>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <figure class="image left">
                <img src="{{asset "images/long-form-content/bg-2.jpeg"}}" style="width: 200px">
                <figcaption>The Light Box office</figcaption>
            </figure>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h3>Further collaboration</h3>

            <p>Three postgraduate poets (on the MLitt Creative Writing course) — Helen Nicholson, Amanda Merritt and Tristram Fane Saunders.</p>

            <p>Wrote poems inspired by the research done in St Andrews, illustrated by appropriate photographs by town and gown photographers.</p>

            <p>Including one of noctolucent clouds and polytunnels used by Nicholson for her work, Light Fantastic.</p>

            <p>Merritt used a photograph of flowers for her musings on light and the body.</p>

            <p>Fane Saunders wrote about bees — the “flying biosensors” used to detect unexploded bombs in the Balkans by “smelling” TNT in pollen and recording their find on a special plastic film which is sensitive to the electromagnetic charge on the bees.</p>

            
            <figure class="audio">
                <audio src="{{asset "audio/birds-in-rain.mp3"}}"></audio>
                <figcaption>Prof John Smith's recording of birdsong</figcaption>
            </figure>

            <p>Fane Saunders wrote about bees — the “flying biosensors” used to detect unexploded bombs in the Balkans by “smelling” TNT in pollen and recording their find on a special plastic film which is sensitive to the electromagnetic charge on the bees.</p>

            <p class="end">26 March 2015</p>

        </div>

    </div></div></div>

</section>


<section class="long-form long-form-no-padding ">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">
            <div class="row">
                <div class="col-md-6">

                    <p><img src="{{asset "images/long-form-content/light-box.jpg"}}" alt="A picture of Light Box" style="width: 100%; height: 270px;"></p>

                    <p>There were only ten copies of Light Box created. The remaining copies are being sold by Easel Press.</p>

                    <p><a href="http://www.easelpress.co.uk/" target="_blank">Contact Easel Press</a></p>
                </div>
                <div class="col-md-6">

                    <p><img src="{{asset "images/long-form-content/digital-copy.jpg"}}" alt="A picture of the digital version of Light Box on a screen." style="width:100%;"></p>

                    <p>A digital copy of Light Box is also publicly available for free through the University of St Andrews Library.</p>

                    <p><a href="https://arts.st-andrews.ac.uk/digitalhumanities/node/195" target="_blank">View Light Box</a></p>
                </div>
            </div>

        </div>

    </div></div></div>

</section>

<section class="long-form long-form-credits">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h3>Credits</h3>
            
            <p>Graphics and design by the University of St Andrews digital communications team. Content written by Carley Hollis, digital communications team. Photography, video and editing by Lightbox St Andrews.</p>

            <p>Copyright for Light Box remains with Robert Crawford and Norman McBeath.</p>


            <h3>Thanks</h3>
            <p>Robert Crawford and the University of St Andrews School of English.<br>
            Norman McBeath.<br>
            Professor Ifor Samuel and the University of St Andrews Organic Semiconductor Optoelectronics research group.<br>
            University of St Andrews Creative English MLitt students Helen Nicholson, Amanda Merritt and Tristram Fane Saunders.</br>
            Photographers, Bill, Bob and Ben.</p>

            <h3>Sources</h3>

            <ol>
                <li>'A Scottish Assembly', Robert Crawford, 1990, Oxford University Press.</li>
                <li>'A Scottish Assembly', Robert Crawford, 1990, Oxford University Press.</li>
            </ol>

            <h3>Contact</h3>

            <p>Email: proffice@st-andrews.ac.uk<br>
                Phone: 01334 46 2108
            </p>

        </div>

    </div></div></div>

</section>


<footer>
  <div id="university-footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-8">
          <p id="footer-charity" role="contentinfo">&copy; 2014 University of St Andrews is a charity registered in Scotland, No SC013532.</p>
          <ul id="footer-links">
            <li><a href="/terms/cookies/">Privacy and cookies</a></li>
            <li><a href="/help/">Website help</a></li>
          </ul>
        </div>
        
        <div class="col-lg-4">
          <ul id="social">
            <li><a href="https://www.facebook.com/uniofsta"><img src="{{asset "images/furniture/facebook-logo-svg.svg"}}" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/univofstandrews/"><img src="{{asset "images/furniture/twitter-logo-svg.svg"}}" alt="Twitter"  /></a></li>
          </ul>
        </div>

      </div> <!-- End .row //-->
    </div> <!-- End .container //-->
  </div> <!-- End #university-footer //-->

</footer>

