---
title: Long-form content page
---


{{> header }}

<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/bg-antiques.jpg"}});">
    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h1>Light Box</h1>

            <p class="lead">Poet Robert Crawford and photographer Norman McBeath partner to celebrate the 2015 UNESCO International Year of Light.</p>

            <p>The announcement that 2015 was to be the United Nations Educational, Scientific and Cultural Organization (<abbr>UNESCO</abbr>) International Year of Light came at the perfect moment for academic and poet Robert Crawford. Having long been inspired by light and science &mdash; his 1990 poetry debut, <em>A&nbsp;Scottish Assembly</em> weaves together lines on light and love and incorporates tongue-twisting scientific references &mdash; 2015 was also to be the year of an artistic collaboration of poet, photographer and physicist; Light Box. </p>

        </div>

    </div></div></div>

</section>


<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <blockquote>
            <p>We meet as clearly as two beams . . .<br>
            Bonded at the centre, having each<br>
            Come through all the R&D to run on light</p>

            <p><small><cite>Photonics, A Scottish Assembly</cite> by R Crawford.</small></p>
            </blockquote>

            <p>Light Box is a collaborative project between Crawford and Edinburgh photographer Norman McBeath, whose striking portraits play off of the intricacies of light and shadow, with both inspired by contemporary physicists &mdash; including Professor Ifor Samuel at the University of St Andrews &mdash; whose work centres on light. </p>

            <aside class="parallel-right">
                <figure class="image">
                    <img src="{{asset "images/long-form-content/portrait-robert-crawford.jpg"}}" alt="Portrait of Professor Robert Crawford">
                    <figcaption>
                        Robert Crawford<br>
                        <em>Poet and academic</em><br>
                        <a href="http://www.st-andrews.ac.uk/english/people/academicstaff/crawford/" target="_blank">Full profile</a>
                    </figcpation>
                </figure>
            </aside>

            <p>Professor Robert Crawford <abbr>FRSE</abbr> <abbr>FBA</abbr> is a Scottish poet, scholar and critic. He is currently Professor of English at the University of St Andrews.</p>



            <aside class="parallel-left">
                <figure class="image">
                    <img src="{{asset "images/long-form-content/portrait-norman-mcbeath.jpg"}}" alt="Portrait of Norman McBeath">
                    <figcaption>
                        Norman McBeath<br>
                        <em>Photographer</em><br>
                        <a href="http://www.normanmcbeath.com/" target="_blank">Website</a>
                    </figcpation>
                </figure>
            </aside>

            <p>Norman McBeath is a photographer and printmaker, based in Edinburgh, whose work focuses on people and places.</p>

            <aside class="parallel-right">
                <figure class="image" style="padding-top: 50px;">
                    <img src="{{asset "images/long-form-content/portrait-ifor-samuel.jpg"}}" alt="Portrait of Professor Ifor Samuel">
                    <figcaption>
                        Ifor Samuel<br>
                        <em>Physicist</em><br>
                        <a href="https://risweb.st-andrews.ac.uk/portal/en/persons/ifor-david-william-samuel%2814d7fc0f-8219-456f-b5d3-3b4739ed9dfa%29.html" target="_blank">Full profile</a>
                    </figcpation>
                </figure>
            </aside>

            <p>Professor Ifor Samuel <abbr>FRSE</abbr> is the director of research in the School of Physics in St Andrews and head of the Organic Semiconductor Optoelectronics research group.

            <p>Commissioned by the University of St Andrews, the project illuminates the relationship between photography and poetry.</p>

            <p class="pull-quote" style="margin-top: 120px;" data-quote="Light Box is an enchanting collection of haikus and photographs inspired by light in all its aspects...">Light Box is an enchanting collection of haikus and photographs inspired by light in all its aspects &mdash; solar, sacred, scientific, nourishing, and poetic.</p>

            <p>The collaboration has become a bright spot in a celebration of light across the globe during the <abbr>UNESCO</abbr> Year of Light. Light Box is an enchanting collection of haikus and photographs inspired by light in all its aspects &mdash; solar, sacred, scientific, nourishing, and poetic.</p>

        </div>

    </div></div></div>

</section>

<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/bg-spark.jpg"}})">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>The spark</h2>

            <p>In late 2013, <abbr>UNESCO</abbr> announced that 2015 would officially be the International Year of Light and Light-based technologies. <abbr>UNESCO</abbr> recognised the power of light, and aimed to raise global awareness about how light-based technologies can provide solutions to global challenges in energy, education, agriculture and health. From the day that the Year of Light was announced, plans began for events and projects across the world.</p>

            <blockquote>
            <p>Light has revolutionized medicine, opened up international communication via the Internet, and continues to be central to linking cultural, economic and political aspects of the global society.</p>
            <p><small><abbr>UNESCO</abbr> <cite><a href="http://www.light2015.org/Home/About.html" target="_blank">About the 2015 Year of Light</a></cite></small></p>
            </blockquote>

            <p>The announcement that 2015 would be the Year of Light was greeted with excitement across St Andrews. Light is valued in the town; from the physicists in the Organic Semiconductor Optoelectronics research group through to the students lucky enough to catch the Northern Lights flickering over the cathedral on cool Scottish nights. Professor Robert Crawford had already seen the opportunity within St Andrews; opportunity to bring together the scientists whose discoveries are further lighting the world along with a photographer who documents the world through light and shadow, and a group of poets inspired by the two.</p>

        </div>

    </div></div></div>

</section>


<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <p>Light Box was not the first project that Robert Crawford and Norman McBeath had worked together on, but including scientists into their collaboration added a new dimension to their work. It was the researchers within the the University’s Organic Semiconductor Optoelectronics group who enlightened both Robert and Norman about the use of light in contemporary physics, inspiring the photographic and poetic process.</p>

            <blockquote>
                <p>[I] had to contact some scientists to convince them that this might be a fun project to do.</p>
                <p><small>Robert Crawford</small></p>
            </blockquote>


            <!-- Video 1: Robert Crawford and Norman McBeath talking about their relationship with the scientists. //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>Robert Crawford and Norman McBeath talking about their relationship with the scientists.</figcaption>
            </figure>

            <p>As the group started working together, the possibility of creating something more than a collection of poems and photographs emerged. A conversation with Ifor Samuel prompted Robert Crawford to wonder whether the light emitting substances which the physicists were honing could become part of a new photographic process. This, in turn, led to an even more exciting possibility &mdash; light as part of the photograph itself. The ongoing conversations were ensuring that Light Box was becoming truly unique. </p>

            <!-- Video 2: Robert Crawford and Norman McBeath discussing using coumarin as part of a new photographic process. //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>Robert Crawford and Norman McBeath discussing using coumarin as part of a new photographic process.</figcaption>
            </figure>


        </div>

    </div></div></div>

</section>


<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/bg-light.jpg"}});">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">
        
            <h2>The partnership</h2>

            <p>Having been inspired by the research of the Physicists and the acceleration towards the launch of the Year of Light, Robert and Norman started creating and honing the poems and photographs which would become the backbone of Light Box. </p>

            <p>Robert had already found himself drawn to a specific form of poetry for this project &mdash; the haiku. Comparing the short, fleeting nature of the haiku to the click of a camera shutter, he found that the haiku’s form was the perfect accompaniment to the black and white images Norman was curating.</p>

            <blockquote>
            <p>When poetry and photography go together, it’s a very small poem that works best &mdash; almost so that the reader can take it in nearly as quickly as they can take in a photograph.</p>
            <p><small>Robert Crawford</small></p>
            </blockquote>

            <p>With photographs and poems created, it was a process of selecting the images and editing the poems.</p>


            <!-- Video 3: Robert Crawford and Norman McBeath talking about the editing process. //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>Robert Crawford and Norman McBeath talking about the editing process.</figcaption>
            </figure>

        </div>

    </div></div></div>

</section>

<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>The science</h2>

            <p>Delving into the impact of the research undertaken by the scientists, it’s easy to see where the inspiration for Light Box came from. </p>

            <!-- Video 4: Professor Ifor Samuel talking about Light Box. //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>Professor Ifor Samuel talking about Light Box.</figcaption>
            </figure>

            <p>The introductory poem from Light Box &mdash; Events of 1961 &mdash; refers to the scientific breakthrough of Emeritus Professor John Allen.</p>

            <aside class="parallel-left">
                <figure class="image">
                <img src="{{asset "images/long-form-content/portrait-john-allen.jpg"}}" alt="Portrait of Emeritus Professor John Allen">
                <figcaption>John Allen<br>
                <em>Physicist</em><br>
                <a href="https://www.st-andrews.ac.uk/physics/PHP_Global/Staff_Info.php?id=72" target="_blank">Full profile</a></figcaption>
                </figure>
            </aside>

            

            <p>When Robert Crawford and Norman McBeath met Professor Allen, he showed them some of the first LEDs developed, which were then called ‘crystal lamps’. Head of the team who developed the first practical, visible LED lights &mdash; the kind we use in a huge range of situations today &mdash; Allen’s discovery would change the world, and become the foundation of swathes of future research. However, back in 1961, the lights were first used in a far more celebratory manner &mdash; they lit Allen’s Christmas tree.</p>


            <!-- Audio 1: Professor Robert Crawford reading his poem, <em>Events of 1961</em> //-->

            <figure class="audio">
                <audio src="{{asset "audio/birds-in-rain.mp3"}}"></audio>
                <figcaption>Professor Robert Crawford reading his poem, <em>Events of 1961</em></figcaption>
            </figure>

            <p>Other inspiration came from contemporary research surrounding the use of light. As well as conversations with Ifor Samuel, Robert and Norman worked with Olena Kulyk, who uses light to target cancer; Ashu Kumar Bansal, whose work has involved developing a wearable sensor to develop prosthetics, and Hien Nguyen, who has developed a new form of synthesised coumarin.</p>


        </div>


    </div></div></div>

</section>


<section class="long-form long-form-medium long-form-thumbnail-gallery" style="padding-top: 0;">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="">
            
            <h4>Scientists involved with Light Box</h4>

            <div class="row">

            <figure class="image">
                <img src="{{asset "images/long-form-content/portrait-ifor-samuel.jpg"}}" alt="Professor Ifor Samuel" title="Professor Ifor Samuel">
                <figcaption>Ifor Samuel<br><em>Physicist</em></figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/portrait-john-allen.jpg"}}" alt="John Allen" title="Ashu Kumar Bansal">
                <figcaption>John Allen<br><em>Physicist</em></figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/portrait-ashu-kumar-bansal.jpg"}}" alt="Ashu Kumar Bansal" title="Ashu Kumar Bansal">
                <figcaption>Ashu Kumar Bansal<br><em>Optical physicist</em></figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/portrait-hien-nguyen.jpg"}}" alt="Hien Nguyen" title="Hien Nguyen">
                <figcaption>Hien Nguyen<br><em>Polymer chemist</em></figcaption>
            </figure><figure class="image">
                <img src="{{asset "images/long-form-content/portrait-olena-kulyk.jpg"}}" alt="Olena Kulyk" title="Olena Kulyk">
                <figcaption>Olena Kulyk<br><em>Biomedical electronics engineer</em></figcaption>
            </figure>

            </div>

        </div>

    </div></div></div>

</section>


<section class="long-form long-form-bg-dark long-form-bg-darken" style="background-image: url({{asset "images/long-form-content/bg-light.jpg"}})">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>The art</h2>

            <p>Crawford and McBeath always intended for Light Box to be an eclectic project; both poetry and photography, exclusive and accessible, digital and physical. Viewing the images and poems side by side, they came to the conclusion that the art would be presented, not in a book, but as loose sheaves in a box.</p>

            <!-- Video 5: Robert Crawford and Norman McBeath discussing the poems and photographs being seen together. //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>Robert Crawford and Norman McBeath discussing the poems and photographs being seen together.</figcaption>
            </figure>

            <p>The nature of the finished Light Box is part of its beauty; the act of lifting the lid, bringing each poem and photo out into the light is almost performance. The poems and photographs play off of one another; a tantalising relationship which suggests an idea on one sheet, confirming it on next. Light Box is an invitation to share in the celebration of light; a way of looking at the world. </p>

            <blockquote>
            <p>What we’re doing here is an artistic presentation of possibilities, of ways of seeing things, of views.</p>
            <p><small>Norman McBeath</small></p>
            </blockquote>
            

            <!-- Video 6: The unboxing of Light Box //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>The unboxing of Light Box</figcaption>
            </figure>

            <p>Light Box in its entirety was digitised by the University’s Digital Humanities group, and can be <a href="http://arts.st-andrews.ac.uk/digitalhumanities/node/195" target="_blank">viewed online</a>. Alternatively, it can be requested by Special Collections, who obtained one of the ten copies of Light Box produced.</p>

        </div>

    </div></div></div>

</section>


<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <p>Further inspiration came from the contemporary research undertaken by St Andrews scientists. Vietnamese chemist, Dr Hien Nguyen has recently synthesized for the first time a new form of the chemical coumarin.

            <figure class="image right-out">
                <img src="{{asset "images/long-form-content/photo-studio.jpg"}}" style="max-width: 500px">
                <figcaption><em>Aton</em> haiku and photograph in Light Box</figcaption>
            </figure>

            In a union of science and art, she made her discovery available to Scottish PhD student Stuart Thomson, who worked with Norman McBeath to use this chemical for the very first time in a photographic process.</p>

            

            <p>The photograph treated with coumarin, when placed into a frame which incorporated a black light, emitted a light of its own. However, as the coumarin degrades over time, so does the amount of light that the photograph emits; a temporary addition to the artwork. The photograph was then was juxtaposed with a haiku entitled ‘Aton’ (named after the Aton or Aten &mdash; the ancient Egyptian sun god) and features in Light Box.</p>
        </div>

    </div></div></div>

</section>


<section class="long-form long-form-bg-light-grey">

    <div class="container"><div class="row">

        <div class="col-md-4">

            <br><br>
            <br><br>
            <br><br>

            <h3>Aton</h3>

            <p>
            Eternal start-up,<br>
            Organic light emitter,<br>
            Hallowed be thy name.
            </p>

            <br><br>
            <br><br>


            <!-- Audio 2 //-->

            <figure class="audio" style="">
                <audio src="{{asset "audio/birds-in-rain.mp3"}}"></audio>
                <figcaption>Robert Crawford reading his poem, <em>Aton</em></figcaption>
            </figure>

        </div>
            
        <div class="col-md-6 col-md-offset-2">
            
            
            <img src="{{asset "images/long-form-content/presentation-aton.png"}}" style="width: 100%;">


        </div>


    </div>

    <br><br>
    <p class=""><small><em>An excerpt from Light Box.</em></small></p>
    </div>

</section>

<section class="long-form">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h2>Further collaboration</h2>

            <p>After the success of the partnership of photographer, poet and scientist, Crawford wondered whether he could replicate the project for other artists. Partnering up three students who were undertaking a MLitt in Creative Writing &mdash; Helen Nicholson, Amanda Merritt and Tristram Fane Saunders &mdash; with a scientist and local photographer, each wrote a poem inspired by the research done in St Andrews. </p>

            <p><em>Summer</em>, a poem by MLitt student Amanda Merritt, winds together musings on light and nature with that of the physical body; a brief, touching poem, accompanied by a photo by Kim Bennett.  </p>

            <!-- Video 7: Amanda Merritt reading her poem, Summer //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>Amanda Merritt reading her poem, <em>Summer</em></figcaption>
            </figure>

            <p><em>Improve detection of explosives in Croatia</em>, a poem by MLitt student Tristram Fane Saunders was inspired by bees; how, in the Balkans they have been used to detect unexploded bombs via their sensitivity to the TNT in pollen. When the bees &mdash; described as "flying biosensors" &mdash; come into contact with the TNT, the contact is noted on a plastic film which reacts to the electromagnetic charge.</p>

            <!-- Video 8: Tristram Fane Saunders reading his poem, Improve detection of explosives in Croatia //-->

            <figure class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXWEwk9dK2I?modestbranding=1&controls=2&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <figcaption>Tristram Fane Saunders reading his poem, <em>Improve detection of explosives in Croatia</em></figcaption>
            </figure>


            <p>See these poems along with the images created to accompany them:  <a href="long-form-content-support.html#poem-summer"><em>Summer</em></a> by Amanda Merritt, <a href="long-form-content-support.html#poem-light-fantastic"><em>Light fantastic</em></a> by Helen Nicholson and <a href="long-form-content-support.html#poem-improve-detection"><em>Improve detection of explosives in Croatia</em></a> by Tristram Fane Saunders.</p>

            
            <p class="end">11 May 2015</p>

        </div>

    </div></div></div>

</section>


<section class="long-form long-form-no-padding ">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">
            <div class="row">
                <div class="col-md-6">

                    <p><img src="{{asset "images/long-form-content/photo-physical-version.jpg"}}" alt="A picture of Light Box" style="width: 100%; height: 270px;"></p>

                    <p>There were only ten copies of Light Box created. The remaining copies are being sold by Easel Press.</p>

                    <p><a href="http://www.easelpress.co.uk/" target="_blank">Contact Easel Press</a></p>
                </div>
                <div class="col-md-6">

                    <p><img src="{{asset "images/long-form-content/photo-digital-version.jpg"}}" alt="A picture of the digital version of Light Box on a screen." style="width:100%;"></p>

                    <p>A digital copy of Light Box is also publicly available for free through the University of St Andrews Library.</p>

                    <p><a href="https://arts.st-andrews.ac.uk/digitalhumanities/node/195" target="_blank">View Light Box</a></p>
                </div>
            </div>

        </div>

    </div></div></div>

</section>

<section class="long-form long-form-credits">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h3>Credits</h3>
            
            <p>Graphics and design by the University of St Andrews digital communications team. Content written by Carley Hollis, digital communications team. Video, audio and additional photography by the student-run <a href="http://www.lightboxcreative.me">Lightbox Creative St Andrews</a>.</p>

            <p>Copyright for portraits, photographs and poems from Light Box remains with Norman McBeath and Robert Crawford.</p>


            <h3>Thanks</h3>
            <p>Robert Crawford and the University of St Andrews School of English.<br>
            Norman McBeath.<br>
            Professor Ifor Samuel and the University of St Andrews Organic Semiconductor Optoelectronics research group.<br>
            University of St Andrews Creative English MLitt students Helen Nicholson, Amanda Merritt and Tristram Fane Saunders.<br>
            Photographers, Kim Bennett, Gerry Priest and David Ogden.<br>
            Alice Crawford and the Digital Humanities Project, part of University of St Andrews Library, for digitising Light Box. <br>
            Rachel Hart and the University of St Andrews Special Collections, for access to Light Box. </p>

            <h3>Sources</h3>

            <ol>
                <li>'A Scottish Assembly', Robert Crawford, 1990, Oxford University Press.</li>
                <li>About the Year of Light. Retrieved May 7, 2015, from <a href="http://www.light2015.org/Home/About.html">http://www.light2015.org/Home/About.html</a></li>
            </ol>

            <h3>Contact</h3>

            <p>Email: proffice@st-andrews.ac.uk<br>
                Phone: 01334 46 2108
            </p>

        </div>

    </div></div></div>

</section>


<footer>
  <div id="university-footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-8">
          <p id="footer-charity" role="contentinfo">&copy; 2014 University of St Andrews is a charity registered in Scotland, No SC013532.</p>
          <ul id="footer-links">
            <li><a href="/terms/cookies/">Privacy and cookies</a></li>
            <li><a href="/help/">Website help</a></li>
          </ul>
        </div>
        
        <div class="col-lg-4">
          <ul id="social">
            <li><a href="https://www.facebook.com/uniofsta"><img src="{{asset "images/furniture/facebook-logo-svg.svg"}}" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/univofstandrews/"><img src="{{asset "images/furniture/twitter-logo-svg.svg"}}" alt="Twitter"  /></a></li>
          </ul>
        </div>

      </div> <!-- End .row //-->
    </div> <!-- End .container //-->
  </div> <!-- End #university-footer //-->

</footer>

