---
title: Long-form content support page
---




<section class="long-form">
    <div class="container">

        <p>&larr; Back to the <a href="#" class="">Light Box article</a></p>

</div>

</section>

<hr>

<a name="poem-summer"></a>

<section class="long-form">

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h3>Summer</h3>

                <h5>Amanda Merritt</h5>

                <br>

                <p>Summer has been pinched at the wick.<br>
                Ribbons of cumulonimbus curl<br>
                all the way down the coast.<br>
                The sun steps into the hills<br>
                like a skipped stone<br>
                where colours leach<br>
                into the water table.<br>
                On the crest of the ridge,<br>
                a gull cries at the wind<br>
                about her stolen eggs;<br>
                you kneel quiet in your garden,<br>
                woven sweater and slacks grey<br>
                as the world that you tend<br>
                except for your hands, lit beneath the skin,<br>
                harvesting white roses.</p>

            </div>
            <div class="col-md-6">
                <figure class="image">
                    <img src="{{asset "images/long-form-content/support-summer.jpg"}}">
                    <figcaption>Photo by Kim Bennett
                    </figcaption>
                </figure>

            </div>
        </div>


    </div>
</section>

<hr>

<a name="poem-light-fantastic"></a>

<section class="long-form">

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <figure class="image">
                    <img src="{{asset "images/long-form-content/support-light-fantastic.jpg"}}">
                    <figcaption>Photo by David Ogden
                    </figcaption>
                </figure>

            </div>
            <div class="col-md-6">

                <h3>Light fantastic by Helen Nicholson</h3>

                <h5>Helen Nicholson</h5>

                <br>

                <p><em>For Francisco and the University of St Andrews Laboratory for Biophysics and Biomolecular Dynamics and Organic Semiconductor Optoelectronics Group</em></p>


                <p>High above the Forth I am birling on girders<br>
                round and around my red iron horizon.</p>

                <p>The twin Queensferries blur as I whirl.<br>
                I choose my own beat, risky as I please.</p>

                <p>In your meticulous, dustless lab, your optics trick<br>
                and track a marker for your polymers' perpetual</p>

                <p>wriggle in the dark. You watch shadows twist and fade<br>
                as they pass their sparks along the chain for capture.</p>

                <p>So that we may casually flick the light switch, <br>
                you must guide your electrons' optimal excitement.</p>

                <p>Allow me to be their dancing master. My band <br>
                is four-square reliable. You can rerun the results.</p>

                <p>I can teach them rumba, conga, zopetto, fandango, <br>
                bolero, El Jarabe Tapatío. This joint will jump!</p>

                <p>Or take your partners for an Orcadian Strip the Willow.<br>
                Born of the Northern Lights, the merry dancers pull together.</p>

                <p>Dazzled polymers birl in a chain perpetual, their tiny<br>
                hands clap as they gain their second wind. </p>

            </div>

        </div>


    </div>
</section>

<hr>

<a name="poem-improve-detection"></a>

<section class="long-form">

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h3>Improve detection of explosives in Croatia</h3>

                <h5>Tristram Fane Saunders</h5>

                <br>

                <p>...</p>

            </div>
            <div class="col-md-6">
                <figure class="image">
                    <img src="{{asset "images/long-form-content/support-improve-detection.jpg"}}">
                    <figcaption>Photo by ...
                    </figcaption>
                </figure>

            </div>
        </div>


    </div>
</section>


<section class="long-form long-form-credits">

    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            <h3>Credits</h3>

            <p>Graphics and design by the University of St Andrews digital communications team. Content written by Carley Hollis, digital communications team. Video, audio and additional photography by the student-run <a href="http://www.lightboxcreative.me">Lightbox Creative St Andrews</a>.</p>

            <p>Copyright for portraits, photographs and poems from Light Box remains with Norman McBeath and Robert Crawford.</p>


            <h3>Thanks</h3>
            <p>Robert Crawford and the University of St Andrews School of English.<br>
            Norman McBeath.<br>
            Professor Ifor Samuel and the University of St Andrews Organic Semiconductor Optoelectronics research group.<br>
            University of St Andrews Creative English MLitt students Helen Nicholson, Amanda Merritt and Tristram Fane Saunders.<br>
            Photographers, Kim Bennett, Gerry Priest and David Ogden.<br>
            Alice Crawford and the Digital Humanities Project, part of University of St Andrews Library, for digitising Light Box. <br>
            Rachel Hart and the University of St Andrews Special Collections, for access to Light Box. </p>

            <h3>Sources</h3>

            <ol>
                <li>'A Scottish Assembly', Robert Crawford, 1990, Oxford University Press.</li>
                <li>About the Year of Light. Retrieved May 7, 2015, from <a href="http://www.light2015.org/Home/About.html">http://www.light2015.org/Home/About.html</a></li>
            </ol>

            <h3>Contact</h3>

            <p>Email: proffice@st-andrews.ac.uk<br>
                Phone: 01334 46 2108
            </p>

        </div>

    </div></div></div>

</section>


<footer>
  <div id="university-footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-8">
          <p id="footer-charity" role="contentinfo">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> University of St Andrews is a charity registered in Scotland, No SC013532.</p>
          <ul id="footer-links">
            <li><a href="/terms/cookies/">Privacy and cookies</a></li>
            <li><a href="/help/">Website help</a></li>
          </ul>
        </div>

        <div class="col-lg-4">
          <ul id="social">
            <li><a href="https://www.facebook.com/uniofsta"><img src="{{asset "images/furniture/facebook-logo-svg.svg"}}" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/univofstandrews/"><img src="{{asset "images/furniture/twitter-logo-svg.svg"}}" alt="Twitter"  /></a></li>
          </ul>
        </div>

      </div> <!-- End .row //-->
    </div> <!-- End .container //-->
  </div> <!-- End #university-footer //-->

</footer>

