<!-- Begin pattern: google-maps //-->
<div class="container">
    <div class="row">
        {{#if column1}}
        <div class="{{column1}}">
            <div class="embed-responsive embed-responsive-{{ratio}} google-map">
                <iframe title="Embedded Google map" src="{{map}}" class="embed-responsive-item"></iframe>
            </div>
            {{{text}}}
        </div>
        <div class="{{column2}}">
            {{{sidebar}}}
        </div>
        {{else}}
        <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-{{ratio}} google-map">
                <iframe title="Embedded Google map" src="{{map}}" class="embed-responsive-item google-map"></iframe>
            </div>
            {{{text}}}
        </div>
        {{/if}}
    </div>
</div>
<!-- End pattern: google-maps //-->