<!-- Begin pattern: google-maps //-->

<!-- display map here -->

    <div class="container">
        <div class="row">
            
            {{#if column1}}

                <div class="{{column1}}">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1D-p7YJVQikShUw0JmMykNQePbMI" width="auto" height="auto"></iframe>
                    </div>
                </div>
                <div class="{{column2}}">
                    <p>{{text}}</p>
                </div>


            {{else}}

                <div class="col-sm-12">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1Phkv5Rp7yNEsP1ZDFe_WgsnwAbg" width="auto" height="auto"></iframe>
                    </div>
                    <p>{{text}}</p>
                </div>

            {{/if}}

        </div>
    </div>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<!-- End pattern: google-maps //-->