---
title: Content thirds
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The content thirds pattern contains a &frac23; width column for the main content and an optional &frac13; width column for related content. There is the option to have a heading above the columns and a full-width background colour.</p>

<h3>Rules for content thirds</h3>
<ul>
	<li>This pattern must only be used on full-width page layouts.</li>
    <li>The background colour must be either white or grey.</li>
    <li>The second column (&frac13;) must only contain a <a href="../navbox/index.html">navbox </a> or related content, such as text or contact information.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#content-thirds-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/content-thirds-options.options}}
</ul>
</div>
</div>
{{#content-thirds-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> content-thirds}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> content-thirds}}</code></pre>
<!--endnoindex-->
{{/content-thirds-options.options}}
