<!-- Begin pattern: content-thirds //-->
{{#if background}}
<section class="{{background}}">
{{/if}}
    <div class="container">
        {{#if heading}}
        <div class="row"><div class="col-xs-12 col-sm-8"><h2>{{heading}}</h2></div></div>
        {{/if}}
        <div class="row">
            <div class="col-sm-8{{topmargin}}">
            {{#if text}}
                 {{{text}}}
            {{/if}}
            </div>
            {{#if sidebar}}
            <aside class="col-sm-4{{topmargin}}">
                {{{sidebar}}}
            </aside>
            {{/if}}
        </div>
    </div>
{{#if background}}
</section>
{{/if}}
<!-- End pattern: content-thirds //-->
