---
title: Paired values list
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The paired values list pattern can be used to group together content that consists of a list of name and value pairs. These are displayed in an aligned grid with each pair on a separate line.</p>

<h2>Rules for paired values list</h2>
<ul>
    <li>Each item-pair's name should be unique and plain text only.</li>
    <li>Item-pair values can meanwhile contain other types of simple content such as links and lists.</li>
	<li>If a value is becoming overly complex or much longer than others in the list, consider separating it over a number of paired values or using a different pattern entirely.</li> 
</ul>

<h2>Options available</h2>
<ul>
{{#paired-values-list-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/paired-values-list-options.options}}
</ul>
</div>
</div>
{{#paired-values-list-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
	{{> paired-values-list}}
	</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> paired-values-list}}
```
{{/markdown}}
<!--endnoindex-->
{{/paired-values-list-options.options}}
