---
title: Long-form intro
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The long-form intro pattern is for introducing a long-form story. This pattern must be included.</p>

<h2>Rules for long-form intro</h2>
<ul>
  <li>Only the heading and lead paragraph are required.</li>
  <li>There must be a background image.</li>
  <li>The <code>section</code> must have the classes <code>long-form--inverse long-form--bg-darken</code>. These classes add a dark transparent layer over the image to help the text stand out against the image.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#long-form-intro-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/long-form-intro-options.options}}
</ul>
</div>
</div>
{{#long-form-intro-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> long-form-intro}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> long-form-intro}}</code></pre>
<!--endnoindex-->
{{/long-form-intro-options.options}}