---
title: Share options
---

<p>The share options pattern allows links to be shared across social media platforms.</p>

<h3>Rules for share options</h3>
<ul>
	<li>Share links must open in a pop-up window, not in a new tab.</li>
	<li>WhatsApp must only appear on mobile devices.</li>
	<li>Facebook Messenger must link to the Messenger app on mobile devices and to facebook.com on desktop browsers.</li>
	<li>Must only include the social media platforms listed in the options provided.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#share-options-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/share-options-options.options}}
</ul>

{{#share-options-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
	{{>  share-options}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> share-options}}</code></pre>
<!--endnoindex-->
{{/share-options-options.options}}