	<!-- Begin pattern: header //-->

	<div id="print-header">
        <img src="{{asset "images/furniture/print-crest.png"}}" alt="University of St Andrews" />
    </div>

	<div id="panel-people" class="header-panel">
		<div class="container">
				<ul>
					<li><a href="/students/">Current students</a></li>
					<li><a href="/pgstudents/">Current postgraduates</a></li>
					<li><a href="/staff/">Staff</a></li>
				</ul>
		</div>
	</div>
	<div id="panel-search" class="header-panel" role="search">
		<div class="container">
			

				<form action="http://www.st-andrews.ac.uk/gsasearch" method="get">
					<div class="row">
						<div class="col-md-10">
			        		<input type="text" title="Enter search keywords" maxlength="256" name="q" placeholder="Search..."/>
			        	</div>
			        	<div class="col-md-2">
			        		<input class="button full-width" type="submit" value="Search" name="btnG"/>
			        	</div>
			        </div>
			        <input type="hidden" value="StAndrews_ITS" name="site"/>
			        <input type="hidden" value="xml_no_dtd" name="output"/>
			        <input type="hidden" value="StAndrews_ITS" name="client"/>
			        <input type="hidden" value="StAndrews_ITS" name="proxystylesheet"/>
				</form>
						
			
		</div>
	</div>

	<header id="header" role="banner">

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div id="header-logo"><h1><a href="http://www.st-andrews.ac.uk/">
						<!--[if lte IE 9]>
							<img src="{{asset "images/furniture/university-of-st-andrews.gif"}}" alt="University of St Andrews" style="width : 225px; height : 64px; border : ; padding : ; margin : ; float : ;" />
						<![endif]-->
						<!--[if !IE]> -->
							<img src="{{asset "images/furniture/university-of-st-andrews.svg"}}" alt="University of St Andrews" />
						<!-- <![endif]-->
					</a></h1></div>
				</div>
				<div class="col-md-5">
				</div>

				<div class="col-md-3">

					<a class="panel-toggle" 
            data-target="#panel-people" 
            data-siblings=".header-panel" 
            ><img src="{{asset "images/furniture/user-512.png"}}" alt="People" class="icon"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="People" class="chevron"></a>

					<a class="panel-toggle" 
						data-target="#panel-search" 
						data-siblings=".header-panel" 
						><img src="{{asset "images/furniture/search-512.png"}}" alt="Search" class="icon"><img src="{{asset "images/furniture/chevron@2x.png"}}" alt="People" class="chevron"></a>

				</div>
			</div>

		</div>
	</header>
	<!-- End pattern: header //-->