<!-- Begin pattern: header //-->

<div class="sr-only"><a href="#content-begin">Skip to content</a></div>

<header id="header" class="{{#audience}}header--audience{{/audience}}">

    <div class="row" >
        {{#audience}}
            <div id="header-audience">

                {{#authenticated}}
                    <div class="btn-group">
                        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">{{first-name}}&nbsp;{{last-name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Email</a></li>
                            <li><a href="#">MMS</a></li>
                            <li><a href="#">Moodle</a></li>
                            <li><a href="#">MySaint</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out</a></li>
                        </ul>
                    </div>
                {{else }}

                    {{#each links}}
                        <a class="audience" href="{{this}}">{{@key}}</a>
                    {{/each}}

                {{/authenticated}}

            </div>
        {{/audience}}

        <div id="logo-container">
            <div id="header-logo"><h1><a href="http://www.st-andrews.ac.uk/"><span>University of St Andrews</span></a></h1></div>
        </div>

        <div id="header-search" role="search">

            <button class="btn btn-link" id="header-search-trigger" name="btnG" type="button" value="" /><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

            <form action="http://www.st-andrews.ac.uk/gsasearch" method="get">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-link" id="header-search-close" name="btnG" type="button" value=""/><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </span>
                    <input class="form-control" name="q" type="text" title="Enter search keywords" maxlength="256" placeholder="Search the University website..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="header-search-submit" name="btnG" type="submit" value="Search"/><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>

                <input name="site" type="hidden" value="StAndrews_ITS"/>
                <input name="output" type="hidden" value="xml_no_dtd"/>
                <input name="client" type="hidden" value="StAndrews_ITS"/>
                <input name="proxystylesheet" type="hidden" value="StAndrews_ITS"/>
            </form>

        </div>

    </div>

</header>


<!-- End pattern: header //-->
