---
title: Header
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The header pattern includes the University logo and search field. The header may also include audience-specific navigation links above the search bar.</p>

<h3>Rules for the header</h3>
<ul>
	<li>The header must be included at the top of all webpages.</li>
	<li>The University logo used for the header must be the "Founded in 1413" variant in black.</li>
	<li>The background colour of the header must always be white.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#header-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/header-options.options}}
</ul>
</div>
</div>
{{#header-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{>  header}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> header}}</code></pre>
<!--endnoindex-->
{{/header-options.options}}
