<div class="dpl-form">
{{#if select-box}}
	<div class="row">
	    <div class="col-md-6">
	        <div class="form-group select-box">
	            <label class="form-label" {{#if id}}for="{{id}}"{{/if}}>{{label-text}}</label>
	            <p class="help-block" id="help-{{option-anchor}}">Please select your student status.</p>
	            <select class="{{class}}" {{#if id}}id="{{id}}" name="{{id}}"{{/if}} aria-describedby="help-{{option-anchor}}">
	                <option value="">Please select one of the following…</option>
	                {{#each options}}
	                <option value="{{option-value}}">{{text}}</option>
	                {{/each}}
	            </select>
				{{#if conditional-id}}
				<div class="conditional-content-select" aria-hidden="true">
					<label class="control-label" for="{{conditional-id}}">Other</label>
					<input class="form-control" id="{{conditional-id}}" type="text">
				</div>
				{{/if}}
	        </div>
	    </div>
	</div>
{{else if radio-check}}
	<div class="form-group">
	    <fieldset class="{{class}}" aria-describedby="help-{{option-anchor}}">
		    <legend><span class="font-weight--bold">{{option-text}}</span></legend>
		    <p class="help-block" id="help-{{option-anchor}}">{{option-text-help}}</p>
	        <ul>
	        	{{#each option-boxes}}
	        	<li>
	                <input {{#if class}}class="{{class}}"{{/if}} type="{{type}}" value="{{option-value}}" id="{{id}}" name="{{name}}">
	                <label for="{{id}}">{{label}}</label>
	                <div class="check">{{#if checkbox}}<i class="fa fa-check" title="checked"></i>{{/if}}</div>
	            </li>
	            {{/each}}
	        </ul>
	    </fieldset>
	    {{#if conditional-id}}
	    <div class="conditional-content-radio" aria-hidden="true">
			<label class="control-label" for="{{conditional-id}}">Other</label>
			<input class="form-control" id="{{conditional-id}}" name="conditional" type="text">
		</div>
		{{/if}}
	</div>
{{else}}
{{#if field-legend}}
	<fieldset>
	<legend><h3>{{field-legend}}</h3></legend>
{{/if}}
	{{#each columns}}
	<div class="row">
		<div class="{{column-size}}">
			<div class="form-group">
				{{#if wrapper}}
				<div class="{{wrapper}}">
				{{/if}}
				{{#each input}}
				<label class="form-label" for="{{input-id}}">{{label-text}}</label>
				{{#if hint}}
				<div class="help-block" id="help-{{input-id}}">{{hint}}</div>
				{{/if}}
				{{#if input-addon}}
				<div class="input-group">
				{{/if}}
				{{#if addon-before}}
				<div class='input-group-addon'>{{{addon-before}}}</div>
				{{/if}}
				{{#if textarea}}
				<textarea {{#if hint}}aria-describedby="help-{{input-id}}"{{/if}} class="{{class}}" rows="3" id="{{input-id}}" name="{{input-id}}" {{#if counter}}maxlength="{{counter}}"{{/if}}></textarea>
				{{#if counter}}
				<div class="textarea_feedback"></div>
				{{/if}}
				{{else}}
				<input {{#if hint}}aria-describedby="help-{{input-id}}"{{/if}} type="{{type}}" id="{{input-id}}" class="{{input-class}}" name="{{input-id}}"{{{size}}}{{required}}{{{number}}}>
				{{/if}}
				{{#if addon-after}}
				<div class='input-group-addon'>{{{addon-after}}}</div>
				{{/if}}
				{{#if input-addon}}
				</div>
				{{/if}}
				{{/each}}
				{{#if wrapper}}
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	{{/each}}
{{#if field-legend}}
	</fieldset>
{{/if}}
{{/if}}
{{#if submit-button}}
	<div class="row">
	    <div class="col-md-6">
			<button type="submit" class="btn btn-lg btn-primary">Submit</button>
		</div>
	</div>
{{/if}}
</div>