<div class="container">

    <h2>{{updates-title}}</h2>

    <div class="row">
        <div class="col-md-8 news-updates">
            <figure>
                <img src="{{thumbnail}}" alt="news story">
                <figcaption><small>{{photograph-credit}}</small></figcaption>
            </figure>

            <h4><a href="#">{{featured-update}}</a></h4>

            <p>{{featured-update-content}}</p>

            <p><a href="#" class="btn btn-primary">Continue reading</a></p>
        </div>
        <div class="col-md-4">

            <div class="row">
                <div class="col-xs-6 col-md-12 news-updates news-updates-small">
                    <figure>
                        <img src="{{thumbnail}}" alt="news story">
                    </figure>

                    <h4><a href="#">{{update-2}}</a><br>
                    <small>{{date-2}}</small></h4>
                </div>

                <div class="col-xs-6 col-md-12 news-updates">
                    <figure>
                        <img src="{{thumbnail}}" alt="news story">
                    </figure>

                    <h4><a href="#">{{update-3}}</a><br>
                        <small>{{date-3}}</small></h4>
                </div>
            </div>
        </div>
    </div><!-- .row //-->
</div><!-- .container //-->