<div class="container">
    <h2>{{updates-title}}</h2>
    <div class="row">
        {{#if featured-update}}
        <div class="col-md-8 news-updates">
            <img src="{{thumbnail}}" alt="news story">
            <h3><a href="#">{{featured-update}}</a><br>
                <small>{{date-1}}</small></h3>
            <p>{{featured-update-content}}</p>
            <p><a href="#" class="btn btn-primary">Continue reading</a></p>
        </div>
        {{/if}}
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6 col-md-12 news-updates news-updates-small">
                    <img src="{{thumbnail}}" alt="news story">
                    <h3><a href="#">{{update-2}}</a><br>
                    <small>{{date-2}}</small></h3>
                </div>
                <div class="col-xs-6 col-md-12 news-updates">
                    <img src="{{thumbnail}}" alt="news story">
                    <h3><a href="#">{{update-3}}</a><br>
                        <small>{{date-3}}</small></h3>
                </div>
            </div>
        </div>
    </div>
</div>