<div class="news-updates">
    <div class="container">
        <div class="row">
            {{#if featured-title}}
            <div class="{{column-size-main}}">
                <div class="news-updates__article-link">
                {{#if big-thumbnail}}
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-12">
                    <a href="#article"><img src="{{featured-thumbnail}}" alt="news story" class="news-updates__image news-updates__image--featured"></a>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-12">
                    <h4 class="news-updates__heading news-updates__heading--large"><a href="#article">{{featured-title}}</a></h4>
                    <p>{{featured-content}}</p>
                    <small>{{featured-date}}{{#if show-featured-category}}<span class="news-updates__category news-updates__category--inline"><a href="#category">{{featured-category}}</a></span>{{/if}}</small> 
                </div>
                </div>
                {{else}}
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-5">
                        <a href="#article"><img src="{{featured-thumbnail}}" alt="news story" class="news-updates__image"></a>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-7">
                        <h4 class="news-updates__heading"><a href="#article">{{featured-title}}</a></h4>
                        <p>{{featured-content}}</p>
                        <small>{{featured-date}}{{#if show-featured-category}}<span class="news-updates__category news-updates__category--inline"><a href="#category">{{featured-category}}</a></span>{{/if}}</small> 
                    </div>
                </div>
                {{/if}}
                </div>
            </div>
            {{/if}}
            <div class="{{column-size-secondary}}">
            <div class="row">
            {{#each secondary-update}}
                <div class="{{column-span-secondary}} col-md-12 news-updates__secondary news-updates__article-link">
                    <div class="row">
                {{#if alternate-layout}}
                        <div class="col-xs-12 col-sm-4">
                            <a href="#article"><img src="{{secondary-thumbnail}}" alt="news story" class="news-updates__image"></a>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h4 class="news-updates__heading"><a href="#article">{{secondary-title}}</a></h4>
                            <p>{{secondary-content}}</p>
                            <small>{{secondary-date}}{{#if show-secondary-category}}<span class="news-updates__category news-updates__category--inline"><a href="#category">{{secondary-category}}</a></span>{{/if}}</small>
                        </div>
                 {{else}}
                    {{#if secondary-thumbnail}}
                        <div class="col-sm-5">
                            <a href="#article"><img src="{{secondary-thumbnail}}" alt="news story" class="news-updates__image"></a>
                        </div>
                        <div class="col-sm-7">
                    {{else}}
                        <div class="col-xs-12">
                    {{/if}}
                            <h4 class="news-updates__heading{{heading-size}}"><a href="#article">{{secondary-title}}</a></h4>
                            <small>{{secondary-date}}{{#if show-secondary-category}}
                            <span class="news-updates__category"><a href="#category">{{secondary-category}}</a></span>{{/if}}</small>
                        </div>
                {{/if}}
                    </div>
                </div>
            {{/each}}
            </div>
            </div>
        </div>
    </div>
</div>