<div class="news-updates">
    <div class="container">
        <div class="row">
            {{#if featured-title}}
            <div class="{{column-size-main}}">
                <article class="news-updates__article-link">
                {{#if big-thumbnail}}
                <div class="row">
                    <figure class="col-xs-12 col-sm-4 col-md-12">
                    <a href="#article" tabindex="-1"><img src="{{featured-thumbnail}}" alt="news story" class="news-updates__image news-updates__image--featured"></a>
                    </figure>
                    <div class="col-xs-12 col-sm-8 col-md-12">
                    <h4 class="news-updates__heading news-updates__heading--large"><a href="#article">{{featured-title}}</a></h4>
                    <p>{{featured-content}}</p>
                    <dl class="metadata-list">
                        <dt class="sr-only">Date</dt><dd>{{featured-date}}</dd>
                        {{#if show-featured-category}}<dt class="sr-only">Category</dt><dd><a href="#" class="featured-news__category">{{featured-category}}</a></dd>{{/if}}
                    </dl>    
                </div>
                </div>
                {{else}}
                <div class="row">
                    <figure class="col-xs-12 col-sm-4 col-md-5">
                        <a href="#article" tabindex="-1"><img src="{{featured-thumbnail}}" alt="news story" class="news-updates__image"></a>
                    </figure>
                    <div class="col-xs-12 col-sm-8 col-md-7">
                        <h4 class="news-updates__heading"><a href="#article">{{featured-title}}</a></h4>
                        <p>{{featured-content}}</p>
                        <dl class="metadata-list">
                            <dt class="sr-only">Date</dt><dd>{{featured-date}}</dd>
                            {{#if show-featured-category}}<dt class="sr-only">Category</dt><dd><a href="#" class="featured-news__category">{{featured-category}}</a></dd>{{/if}}
                        </dl>  
                    </div>
                </div>
                {{/if}}
                </article>
            </div>
            {{/if}}
            <div class="{{column-size-secondary}}">
            <div class="row">
            {{#each secondary-update}}
                <article class="{{column-span-secondary}} col-md-12 news-updates__secondary news-updates__article-link">
                    <div class="row">
                {{#if alternate-layout}}
                        <figure class="col-xs-12 col-sm-4">
                            <a href="#article" tabindex="-1"><img src="{{secondary-thumbnail}}" alt="news story" class="news-updates__image"></a>
                        </figure>
                        <div class="col-xs-12 col-sm-8">
                            <h4 class="news-updates__heading"><a href="#article">{{secondary-title}}</a></h4>
                            <p>{{secondary-content}}</p>
                            <dl class="metadata-list">
                                <dt class="sr-only">Date</dt><dd>{{secondary-date}}</dd>
                                {{#if show-secondary-category}}<dt class="sr-only">Category</dt><dd><a href="#" class="featured-news__category">{{secondary-category}}</a></dd>{{/if}}
                            </dl>  
                        </div>
                 {{else}}
                    {{#if secondary-thumbnail}}
                        <figure class="col-sm-5">
                            <a href="#article" tabindex="-1"><img src="{{secondary-thumbnail}}" alt="news story" class="news-updates__image"></a>
                        </figure>
                        <div class="col-sm-7">
                    {{else}}
                        <div class="col-xs-12">
                    {{/if}}
                            <h4 class="news-updates__heading{{heading-size}}"><a href="#article">{{secondary-title}}</a></h4>
                            <dl class="metadata-list">
                                <dt class="sr-only">Date</dt><dd class="metadata-list--full">{{secondary-date}}</dd>
                                {{#if show-secondary-category}}<dt class="sr-only">Category</dt><dd class="metadata-list--full"><a href="#" class="featured-news__category">{{secondary-category}}</a></dd>{{/if}}
                            </dl>  
                        </div>
                {{/if}}
                    </div>
                </article>
            {{/each}}
            </div>
            </div>
        </div>
    </div>
</div>