<div class="container">
    {{#if big-thumbnail}}
    <div class="row">
        <div class="col-md-6 col-lg-8">
            <h2>{{title}}</h2>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 read-more read-more-container">
            <a href="#">{{button-text}}</a>
        </div>
    </div>
    {{else}}
    <h3>{{title}}</h3>
    {{/if}}
    <div class="row">
        {{#if featured-title}}
        <div class="{{column-size-main}} news-updates{{#if big-thumbnail}} case-studies{{/if}}">
            {{#if big-thumbnail}}
                <a href="#"><img src="{{featured-thumbnail}}" alt="news story" class="featured-image"></a>
                <h4><a href="#">{{featured-title}}</a><br>
                <small>{{featured-date}}</small></h4>
                <p>{{featured-content}}</p>
            {{else}}
            <div class="col-sm-4">
                <a href="#"><img src="{{featured-thumbnail}}" alt="news story"></a>
            </div>
            <div class="col-sm-8">
                <h4><a href="#">{{featured-title}}</a><br>
                <small>{{featured-date}}</small></h4>
                <p>{{featured-content}}</p>
            </div>
            {{/if}}
        </div>
        {{/if}}
        <div class="{{column-size-secondary}} news-updates{{#if big-thumbnail}} case-studies{{/if}}">
        {{#each secondary-update}}
            <div class="col-xs-6 col-md-12 news-updates-secondary">
            {{#if rounded-thumbnail}}
                <div class="col-sm-6 col-md-9">
                    <h4><a href="#123">{{secondary-title}}</a><br>
                    <small>{{secondary-date}}</small></h4>
                    <p>{{secondary-content}}</p>
                </div>
                <div class="col-sm-6 col-md-3">
                        <a href="#123"><img src="{{secondary-thumbnail}}" alt="news story" class="rounded-thumbnail"></a>
                </div>
             {{else}}
                <div class="col-sm-6">
                        <a href="#123"><img src="{{secondary-thumbnail}}" alt="news story"></a>
                </div>
                <div class="col-sm-6">
                    <h4><a href="#123">{{secondary-title}}</a><br>
                    <small>{{secondary-date}}</small></h4>
                </div>
            {{/if}}
            </div>
        {{/each}}
        </div>
    </div>
</div>