---
title: News updates
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The news updates pattern displays featured links including meta data in two columns. The pattern is intended for landing pages and provides a solution for linking to articles, such as news items or blog posts.</p>

<h2>Rules for news updates</h2>
<ul>
	<li>There must be only one news updates section on a page.</li>
	<li>There must be a maximum of one category per article link.</li>
	<li>Featured images must be 750 &times; 500 pixels.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#news-updates-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/news-updates-options.options}}
</ul>
</div>
</div>
{{#news-updates-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> news-updates}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> news-updates}}
```
{{/markdown}}
<!--endnoindex-->
{{/news-updates-options.options}}