<!-- Begin pattern: event-tile //-->
<div class="event-grid{{bg-color}}">
	<div class="container">
		<div class="row">
			<div class="col-md-6{{#if single-call-to-action}} col-lg-8{{/if}}">
				<h2 class="event-grid__heading">{{heading}}</h2>
			</div>
			{{#if call-to-action}}
			{{#each call-to-action-text}}
			<div class="{{read-more-size}} read-more">
				<a href="#">{{title}}</a>
			</div>
			{{/each}}
			{{/if}}
		</div>
		<div class="event-grid__tiles">
			{{#each tiles}}
			<div class="featured-event{{status}}">
				<div class="expanded-link-wrapper">
					<div class="featured-event__image">
					      <img 
					      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					      data-src="{{asset image.url-360x240}}"
					      alt="{{image.alt}}"
					      class="lazyload">
				   	</div>
			        <div class="featured-event__details">
						<a href="#"><h3 class="featured-event__heading">{{title}}</h3></a>
			            <dl class="metadata-list inherit--colour">
				            <dt class="metadata-list--full"><i class="far fa-calendar-alt" aria-hidden="true" title="Date"></i><span class="sr-only">Date</span></dt>
				            <dd class="metadata-list--full">{{date-display}}</dd>
				            <dt class="metadata-list--full"><i class="fas fa-map-marker-alt" aria-hidden="true" title="Location"></i><span class="sr-only">Location</span></dt>
				            <dd class="metadata-list--full">{{event-location}}</dd>
				        </dl>
				   	</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
<!-- End pattern: event-tile //-->