---
title: Responsive embed
---

<p>The responsive embed pattern automatically determines the dimensions of media content based on the width of the containers they are embedded in. A fixed ratio allows embedded content to scale appropriately on any device.</p>

<h3>Rules for the responsive embed</h3>
<p>This wrapper div must have two classes: <code>embed-responsive</code> plus one that determines its aspect ratio.</p>
<p>There are two ratios available:</p>
<ul>
<li><strong>16:9</strong> <code>embed-responsive-16by9</code>. Use this to show videos, it is better suited for use with HD media.</li>
<li><strong>4:3</strong> <code>embed-responsive-4by3</code>. Use this to display maps, in mobile view a smaller ratio makes them hard to view.</li>
</ul>

<pre><code class="pattern-source html"><div class="embed-responsive embed-responsive-16by9">
	// iframe, embed, video or object with embed-responsive-item class
</div>
</code></pre>

<p>You don't need to include <code>frameborder="0"</code> in your <code>iframe</code> as Bootstrap overrides that for you.</p>

<hr>
<h3>Options available</h3>
<ul>
{{#responsive-embed-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/responsive-embed-options.options}}
</ul>

{{#responsive-embed-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> responsive-embed}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> responsive-embed}}</code></pre>
<!--endnoindex-->
{{/responsive-embed-options.options}}