<!-- Begin pattern: search-bar //-->
{{#if full-width}}
<div class="search-bar{{#if background-color}} {{background-color}}{{/if}}" {{#if bg-image}}style="background-image: url({{asset bg-image}});"{{/if}}>
{{/if}}
	<div class="container">
		{{#if constrain-width}}
		<div class="col-md-8">
		<div class="row">
		<div class="search-bar search-bar__constrained{{#if background-color}} {{background-color}}{{/if}}">
		{{/if}}
		{{#if search-header}}<h3 class="search-bar__heading">{{search-header}}</h3>{{/if}}
		{{#if search-subtext}}<p class="search-bar__sub-heading">{{search-subtext}}</p>{{/if}}
	    <form class="dpl-form" action="">
	    	{{#if search-button}}
	        <div class="input-group input-group-lg">
	        {{/if}}
            {{#if results}}
            <div class="form-group">
	        {{/if}}
	            {{#if title}}<span class="input-group-addon search-bar__inline-title">{{title}}</span>{{/if}}
	            <input id="{{input-id}}" class="form-control" type="text" title="Enter search keywords" maxlength="256" name="search" placeholder="{{placeholder}}">
	        {{#if search-button}}
	            <span class="input-group-btn">
	                <button class="btn btn-primary" value="Search" type="submit">
	                    <i class="fa fa-search" title="Search"></i>
	                </button>
	            </span>
	        {{/if}}
	        </div>
	        {{#if search-tags}}
	        <div class="results">
	        	<div class="row">
	    			<div class="col-md-12"></div>
	    		</div>
	        </div>
	        {{/if}}
            {{#if results}}
            <div class="results results__box">
            	<div class="row">
                	<div class="col-md-6 left-column"></div>
                    <div class="col-md-6 right-column"></div>
                </div>
            </div>
            {{/if}}
	    </form>
	    {{#if horizontal-list}}
	    <div class="horizontal-list">
	        <h4 class="horizontal-list__toggle">
	        	<button class="horizontal-list__toggle-button">Popular searches</button>
	        </h4>
	        <ul>
	            <li><a href="#">Upcoming events</a></li>
	            <li><a href="#">Today</a></li>
	            <li><a href="#">This week</a></li>
	            <li><a href="#">This month</a></li>
	            <li><a href="#">All events</a></li>
	            <li class="dropdown-wrapper">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#">More options<span class="caret"></span></a>
	                <ul class="dropdown-menu">
	                    <li><a href="#">Events open to the public</a></li>
	                    <li><a href="#">Events for staff and students</a></li>
	                    <li><a href="#">Lectures</a></li>
	                    <li><a href="#">Seminars</a></li>
	                    <li><a href="#">Workshops</a></li>
	                    <li><a href="#">Chaplaincy events</a></li>
	                    <li><a href="#">Music events</a></li>
	                    <li><a href="#">Museum events</a></li>
	                    <li><a href="#">Theatre events</a></li>
	                </ul>
	            </li>
	        </ul>
    	</div>
	   {{/if}}
	    {{#if horizontal-list-links}}
	    <div class="horizontal-list">
	        <h4 class="horizontal-list__toggle">
	        	<button class="horizontal-list__toggle-button">Additional options</button>
	        </h4>
	        <ul>
	            <li><a href="#">Advanced search</a></li>
	        </ul>
    	</div>
	   {{/if}}
		{{#if constrain-width}}
			</div>
		</div>
		</div>
	   {{/if}}
	</div>
{{#if full-width}}
</div>
{{/if}}
<!-- End pattern: search-bar //-->