---
title: Search bar
---

<p>The search bar is used to search pages of the University website. </p>

<h3>Rules for the search bar</h3>
<ul>
    <li>There must be no more than one search bar option in the body section of a page.</li>
    <li>The search bar text field must not auto-complete user's query.</p>
</ul>

<h3>Options available</h3>
<ul>
{{#search-bar-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/search-bar-options.options}}
</ul>

{{#search-bar-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{>  search-bar}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> search-bar}}</code></pre>
{{/search-bar-options.options}}