---
title: Search bar
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The search bar is used to search pages of the University website. </p>
<p>Once a search term has been entered an additional 'clear' button is shown with a number of different behaviours:</p>
<ul>
	<li>The default behavior is to clear the search input field - enabling a new search to be entered.</li>
	<li>This can be changed to resubmit the form with a blank search by adding the class <code>clear-icon__resubmit</code> to the clear button.</li>
	<li>This can be further changed to instead clear any suggested results by adding the class <code>clear-icon__results</code> to the clear button.</li>
</ul>
<h2>Options available</h2>
<ul>
{{#search-bar-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/search-bar-options.options}}
</ul>
</div>
</div>
{{#search-bar-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{>  search-bar}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> search-bar}}</code></pre>
<!--endnoindex-->
{{/search-bar-options.options}}