---
title: Search bar
---

<p>The search bar pattern can be used in a variety of roles and places on a page.</p>

<h3>Rules for the search bar</h3>
<ul>
    <li>There must only be one of each search per page.</li>
  	<li>The search option must be used alongside another pattern, such as the header pattern.</li>
    <li>The search button with tag buttons option must only pull results from the child pages.</li>
    <li>Only tag buttons must be used with the search banner with tag buttons option.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#search-bar-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/search-bar-options.options}}
</ul>

{{#search-bar-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>{{>  search-bar}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> search-bar}}</code></pre>
{{/search-bar-options.options}}