---
title: Breadcrumbs
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The breadcrumbs pattern indicates the current page's location within a navigational hierarchy in relation to the website's homepage.</p>

<h2>Rules for the breadcrumbs</h2>
<ul>
	<li>Must not be used on any page that uses the <a href="../hero-banner/index.html">hero banner</a> pattern such as the University's homepage.</li>
	<li>Must not be used on  <a href="../../patterns.html#Long-form">long-form</a> pages.</li>
    <li>Must be used at the top of content pages, sitting immediately beneath the <a href="../navigation-bar/index.html">navigation bar</a> and above the page content.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#breadcrumbs-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/breadcrumbs-options.options}}
</ul>
</div>
</div>
{{#breadcrumbs-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> breadcrumbs}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> breadcrumbs}}
```
{{/markdown}}
<!--endnoindex-->
{{/breadcrumbs-options.options}}