---
title: Typefaces
---

<p>There are two main typefaces used across the University website: <a href="https://fonts.google.com/specimen/PT+Sans">PT Sans</a> and <a href="https://fonts.google.com/specimen/PT+Serif">PT Serif</a>. Both are freely available from <a href="https://fonts.google.com/">Google Fonts</a>.</p>

<h3>Options available</h3>
<ul>
{{#typefaces-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/typefaces-options.options}}
</ul>

{{#typefaces-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
{{> typefaces}}
{{/typefaces-options.options}}