---
title: Long-form credits
---

<p>The long-form credits section wraps up the long-form content and should be the final item before the footer. This pattern must be included.</p>

<h3>Rules for long-form credits</h3>
<ul>
  <li>The Credits and Contact sections must be included.</li>
  <li>The Thanks and Sources sections may be included.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#long-form-credits-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/long-form-credits-options.options}}
</ul>

{{#long-form-credits-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
{{> long-form-credits}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> long-form-credits}}</code></pre>
{{/long-form-credits-options.options}}