---
title: Long-form credits
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The long-form credits section wraps up the long-form content and should be the final item before the footer. This pattern must be included.</p>

<h2>Rules for long-form credits</h2>
<ul>
  <li>The Credits and Contact sections must be included.</li>
  <li>The Thanks and Sources sections may be included.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#long-form-credits-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/long-form-credits-options.options}}
</ul>
</div>
</div>
{{#long-form-credits-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> long-form-credits}}
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> long-form-credits}}</code></pre>
<!--endnoindex-->
{{/long-form-credits-options.options}}