---
title: Pagination
---

<p>Pagination links indicate a series of additional content that exists across multiple pages. Typically these are used where a multi-page approach to long lists of content improves general performance, such as in search results.</p>

<h3>Rules for pagination</h3>
<ul>
    <li>Pagination must be used on search results and tables where they have multiple pages, for example, <a href="../datatables/index.html">DataTables</a>.</li>
    <li>Pager must be use on pages using the <a href="../more-news/index.html">more news</a> pattern.</li>
</ul>
<h3>Options available</h3>
<ul>
{{#pagination-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/pagination-options.options}}
</ul>

{{#pagination-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}    
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> pagination}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> pagination}}</code></pre>
{{/pagination-options.options}}
