---
title: Pagination
---

<div class="row">
	<div class="col-md-8">
<p class="lead">Pagination links allows users to navigate a set of content that is divided between multiple pages or views. This pattern is typically used when a large set of results requires to be split for performance reasons, or when the ability to access a specific listings page is a user requirement.</p>

<h2>Rules for pagination</h2>
<ul>
    <li>Pagination must be used on search results and tables which have multiple pages, for example, <a href="../datatables/index.html">DataTables</a>.</li>
    <li>Pagination must have a wrapping <code>&lt;nav&gt;</code> element to identify it as a navigation section to screen readers and other assistive technologies.</li>
    <li>As pages likely have more than one such navigation section, it’s advisable to provide a descriptive aria-label for each <code>&lt;nav&gt;</code> block to reflect its purpose.</li> 
    <li>Links are customisable for different circumstances. Use <code>.disabled</code> for unclickable links and <code>.active</code> to indicate the current page.</li>
</ul>
<h2>Options available</h2>
<ul>
{{#pagination-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/pagination-options.options}}
</ul>
</div>
</div>
{{#pagination-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}  
</div>
</div>  
<!--noindex-->
<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> pagination}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> pagination}}
```
{{/markdown}}
<!--endnoindex-->
{{/pagination-options.options}}
