---
title: Tables
---

<p class="lead">The tables pattern is for displaying text-based content within tables.</p>

<h2>Rules for tables</h2>
<ul>
    <li>Tables must not be used for more than two columns.</li>
    <li>If your content requires more than two columns use the <a href="../datatables/index.html">DataTables pattern</a> for more complex datasets as they offer a responsive solution.</li>
    <li>Tables must include a <code>table-striped</code> class on the table element to add a background colour to alternate rows—this aids readability.</li>
    <li>You must only use text-based content within tables.</li>
</ul>

<h3>Colour headings</h3>
<p>You also have the option of other colours for the table header. Secondary and tertiary table headers are used on pages currently using the secondary and tertiary palette themes.</p>

<p>For further reference on colour palettes, see the <a href='../../colours.html'>colours page</a>.</p>

<h2>Options available</h2>
<ul>
{{#tables-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/tables-options.options}}
</ul>

{{#tables-options.options}}
<hr>
<h3 id={{option-anchor}}>{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
{{> tables}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> tables}}</code></pre>
<!--endnoindex-->
{{/tables-options.options}}